[2022-01-24 18:59] hppritcha commented on #534
We discussed this issue in today's Sessions WG meeting.   The example in 11.9 is passing a pointer to a variable of type ```MPI_Group``` not a pointer to ```MPI_GROUP_NULL``` so the WG thinks that example is correct.

The second point raises a good point and will be addressed by a pull request targeting the MPI 4.1 standard.

[2022-01-25 16:22] cniethammer commented on #534
Thanks a lot for clarifying this in the WG and taking care of the second point.

[2022-01-25 17:57] abouteiller commented on #20
## New version:
[ft-annotated-with-ackfailed.pdf](https://github.com/mpi-forum/mpi-issues/files/7935978/ft-annotated-with-ackfailed.pdf)

This is an update that substitutes the 'ack/get_acked' functions with 'get_failed/ack_failed' functions, as we decided during the last forum meeting.

## Experimental version  (for comment):
[ft-annotated-with-modes.pdf](https://github.com/mpi-forum/mpi-issues/f

[2022-01-25 18:01] christgau commented on #512
Just a quick thought on the original issue: Since the MPI report is actually a private repo here at Github, adding a citation file in that repo might be helpful. It could be used as source file for the citation which finally appears in the report. On the other hand, the [raw citation file(s)](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-r

[2022-01-29 19:21] jeffhammond commented on #512
FWIW I don't really care how people cite MPI as long as they don't use anything that's obviously wrong.

Since no authors are listed, it's not like this contributes to our citation count.

[2022-01-31 18:44] RolfRabenseifner commented on #534
This sentence does not say "which is **only** returned when a group is freed".

Therefore, I would not see that the MPI standard is inconsistent, i.e., also other routines may return MPI_GROUP_NULL in a similar case, i.e., where there isn't  a group that can be returned.
The currently proposed PR, that just removes the description of parts of the outcome of MPI_Group_from_session_pset would be a n

[2022-01-31 19:33] hppritcha commented on #534
I like @RolfRabenseifner 's suggestion.

[2022-01-31 22:53] cniethammer commented on #534
Agree with @RolfRabenseifner.

For me adding an ",.e.g.," to the Advice to users seems sufficient to make the user aware of this

[2022-02-01 16:11] Wee-Free-Scot opened #536 "New example showing differences between MPI_COMM_FREE and MPI_COMM_DISCONNECT"
# Problem

The usage differences between MPI_COMM_FREE and MPI_COMM_DISCONNECT are implied by the current normative text but an example shows more clearly the range of freedom permitted.

# Proposal

Add an instructive example showing when MPI_COMM_FREE can be used but MPI_COMM_DISCONNECT cannot replace it.

# Changes to the Text

Add example as follows:

[code]

# Impact on Implementations

None

[2022-02-02 12:58] jeffhammond commented on #528
@RolfRabenseifner So you would rather add non-normative text to the standard to explain Fortran casting rules, which most users will never read, than add text to the standard that requires implementers to make this "just work" in the same way that C does, without them having to know anything?

How many other new user-friendly features will you reject because we can instead provide an example of ho

[2022-02-02 13:02] jeffhammond commented on #528
In any case, @RolfRabenseifner, it already says this feature only applies to mpi_f08.mod here:

[2022-02-02 13:06] jeffhammond commented on #528
Also, the difference between `0` and `integer(0,MPI_ADDRESS_KIND)` is nontrivial in column-limited environments.  This is actually going to increase the _line count_ of my MPI Fortran programs, which is a pain in the ass for a bunch of reasons (e.g. multi-line `grep` is tedious).

[2022-02-02 14:16] RolfRabenseifner commented on #528
If all MPI implementors and all tools implementors say that they are happy with implementing this enhancement, I have no problem with it, as long as this non-trivial enhancement is correctly added to the MPI standard, see my hints above. Because it is not trivial, a reference implementations would be need to be 100% sure that the amended MPI standard is consistent. And same sentence for the tools

[2022-02-02 14:21] RolfRabenseifner commented on #528
As long as MPI does not provide a solution, and as long as it is mainly about such long zeros, you may define a very short constant, e.g. ZL, which is of type  `integer(kind=MPI_ADDRESS_KIND)` and with value  `0`.

[2022-02-02 15:54] certik commented on #528
This is an example of the kinds of issues that any Fortran library is facing, in order to make the Fortran API as easy and as natural to use in Fortran.

Speaking as a Fortran user, the most natural for a foundational library such as MPI is to provide the same interface as any other "native" Fortran functions, such as `sin(x)`. Those functions are overloaded for all real kinds, so you can simply d

[2022-02-03 08:59] wrwilliams commented on #519
Summary from forum meeting 2FEB2022:

* This should depend on, but be separate from, #468. We cannot reasonably write text describing these new functions without *good* text for `MPI_Request_get_status`, which we currently lack. @Wee-Free-Scot is working on this; I am happy to help out there. Once #468 has at least a clear proposal it will be straightforward to write a parallel proposal here.
* Th

[2022-02-03 16:58] jeffhammond commented on #528
@dholmes-epcc-ed-ac-uk correctly notes there is a similar inconsistency with `MPI_Neighbor_alltoallw`.

[2022-02-03 22:02] cniethammer commented on #528
@dholmes-epcc-ed-ac-uk @jeffhammond Could you outline the inconsistency with `MPI_Neighbor_alltoallw` you see. Looking at the MPI 4.0 function description for `MPI_Neighbor_alltoallw` I cannot see a similarity.
The `in` parameters of kind `INTEGER(KIND=MPI_ADDRESS_KIND)` for this function are `sdispls(*)` and `rdispls(*)`. As those are arrays I would assume, that a user has to define those anyway?

[2022-02-03 23:49] correaa commented on #536
For completeness, what should happen if you replace `_free` with `_disconnect`? The program should hang?

[2022-02-04 11:47] Wee-Free-Scot commented on #536
It is not stated explicitly, but I would expect that such a program is erroneous. A high quality implementation of MPI might raise an error on the first usage of the communicator after its disconnection, but a valid MPI implementation might set the datacenter on fire.

[2022-02-04 11:53] Wee-Free-Scot commented on #528
The principle that was (mostly) followed during the Large Count effort was: we provide exactly two overloads (separate procedures for C, specific procedures inside an interface for Fortran) -- one which has all small parameters and another that has all big parameters.

This principle, in the absence of precedent from MPI-3.1 (as before), should have meant that one of the overloads required an arra

[2022-02-04 12:28] Wee-Free-Scot commented on #536
I could make an argument that the error code/class that should be used for this situation is MPI_ERR_PROC_FAILED, at least in the case of ULFM, because the link to the other MPI process has been destroyed, no alternative link can serve the same purpose (even though communication may still be possible between the OS processes that host the MPI processes, the specific context of that destroyed commu

[2022-02-04 13:59] raffenet commented on #536
MPICH will hang. Confirmed in testing.

[2022-02-04 13:59] raffenet commented on #536
MPICH will hang. Confirmed in testing.

[2022-02-07 01:37] correaa commented on #536
I don't know if we are in the same page but I think hanging out (with `_DISCONNECT`) is a perfectly valid instance of UB.

[2022-02-07 06:34] RolfRabenseifner commented on #534
And please be additionally aware of the use of MPI_REQUEST_NULL as output argument of MPI_WAIT & TEST and also as input argument of MPI_WAITALL & TESTALL, ...ANY, ...SOME.

[2022-02-07 16:39] devreal commented on #536
This example definitely needs surrounding text explaining why I should not replace `MPI_Comm_free` with `MPI_Comm_disconnect`. I tried to figure out why just by reading the description of the two functions and found the text for `MPI_Comm_disconnect` to be somewhat inconsistent:

The "complete" implies that there may not be any incomplete communication. So that supports the comment in the example

[2022-02-08 20:35] tonyskjellum opened #537 "MPI_Parrived_any API as an addition for Partititioned Communication"
# Problem

The ability to take the next available partition is not supported in the current MPI-4.0 API.

# Proposal

The API:

MPI_Parrived_any(MPI_Request prequest, int \*partition, int \*flag); /\* C interface \*/

The flag will return true if a partition was available, or else false.  If true, then the variable partition will be filled with the partition delivered (based on receive-side partit

[2022-02-10 02:06] tonyskjellum commented on #83
FYI, we are working on this again for MPI-4.1

[2022-02-10 18:47] GuillaumeMercier opened #538 "Allow pset names to guide splitting in MPI_Comm_split_type"
# Problem

Expand the possiblities of `MPI_Comm_split_type` by allowing the splitting to be guided by a process set name.
Since pset names can designate a hadware resource, this creates a bridge between two parts of the standard
that address the issue of hardware topologies management.

# Proposal

Introduce a new split_type value (`MPI_COMM_TYPE_RESOURCE_GUIDED`) along with a new info keyval
(`mp

[2022-02-10 19:48] GuillaumeMercier opened #539 "Deprecate MPI_COMM_TYPE_HW_GUIDED"
# Problem
`MPI_COMM_TYPE_RESOURCE_GUIDED` achieves the same objective as
`MPI_COMM_TYPE_HW_GUIDED` and is more generic. There would be no need
for both, provided that `MPI_COMM_TYPE_RESOURCE_GUIDED`  is voted in.

# Proposal
Deprecate the use of `MPI_COMM_TYPE_HW_GUIDED`

# Changes to the Text
Remove the text that defines `MPI_COMM_TYPE_HW_GUIDED` in `MPI_Comm_split_type`
as it will be eventually

[2022-02-11 05:29] bosilca commented on #536
In most places we use pending to denote ongoing communications, aka. communications started but not completed. Thus, I agree with @devreal , persistent not-started communications are not pending, and therefore the constraint on MPI_COMM_DISCONNECT should not apply.

[2022-02-11 22:57] correaa commented on #536
It makes sense, assuming that request are implemented as to run in a thread for example, if the request is not started there is nothing to really cancel or wait for. This type of request is just sitting in a queue of operations, a queue that is freed with the communicator.

The remaining question is what if `MPI_request_free` can be called in a request that didn't start yet, if so then it is all g

[2022-02-12 05:13] bosilca commented on #536
Persistent requests must always be freed or there is a guarantee of memory leak.

For your second question, what is happening if you start the persistent request after the communicator was disconnected or freed, I would assume this should not be allowed, once freed only pending communications should be allowed to complete. To test this, I used the code above with a small change (move the disconnec

[2022-02-15 05:42] bosilca opened #540 "Update examples in the datatype chapter"
# Problem

Example 5.11: the description is incorrect. More precisely "Each of the sends matches any of the receives." might suggest a real matching, instead of the type matching which is what the example tries to do.

Example 5.22 is unreadable. [mpi-standard/642](https://github.com/mpi-forum/mpi-standard/pull/642) is not at fault, the example was unreadable before, but now it just became visibly

[2022-02-15 21:51] schulzm opened #541 "Consistency Updates for MPI_Info Chapter for MPI 4.1"
# Problem

# Proposal

Language fixes for the Info Chapter along the discussed changes for MPI 4.1

# Changes to the Text

See mpi-forum/mpi-standard#647

# Impact on Implementations

None

# Impact on Users

Better understanding of the standard

# References and Pull Requests

mpi-forum/mpi-standard#647

[2022-02-15 21:56] schulzm opened #542 "Correct usage of the terms error and return codes in the tools chapter"
# Problem

The MPI_T interface doesn't use error codes in the typical MPI sense, but rather return codes that are benign and do not invoke error handler. In some areas the language was unclear about this - this ticket fixes this.

# Proposal

Minor changes around error/return codes in the tools chapter.

# Changes to the Text

See [PR #795](https://github.com/mpi-forum/mpi-standard/pull/795)

# Im

[2022-02-16 23:26] bangerth commented on #288
My StackExchange answer from 2013 is posted at the very top of this thread, but it's been 9 years and so let me add a couple more thoughts I've had since then. While I would love to have things such as chainable `.then([&](){...}.then([&](){...}`, I recognize that these are a substantial deviation from what MPI has so far provided.

Here are a couple smaller things that shouldn't actually be that

[2022-02-17 01:22] correaa commented on #288
Hi,

When I got my hands on the article "MPI Language Bindings are Holding MPI Back", I wrote a couple of notes (for myself) as friendly critique to the paper.
I don't disagree with the paper, I just think that there are harder problems than the ones mentioned in the paper:

I will leave here the link to these notes: https://gitlab.com/correaa/boost-mpi3/-/wikis/A-critique-on-%22MPI-Language-Bindi

[2022-02-17 17:11] Wee-Free-Scot commented on #536
Just catching up with this discussion. Thanks for everyone's comments.

For clarity:
* The comment/instruction `// do NOT replace with MPI_Comm_disconnect` was not meant to indicate a requirement/restriction imposed by the MPI Standard, but rather it is an exhortation to future programmers indicating a point of possible brittleness in the code.

My €0.02 is:
* For disconnect, I *want* it to be bad

[2022-02-17 17:58] abouteiller commented on #536
It is erroneous to not complete all requests on the communicator before disconnecting it. That is, the example is -already- erroneous if you substitute COMM_FREE with COMM_DISCONNECT. We don't need new errors to mark the erroneous use of arguments, as we already have ERR_REQUEST, ERR_COMM to indicate use of improper objects.  It is my reading of the standard that the persistent case is 'implicitly

[2022-02-17 18:03] Wee-Free-Scot commented on #536
The counter to this has already been made here: no request is active at the time of the MPI_COMM_FREE/MPI_COMM_DISCONNECT. No rule has been broken.

This is the key ambiguity for the disconnect part.

[2022-02-17 18:17] VictorEijkhout commented on #288
On , 2022Feb16, at 17:26, Wolfgang Bangerth ***@***.******@***.***>> wrote:

  *   If we already accept that MPI functions should return objects by-value and express errors via exceptions, then it is a relatively small step to say that the immediate functions (like Isend, Irecv) shouldn't just return an MPI_Request object, but instead something like a std::future<void> that one can .wait() for.

“

[2022-02-17 18:36] devreal commented on #536
I realized that I used `MPI_Comm_free` in my modified example (https://github.com/mpi-forum/mpi-issues/issues/536#issuecomment-1031674542). It should have been `MPI_Comm_disconnect`. I changed the example.

[2022-02-17 18:42] abouteiller commented on #536
I read in the definition of MPI_FINALIZE

Edit: I got convinced I was over-reading the text, because the REQUEST_FREE is possible when using non-persistent requests, and is probably what is referred to here, as used as a 'completing procedure' for the non-persistent operation.

Prior argument that is probably wrong:

[2022-02-17 18:51] devreal commented on #536
I don't think the definition of `MPI_Finalize` says that I have to free persistent requests before I call `MPI_Finalize`. It says that all communication the process is involved in must be complete before the call. A complete persistent request is by definition, well, complete. There is also no wording that prohibits me from calling `MPI_Request_free` after `MPI_Finalize`. That seems odd to me and

[2022-02-17 19:05] bangerth commented on #288
On 2/17/22 11:17, Victor Eijkhout wrote:

In the end, std::future isn't so bad. How you internally implement making the
future "ready" is something independent of the interface chosen. std::future
has the advantage that everyone is familiar with it, and that it allows
storing an exception in it if the communication ends up failing; it can also
be shared. Inventing a different solution has its cost

[2022-02-17 19:09] jacobmerson commented on #288
As @VictorEijkhout says in C++ futures are a bit of a loaded term and use of `std::future` cause all sorts of lifetime/state issues and is not particularly performant due to this need of shared state. I think any forward looking C++ MPI API should consider the async utilities that are coming into the language via coroutines and [`std::execution`/p2300](http://wg21.link/p2300).

[2022-02-17 19:09] acdemiralp commented on #288
Certainly not sir.

In fact. Here is an mpi::future implementation that does what you people want, without extending/modifying std::future:
https://github.com/acdemiralp/mpi/blob/develop/include/mpi/extensions/future.hpp . It even has a .then() method because why not.

Within the context of MPI, the futures are just a bunch of wrappers for request.wait() and request.get_status(). Syntax sugar.

[2022-02-17 19:41] bangerth commented on #288
On 2/17/22 12:09, Jacob Merson wrote:

I'm all for this kind of stuff. But do you want to standardize on things that
are only available in C++23 or C++26? It's going to be many many years before
a lot of project will be able to use this -- most large high performance
projects lag about five years behind C++ standards because that's how long it
takes for everyone to have compilers that support a st

[2022-02-17 20:20] sg0 commented on #288
Technical reasons aside, there has to be some dedicated funding for getting this work done, since this is not just forum participation and developing myriad modern C++ language bindings. I contributed to 3 LDRD open calls and one DOE proposal solicitation (jointly with more established/senior scientists in this area) in the last 3 years in trying to get some funding for this work - all of them fai

[2022-02-18 05:47] bkmgit commented on #288
US DOE has traditionally been important, but MPI is used in a wide range of codes.  An important additional consideration is use in industry. Examining software such as OpenFOAM may be helpful to  get some idea of used features.  Some C++ applications may also choose to directly build on top of UCX.

[2022-02-18 08:07] correaa commented on #288
@bangerth,

The good thing about the *word* "future" (and continuations) is that many people knows what it means and it is a good initial sketch in principle.

Having said that, it is important to recognize the `std::future` in its current status might be too general and too heavy weight for some family of basic task.
Coincidentally on this family there are things that are very related to message

[2022-02-18 13:09] acdemiralp commented on #288
You can use a std::expected instead of throwing. Even nicer is to allow both via macros.

I do not understand why you are heavily occupied with the idea of byte-level serialization, which to my knowledge is last resort practice. If you have proper reflection, or even precise flat reflection like MPL's or Boost.PFR, you often do not need byte-level serialization. I also do not understand what probl

[2022-02-19 19:55] correaa commented on #288
any problem can be solved adding a level of indirection, except too many levels of indirection. (std::expected is the indirection here)

More seriously, i think returning values (or expected) do not reflect what MPI communication ultimately is, IO.
In the IO picture, object exists (maybe in unspecified but valid state) before communication.

returning values forces allocation even in cases where i

[2022-02-21 04:18] bangerth commented on #288
On 2/19/22 12:55, Alfredo Correa wrote:

Just to be clear, this is not what I wanted to advocate for. The actual send
and receive buffers should be allocated by the user. It is things such as the
output integer arguments of `MPI_Comm_rank` and `MPI_Comm_size` that would be
nice to return, as well as `MPI_Request` objects by immediate functions.

[2022-02-21 08:39] correaa commented on #288
thank you for the very important clarification.

if you are referring to your quote "return whatever they are producing by-value, rather than through arguments; ...", and by values you didn't mean the values of the communicated data, then, yes, i am in the same page.

maybe @acdemiralp was referring to the same thing as well and i also misinterpreted.

[2022-02-21 16:21] mhoemmen commented on #288
1. P2300 won't make C++23, though it has a good chance at C++26.
2. I've seen plenty of MPI 1.x code in the wild.  This suggests that people shouldn't worry about requiring newer versions of a programming language in newer versions of MPI, because users will always be able to fall back to implementations of older MPI versions.
3. That being said, a standard should standardize existing practice.  T

[2022-02-21 16:33] devreal opened #543 "'Pending operation' in MPI_Comm_free is not defined"
# Problem

The text uses the term "pending operation" in some places to refer to an "active operation" (as in: it's completion is pending). Nowhere is it defined in what state a pending operation is supposed to be so in some contexts this can be confusing. With semantic terms, the proper term to use is "active".

Examples:

§7.4.3

would be

§...
For further locations of 'pending', see issue https

[2022-02-21 16:50] VictorEijkhout commented on #288
On , 2022Feb21, at 10:21, Mark Hoemmen ***@***.******@***.***>> wrote:

I'm all for this kind of stuff. But do you want to standardize on things that are only available in C++23 or C++26?

I’m all for letting the C++ interface be “syntactic sugar” around MPI:
- tag=0 by default
- Wolfgang’s function result for Comm_rank & Isend
- no receive buffer for non-root reduction

Considering what a terribl

[2022-02-21 22:04] mhoemmen commented on #288
@VictorEijkhout wrote:

I'll fight you on that one, my friend Victor : - ) .

1. `std::thread` is a perfectly fine wrapper for an operating system thread.  It never aimed to be anything more.
2. Regarding "every next standard seems to say...," the only way in which the Standard has actually changed was in discouraging use of release-consume memory ordering.  That came out of some recent academic w

[2022-02-22 17:43] jsquyres opened #544 "Allow MPI_*_GET_NAME functions to accept MPI_*_NULL handles"
# Problem

The `MPI_*_SET_NAME` and `MPI_*_GET_NAME` functions were created to aid debugging.  However, similar to most other MPI functions, it is (likely?) invalid to pass the `MPI_*_NULL` handles to the `MPI_*_GET_NAME` functions.  For example:

[code]

If `dt` is still `MPI_DATATYPE_NULL`, Open MPI v4.1.x and MPICH 4.0.0 will both invoke errors.  Indeed, a user reported this behavior as a bug t

[2022-02-24 20:56] bangerth commented on #117
This thread is truly long enough already, but having read most of the comments, let me nevertheless add what I think the MPI standard *should* say -- independent of what it actually says, or what might actually be implemented.

My basic contention is that the MPI standard wants to *enable* people to write code that behaves in a predictable way where "predictable" is (i) based on what the standard

[2022-02-25 17:03] Wee-Free-Scot commented on #117
I tend to agree with the "follow reasonable programmer expectations" principle expressed here. Personally, I see no real problem with the assertion that "MPI *should* specify that these messages (in the example given) are ordered" despite recognising possible letter-of-the-law interpretations of what is currently specified that permit MPI to breach that expectation.

A much more tricky example wou

[2022-02-25 21:00] bangerth commented on #117
I don't think that the use of non-blocking operations should make a difference. The point I tried to make is that for most experienced programmers, there is no conceptual difference between these two codes (assuming that `function_A()` and `function_B()` are not specifically written to detect such differences):
[code]
Whether you replace `function_A/B()` by `MPI_Send()` or `MPI_Isend()` should rea

[2022-02-28 18:27] cniethammer opened #545 "MPI_LASTUSEDCODE not covered in the sessions model"
# Problem

Users can register their own error classes and codes. The number of error classes including these user created once is made accessible via the attribute `MPI_LASTUSEDCODE` associated with `MPI_COMM_WORLD`.
This information is not accessible in the sessions model.

# References and Pull Requests

MPI-4.0 section 9.5 page 473 lines 42-48

[2022-03-01 16:55] devreal commented on #76
Issue with same info values in RMA: https://github.com/mpiwg-rma/rma-issues/issues/12 (closed as dupliate of this ticket)

[2022-03-01 19:07] jdinan commented on #18
Traditionally (that is, in reductions) LOC is an MPI process id, which is an `int`, and is populated by MPI. We would need to make sure that any new types continue to make sense for reductions. Or somehow isolate these new types for use only in the RMA interfaces.

[2022-03-02 02:44] devreal commented on #76
We touched on  this in the RMA WG today. Instead of the additional flag info key proposed in https://github.com/mpi-forum/mpi-issues/issues/312 or the options proposed here (https://github.com/mpi-forum/mpi-issues/issues/76#issuecomment-372679023), I want to throw another proposal into the ring: introduce qualifiers as part of an info value, e.g., `{"alloc_shared_noncontig" : "true:uniform"}` or `

[2022-03-02 04:11] ehsantn commented on #18
Tuples are fundamental programming concepts and have uses beyond just process ids. For example, we use MPI_MINLOC for implementing Pandas `idxmin` operation when possible:
[code]

[2022-03-02 08:49] jprotze commented on #18
How does Example 6.19 fit into this tradition? The example is there at least since MPI-2.1 (E 5.19).
The formal definition of maxloc/minloc does not restrict the index to rank ids.
As the other examples point out, the application explicitly needs to set the index value to the local rank id in order to get the reduction you described.

[2022-03-02 09:10] mahermanns commented on #18
I agree with @jprotze here. Example 6.19 to me clearly seems to indicate the index part to be used in a more general sense than just rank ids. Especially, as the application needs to explicitly set the rank value (and it's not populated by MPI itself).

I think using the rank seems just the most frequent use "in the wild" that it became synonymous with the index. :thinking:

[2022-03-02 10:17] cniethammer commented on #76
We had a detailed discussion about additional info key flags back in 2020 in the partitioned WG for collectives.
A good bunch of alternatives was brought up that are also backward compatible.
The "leading option" there was to introduce a info key aside the original key with the suffix "_flags".
Example from the discussion:
[code]
For details see
https://github.com/mpi-forum/mpi-issues/issues/312
T

[2022-03-02 12:53] devreal commented on #76
@cniethammer I am aware of those and had linked them in my post. While I think having info keys describing info keys is quite ugly I can ultimately live with it, if someone brings forward a proposal (which I haven't seen yet).

[2022-03-02 13:51] wgropp commented on #18
The application example behind minloc and maxloc was determining the pivot row for LU factorization with partial pivoting. In that case, the "loc" value is the row of the distributed matrix, and the corresponding process rank can be determined from that. Easy, illustrative examples simply use process rank for loc, but the motivating application needed an int (and yes, an int - at the time, that wa

[2022-03-09 22:51] tschuett opened #546 "MPI_Allreduce_init_mt"
# Problem

If my MPI ranks have a lot of threads, then I have to do:
1. local reduce
2. global allreduce
3. local broadcast

# Proposal

`MPI_Allreduce_init_mt`

then n threads can invoke `MPI_Start`.

# Changes to the Text

# Impact on Implementations

# Impact on Users

# References and Pull Requests

[2022-03-10 08:32] cniethammer commented on #546
The MPI+thread interaction is a very interesting topic. So thanks for bringing this up.

I fully understand your point that it is tedious having to use two reductions - one at the thread and one at the MPI level.

However, from my perspective MPI as a standard should not include thread related functionality like this.
While the current MPI standard assumes a thread package similar to POSIX threads

[2022-03-10 12:46] tschuett commented on #546
I am coming from an posix threads OpenMP background.

[2022-03-10 13:21] devreal commented on #546
OpenMP implementations are likely to do a better job at the local reductions (OpenMP 4.5 allows for array reductions) than MPI implementations ever will, simply because the OpenMP implementation has full control over its threads. The MPI implementation on the other hand likely has no choice but to serialize the local reduction. We should not provide a solution that cannot provide any efficiency ga

[2022-03-10 14:19] Yiltan commented on #546
@tschuett I'm not too sure if you're are aware but there are some discussion on partitioned collectives which may help with some issues you are mentioning: https://hpcframework.com/wp-content/uploads/2022/01/ExaMPI2021_PartColl_Paper_preprint.pdf

[2022-03-16 16:32] wesbland commented on #525
This issue had a "no-no" vote on 2022-03-03, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 30
	<td> 0
	<td> 3
</table>

[2022-03-16 16:33] wesbland commented on #525
This issue had a 1st vote on 2022-03-03, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 30
	<td> 0
	<td> 3
</table>

[2022-03-21 14:40] bosilca opened #547 "Example 5.19 (datatype chapter) is incorrect"
# Problem
In the datatype chapter the example 5.19 claims to show how to handle C-like unions in MPI.
[code]
However, the example itself is technically incorrect as union can have each element of a different type while the datatype built in the example cannot.

# Proposal

We can fix this issue either by removing the example (does not bring much benefit and it is incorrect in a heterogeneous envir

[2022-03-21 15:46] jprotze commented on #547
Is it true that `ival` and `fval` have the same offset of 0?
I thought that the c standard would allow implementations to use different offsets.

[2022-03-21 16:00] bosilca commented on #547
Yes, `union`, like `struct`, will inherit the most restrictive alignment.

[2022-03-30 13:54] wesbland commented on #83
@tonyskjellum Given that the reading for this was 4 years ago, I'm going to assume that this will have been changed enough to need a new one and have removed the tags accordingly.

[2022-03-30 13:56] wesbland commented on #538
@GuillaumeMercier I'm assuming that you're targeting MPI 4.1 for this one. If you think it should go to 5.0, can you change the project please?

[2022-03-30 14:39] GuillaumeMercier commented on #538
@wesbland: Ok, thanks. 4.1 is the right target.

[2022-03-30 15:33] wesbland commented on #544
@jsquyres I'm assuming that you're not going to be doing the reading here?

In the absence of any other owner, I'm going to assign this issue to @GuillaumeMercier since he's the CC chair for the impacted chapter.

[2022-04-01 15:22] wgropp opened #548 "Remove obsolete example"
# Problem

Example 14.1 shows how to query for bits in Fortran 77. Fortran has included a BTEST since Fortran 95 that accomplishes the same operation (in fact, does it better by returning a LOGICAL value).

# Proposal

Remove this example. It should not be necessary to remind users about BTEST.

# Changes to the Text

Simply delete the entire example. There are no references to it.

# Impact on Im

[2022-04-01 15:27] wgropp opened #549 "Code snippets in no specific language or binding"
# Problem

Multiple samples of code are in no identifiable language. Particularly in the collective chapter, there are snippets of code that are neither in C, Fortran, nor the language-independent MPI format.

# Proposal

Pick a language a use it consistently, or make these language-independent (all uppercase MPI function names)

# Changes to the Text

Easist is to review and make all MPI function

[2022-04-02 15:00] wgropp commented on #528
My preference is to add interfaces that permit integer values. These don't require corresponding C routines - permitting *shorter* integer scalars is a convenience for users, not a new capability. They can be added following the same language used for the _c versions, though limited only to the integer scalars.

[2022-04-05 00:47] ibaned commented on #288
Reading through some of this discussion, it strikes me that the primary pitfall is the sheer size and complexity of ISO C++ and the temptation to ask ourselves how an MPI interface might be compatible with every single feature of C++.

Thinking of how an MPI interface could interact with ranges, reflection, threading, executors, etc. is an exciting exercise but seems to lead to an MPI interface th

[2022-04-05 03:57] correaa commented on #288
Hi @ibaned

Yes, you leave with no option other than to agree with you. :)
These are exactly the principles I designed my wrapper https://github.com/LLNL/b-mpi3 around.

The subtitle of the project is "This aims to be an wrapper to C-MPI3 for C++, using the principles of simplicity, STL, RAII and Boost and enforcing type-safety."

I would like to comment some subtleties below.

I couldn't agree mo

[2022-04-06 13:13] wesbland commented on #548
Assigning to @tonyskjellum as the CC chair.

[2022-04-06 13:14] wesbland commented on #549
Assigning to @tonyskjellum as CC chair.

[2022-04-10 19:24] tschuett commented on #288
A simple wrapper around the C-API ill never go far.
Exploiting C++ features to make MPI more ergonomic to use sounds more interesting:
- RAII
- coroutines
- reflection
- futures
- …
But I also heard that MPI-calls represent only a minor part of real world applications. Still they could be a performance bottleneck.

[2022-04-10 19:33] tschuett commented on #288
Writing a simple wrapper around the C-API will never go far.
Using unique C++ features to make MPI more ergonomic to use sounds more interesting:
- RAII
- coroutines
- reflection
- futures
- …

But I also heard that MPI is in lines of code not a dominating factor in real world applications. MPI being performance bottleneck is more likely.

[2022-04-10 22:53] mhoemmen commented on #288
@ibaned Hi! : - )  Excellent points y'all!  Some thoughts on your list of C++ features:

I'm not actually convinced that code should manage lifetimes of MPI communicators at all.  Idiomatic C++ destructors are nonblocking and nonthrowing, while MPI "destructors" are collective and possibly blocking.  C++ code paths can diverge, which may break the requirement to call free functions collectively.

[2022-04-11 08:54] GuillaumeMercier opened #550 "Erratum/Ticket 0 change in chapter 7 (`MPI_COMM_CREATE`): wrong font fix"
# Problem

In the definition of `MPI_COMM_CREATE`, one instance of the word *group* is in true type font whilst it should be in normal
font. This makes the text harder to understand. The text in the definition of  `MPI_COMM_CREATE_GROUP` is correct, though.
I propose to change this for consistency purpose and improve readability altogether.

# Proposal

Change the font.

# Changes to the Text

Rep

[2022-04-11 13:27] devreal commented on #550
The problem is reversed in the text of `MPI_COMM_CREATE_GROUP`:

Should be

[2022-04-11 13:33] GuillaumeMercier commented on #550
Good catch @devreal. PR updated  accordingly.

[2022-04-11 18:21] ibaned commented on #288
Hi @mhoemmen !

I agree that the collective requirement on MPI "constructor/descructor" C APIs is a different requirement than just the scope executed on one rank. The design I landed on is based on the idea of "standardize current practice", where the majority of existing code I see does use C++ scopes to denote these parallel collective lifetimes, so using RAII to do this wouldn't change their m

[2022-04-11 19:29] bangerth commented on #288
On 4/11/22 12:21, Dan Ibanez wrote:

Precisely -- every layer that doesn't know how to recover should simply
punt and let the layer above it make that call (which may include
punting itself). That's exactly the semantics of how exceptions work: If
not caught, they just propagate upwards.

I will add that exceptions also avoid the common practice of not
checking error codes.

[2022-04-11 23:00] devreal commented on #288
Exceptions and RAII for MPI objects with non-local collective destruction semantics (files and windows, potentially communicators) won't match well. If an exception triggers the destructor of such object the application will deadlock and users won't even see why because the exception never makes it up the call chain. Such an interface would require littering code with try-catch blocks even if you

[2022-04-11 23:03] mhoemmen commented on #288
Hi @ibaned !  Always good to discuss C++ with you! : - )

I built a callback-based interface like this a few years ago for access to a global (distributed) object's local data.  It was an almost entirely compile-time wrapper around `Kokkos::DualView`.  I don't think the MPI communicator version would need more run-time tracking than current code already needs to do.  Contact me offline if you'd li

[2022-04-11 23:10] ibaned commented on #288
I think the point being made here about the case of only one rank in a communicator throwing an exception is a good and important point... I agree that some structure or tools to help the user deal with non-collective failures in otherwise collective environments is needed. This might tie into regular MPI standardization efforts around resilience.

[2022-04-11 23:16] devreal commented on #288
On second thought, you might be right: maybe we just need guaranteed local destruction semantics for all MPI objects...

[2022-04-12 19:38] correaa commented on #288
I am squarely in the camp of the deterministic destruction and release of resources in C++.
If nothing else, at least, because this is what allows (me) to reason about programs and performance.

The blocking aspect is in fact the exact dilemma I have for the destructor of the `mpi3::communicator` object in my library https://gitlab.com/correaa/boost-mpi3.
Whether to use `MPI_free` or `MPI_disconne

[2022-04-13 13:42] devreal opened #551 "MPI_Win_free is synchronizing, except when it isn't"
# Problem

The current normative text for `MPI_Win_free` does not state explicitly whether the procedure is synchronizing or not. Instead there is a lengthy description in an AtoI.

# Proposal

Explicitly state when calls to `MPI_Win_free` can and must be assumed to be synchronizing.

# Changes to the Text

Move the text out of the AtoI into normative text and rephrase it for clarity.

# Impact on

[2022-04-20 15:10] jdinan commented on #76
@cniethammer Agree, this is the most workable solution. We should be careful to specify that `MPI_MAX_INFO_VAL` must be able to hold the longest possible valid flags string.

[2022-04-20 15:19] jdinan opened #552 "Info on MPI Datatypes"
# Problem

Today we cannot apply MPI Info hints to datatypes.

# Proposal

Add the following functions:
[code]

# Changes to the Text

Changes to add the functions proposed above, specify that info does not propagate from one datatype object to another, and specify which info can be applied to datatypes.

# Impact on Implementations

Implementations can ignore info and implement these functions wi

[2022-04-20 20:43] schulzm commented on #552
Interesting idea - one question, though: what should be the rules when new datatypes are created from multiple datatypes with the info attached? Will they be merged?

Perhaps it could be easier to apply the info object during the commit (i.e., a MPI_Type_commit_with_info) ? This way the info is only valid for that committed type and the assembly of new types would be not affected.

[2022-05-04 19:50] wesbland commented on #83
This was merged because of my mistake. I'll reopen this issue and work with @wgropp and @tonyskjellum to create a new PR.

[2022-05-06 21:29] devreal opened #553 "RMA: Add missing win-sync calls to Example 12.21"
# Problem

@RolfRabenseifner pointed out that Example 12.21 is missing calls to `MPI_WIN_SYNC` around the second P2P synchronization. They are required to ensure that subsequent updates of X on process A won't happen before the load of X completed on process B.

# Proposal

Add the missing calls to `MPI_WIN_SYNC` to Example 12.21. Update the advice to users to reflect that `MPI_WIN_SYNC` should be

[2022-05-09 01:43] devreal opened #554 "RMA: both MPI_WIN_ALLOCATE and MPI_WIN_ALLOCATE_SHARED allocate memory"
# Problem

It was pointed out by @VictorEijkhout that the following text in the RMA chapter is incomplete:

The same is true for `MPI_WIN_ALLOCATE_SHARED` and should be added accordingly.

# Proposal

Mention both `MPI_WIN_ALLOCATE` and `MPI_WIN_ALLOCATE_SHARED` in the sentence above.

# Changes to the Text

# Impact on Implementations

None, they are doing the right thing already.

# Impact on Us

[2022-05-17 15:06] Wee-Free-Scot commented on #544
Curious: Why is there no equivalent GET|SET_NAME functionality for FILE objects in MPI?

Files have a name in the filesystem; I guess that is seen as sufficient? The MPI_FILE_NULL handle exists. To get the "filename" of an MPI_FILE, we need to use MPI_FILE_GET_INFO so we can look for the "filename" key-value pair. Can MPI_FILE_NULL be passed to MPI_FILE_GET_INFO?

The MPI_FILE object might benefit

[2022-05-21 16:12] jdinan commented on #552
I think `MPI_Type_commit_with_info` would be a cleaner API. In general, I think we would want to maintain the design principle that info does not automatically propagate from one MPI object to another.

[2022-05-24 15:29] wesbland commented on #511
This issue will be split into two so the PRs attached to this can refer to one issue each.

cc: @abouteiller

[2022-05-31 19:33] wesbland commented on #544
This issue had a "no-no" vote on 2022-05-26, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 26
	<td> 0
	<td> 3
</table>

[2022-05-31 19:33] wesbland commented on #525
This issue had a second and final vote on 2022-05-26, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 25
	<td> 0
	<td> 4
</table>

[2022-05-31 20:39] #525 closed, assigned to cniethammer

[2022-06-05 09:19] jeffhammond commented on #546
Do you have performance data comparing 1-2-3 versus a single allreduce with only MPI? If the latter is noticeably faster, it will help your cause.

My expectation is that the difference is small, because MPI internally does 1-2-3.

[2022-06-18 15:49] jeffhammond commented on #508
What's the status of this?

[2022-06-18 16:28] wgropp commented on #508
Thanks for bringing this up. The document updates that I've been pushing are the first step for this. I need to go and look at the print-on-demand requirements. I expect to need a way to split the standard into two volumes and manage the cross references.

[2022-06-19 09:33] RolfRabenseifner commented on #508
I would recommend to split the pdf, i.e., to completely  keep the page numbers, i.e., to have a Vol. I with a gap from Chapters 13 until Annex B, and a Vol. II with a gap from Acknoledgments to Chap. 12.
I would add a page + empty page into these gaps to tell that the missing pages are in the other volume.
I would use pdftk (under Linux) to substitute the parts by the special double page.

[2022-06-19 14:56] mjklemm commented on #508
The main things to resolve:

- Reduce the page count to be below the maximum pages for KDP.  Rolf has a good proposal there and splitting can be done easily.
- Enlarge the pages so that the PDF has enough margin and bleed marks for the printing process.  I can have a look at this and see if pdftk can do that (I think so).
- Find someone who is fluent in KDP to create the book and publish it.  I ca

[2022-06-20 09:24] jeffhammond commented on #299
You can cheat and use `getenv(PMI_RANK)` with MPICH here, and whatever the equivalent is for Open-MPI.  Just `#ifdef MPICH` etc.

Source: https://lists.mpich.org/pipermail/devel/2015-April/000549.html

[2022-06-20 09:36] jeffhammond commented on #128
I recall Jeremiah Willcock asked for request-based FOP and CAS in 2014, for consistency purposes.  I think forcing users to use RGETACC because we refuse to add RFOP is unreasonable.  Having consistency in the standard is important.  And what if MPI_Request allocation isn't always expensive compared to FOP?

[2022-06-29 13:26] wesbland commented on #508
Here's the help topic on the restrictions for KDP for [paperback](https://kdp.amazon.com/en_US/help/topic/G201834340) and [hardcover](https://kdp.amazon.com/en_US/help/topic/GHT976ZKSKUXBB6H). Basically you can't go over 828 pages for paperback and 550 pages for hardcover.

They also have a bunch of resources for how to format everything in [paperback](https://kdp.amazon.com/en_US/help/topic/G2018

[2022-06-29 19:19] mjklemm commented on #508
KDP does not have costs associated with the publishing process.  The only cost incurred would be for a contractor, who knows the KDP process well and would be helpful in getting the KDP process sorted quickly.

If I find the time in the next two/three weeks, I can try to make an attempt to reformat the PDF without regenerating it from the LaTeX source, but by modifying the PDF directly.

[2022-06-29 23:17] wgropp commented on #508
Thanks, @mjklemm . I'm ok if we do have to reformat from the LaTeX, though that will require more work.

[2022-06-30 17:08] #505 closed, assigned to Wee-Free-Scot

[2022-07-05 11:14] Wee-Free-Scot commented on #270
@jdinan I'd like to review this issue in the HACC WG before the next voting meeting.

I just asked myself the question "will a replacement request handle need to be re-exported for use on a device?"

[code]

I'm thinking the HACC WG needs to get behind the side of this argument that prevents replacement of the request during `MPI_Start` or needs to point out that the request must be re-exported af

[2022-07-05 11:26] Wee-Free-Scot commented on #393
The model implementation of buffered mode send (section 3.6.1) is another example of this anti-pattern. Converting this to an example with executable code is non-trivial and (subjectively) may not be a good drop-in replacement for the existing textual description. I would prefer to remove section 3.6.1 entirely rather than replace its content with code. IMHO, status quo is the best option of the t

[2022-07-05 13:29] Wee-Free-Scot commented on #468
I have re-created the PR for this issue because all previous PRs for it have been closed without merging.

Intent: revive this topic for the next voting meeting. It has been through a lot of procedure already, perhaps we can dispatch this quickly (@schulzm)?

[2022-07-05 13:41] wesbland commented on #468
This one is marked as having had a reading, but given that it sat for a year and needed a new PR, does it need to be re-read? Has anything changed since the last reading?

If nothing has changed, my opinion is that doing an "quick" unofficial re-reading during a VM and publishing it on the mailing list is probably enough. It's relatively small, even if the semantics are more extensive so giving pe

[2022-07-05 13:43] wesbland commented on #492
I'm not sure who still owns this issue, but there isn't a PR for it. @Wee-Free-Scot, is this on your list?

[2022-07-05 14:08] tonyskjellum commented on #492
I can work on it with @Wee-Free-Scot? This is news to me apologies

[2022-07-05 16:09] Wee-Free-Scot commented on #536
Picking this up again, there are a couple of things tied together here.
1. calling `MPI_START[_ALL]` with a request that was created using a communicator that has since been disconnected via `MPI_COMM_DISCONNECT` should be explicitly made erroneous -- this requires a new sentence somewhere (probably in the definition text for `MPI_START`, with a reference to/from the definition text for `MPI_COMM_

[2022-07-05 17:04] Wee-Free-Scot commented on #417
I'm going to close this one without pushing for any change.

[2022-07-05 17:04] #417 closed

[2022-07-05 17:34] Wee-Free-Scot commented on #317
I think this issue should be closed with no change to MPI -- unless someone wants to drive it (e.g. @adrianjhpc).
I'll close it for now and re-open it if someone shouts.

[2022-07-05 17:34] #317 closed

[2022-07-05 20:03] correaa commented on #536
You say "can a user start an existing (persistent) operation after the communicator has been freed? Currently, yes."

If so, then that means that at least part of the resources of the communicator are still available somewhere, at least for part of the system.
Is it fair to say then that `MPI_COMM_FREE` then is a misnomer given that it only "marks" the future destruction but doesn't actually retur

[2022-07-06 12:23] Wee-Free-Scot commented on #536
TL;DR; I believe this discussion is interesting for the Languages WG and future MPI, but is out of scope for this specific issue.

@correaa I broadly agree with your assessment of the (mis)match between MPI semantics and C++ semantics.

* An MPI_Comm handle in user space is a direct reference to a communicator object inside MPI. Aliases of this handle do not increase the reference count on the com

[2022-07-06 13:44] Wee-Free-Scot commented on #468
@wesbland the new PR was only needed because the RC->release procedure for MPI-4.0 closed all open PRs. I recreated Rolf's PR with exactly the same changes (except the change-log is for MPI-4.1 not for MPI-4.0). AFAIK, there are no material changes since Rolf's reading. (IMHO, this should have made it into MPI-4.0)

[2022-07-06 13:45] VictorEijkhout commented on #536
On , 2022Jul6, at 07:23, Dan Holmes ***@***.******@***.***>> wrote:

If a user allows an MPI_Comm handle to go out of scope in a C++ program,

If by “handle” you mean “ * struct internal_comm_thing” then the C++ equivalent is a shared_ptr and free’ing and such only happens when the reference count runs down.

I think we need to set terms carefully. Currently in C

MPI_Comm foocom = MPI_COMM_WORLD;

[2022-07-06 14:13] wesbland commented on #468
I agree. I meant it mostly because of the fact that it's been more than a year since the reading. I don't necessarily think it needs a new official reading. Just a reminder before we vote.

[2022-07-06 14:40] wesbland commented on #283
@abouteiller - Is this something that the FTWG is still considering? Since I stepped back from that position, I've lost track of this issue and PR.

[2022-07-06 14:49] wesbland commented on #512
@wgropp I don't see a canonical citation for the C++ Standard, only community contributed ones (e.g., https://www.bibsonomy.org/bibtex/24b660c16d9a5ab0ad595b1555402c797/gron).

Do we need a LaTex package for this or just post an entry on the Docs page on the website like what's in the example above?

[2022-07-06 14:55] wesbland commented on #415
I agree with @wgropp that `MPI_ERROR` is not an issue with the standard. Many implementations aren't even binary compatible with themselves over time. I believe OMPI makes no ABI guarantees across major versions. MPICH has had its own AI compatibility initiative for a while, but it doesn't go back to MPI 1.0.

Unfortunately, the lack of a CHANGELOG for MPI 1.1 makes finding any differences here im

[2022-07-06 15:12] wesbland commented on #410
@wgropp @schulzm - Is this a problem we want to solve? If so, we need to put together some guidance for chapter committees to make these changes.

I was reading through the instructions document and it seems that we don't have a particularly relevant passage at the moment, though the section describing the macros for referencing MPI (e.g., `\mpiiii/`) are the closest.

[2022-07-06 15:14] wesbland commented on #484
No references in this chapter.

[2022-07-06 15:14] #484 closed, assigned to schulzm, wesbland

[2022-07-06 15:16] wesbland commented on #483
There are no references to these terms in the removed interfaces chapter.

[2022-07-06 15:16] #483 closed, assigned to schulzm, wesbland, RolfRabenseifner

[2022-07-06 15:17] wesbland commented on #482
These terms aren't used in the deprecated functions chapter.

[2022-07-06 15:17] #482 closed, assigned to schulzm, wesbland, RolfRabenseifner

[2022-07-06 15:21] wesbland commented on #477
There is only one use of the word "process" in the chapter and it is fine (see the last word in the chapter).

[2022-07-06 15:21] #477 closed, assigned to schulzm, wesbland, regrant, GuillaumeMercier

[2022-07-06 15:27] wesbland commented on #476
IMO, there are a couple of places that could use some clarification here:

* (p. 453, line 11, MPI 4.0) - **MPI_HOST** Host **_process rank_**, if such exists, MPI_PROC_NULL, otherwise.
* (p. 453, lines 13-14, MPI 4.0) - **MPI_IO** **_rank_** of a node that has regular I/O facilities (possibly myrank). Nodes in the same communicator may return different values for this parameter.
    * The above t

[2022-07-06 15:47] wesbland commented on #476
I've made some changes in https://github.com/mpi-forum/mpi-standard/pull/669 to address the concerns above. @bosilca @raffenet @naughtont3, please have a look.

[2022-07-06 16:51] correaa commented on #536
@Wee-Free-Scot , excellent explanation. It made me understand that, differently to `shared_ptr`, the increment/decrement of the reference counting happens only to indirect means, by creating/freeing requests and not, for example, by copying somehw the `shared_ptr`. It is possible to build a semantic `shared_ptr`, but it will have two overlapping counts. One over the "value" and one over the "inter

[2022-07-06 20:14] devreal opened #555 "Example 12.4: RMA communication calls may not block in PSCW"
# Problem

The text in Example 12.4 states:

This generally conflicts with the notion that RMA communication calls are nonblocking (MPI 4.0, §12.3) and applies only to PSCW.  Neither fence nor locks have similar verbiage in their normative text or example descriptions.

# Proposal

Remove the sentence above from the text in Example 12.4.

This was discussed and discovered during the Forum discussi

[2022-07-06 20:40] devreal commented on #87
MPI 4 in §12.3 states that

It is also explicitly mentioned in `MPI_Win_shared_query` as a valid rank.

I consider this solved for the RMA chapter and will remove the label.

[2022-07-06 20:43] devreal commented on #479
This should be addressed in https://github.com/mpi-forum/mpi-standard/pull/611

[2022-07-06 20:58] wesbland commented on #479
With that in mind, I think we can close this issue as a duplicate then. It will be solved by  https://github.com/mpi-forum/mpi-issues/issues/407.

[2022-07-06 20:58] #479 closed, assigned to hjelmn, pavanbalaji, artpol84, devreal, wgropp

[2022-07-07 12:09] Wee-Free-Scot commented on #492
Steps:
1. Re-create Rolf's branch from scratch, based off the mpi-4.x branch and pushed into the collectives fork on GitHub
2. Decide whether imprecise language "similar to" is sufficient for MPI-4.1
3. If not, propose a larger change -- codify holistic progress rules (in terms chapter?) and specialise those rules in each chapter (needs all/most chapter committees involved)

Step (1) is simple, I

[2022-07-07 12:50] RolfRabenseifner commented on #492
I recommend to clearly split Step 1 from 2 and 3. Steps 2+3 should be a different ticket and has nothing todo with the wording correction of the 5 remaining _progression_ into _progress_. In other words, I recommend to keep this issue simple, aas the title says.

[2022-07-07 15:17] wgropp commented on #512
The LaTeX package comments were for an upgraded way to mark and cite specific sections.  Just providing a "use this to cite" can be a simple entry.

[2022-07-07 15:23] wesbland commented on #512
That makes more sense. My understanding of the ask here is to just put a note on the website for how to cite the document as a whole.

[2022-07-07 17:16] Wee-Free-Scot commented on #492
Step (1) is complete, see https://github.com/mpi-forum/mpi-standard/pull/672

I agree with @RolfRabenseifner that step 2+3 can & should wait for a separate issue.

[2022-07-07 18:01] Wee-Free-Scot commented on #87
@omor1 (and/or others) is there still interest in pushing this issue forward? We are now running out of time for the mpi-4.1 release, just as we ran out of time for the mpi-3.1 and mpi-4.0 releases.

I see four options:
1. We leave the text ambiguous and underspecified (this option has worked for decades, why change course now?)
2. We write "Use of MPI_PROC_NULL in graph or dist-graph topologies i

[2022-07-08 13:31] wgropp commented on #410
I can add guidance to be specific as to version unless the context clearly means all versions of MPI. I did just review the occurrences of "since" and I don't see a real problem. Unless there are some very specific examples, I believe this should be closed.

[2022-07-08 13:44] wgropp commented on #512
I've updated the website to include a bibtex file for MPI 4.0.  We can add other formats and make this easier later, but for now, I think this is complete. The fancier label issue, if we want to pursue it, should be added as an MPI 5.0 option for consideration.

[2022-07-08 13:46] wesbland commented on #512
Sounds like this is done to me. 👍

[2022-07-08 13:46] #512 closed, assigned to schulzm, wgropp

[2022-07-08 13:48] wesbland commented on #410
I think I agree. I know there were some specific concerns when people say things like, "We introduce a new API..." since text like that becomes dated quickly, but I don't think that's what's being referred to here. I'm going to close this and let @schulzm reopen it if he thinks it's necessary.

[2022-07-08 13:48] #410 closed

[2022-07-08 20:16] wgropp commented on #524
I've done some more testing, along with some fixes. I plan to merge the new code, but leave the index in the "classic" mode. There is an easy way to select the upgraded index, which I can generate for consideration by the forum.

[2022-07-08 20:27] wgropp commented on #524
\Exindex has been implemented.

[2022-07-08 20:27] #524 closed, assigned to wgropp

[2022-07-10 14:52] wgropp commented on #507
PR 674 applied this change.

[2022-07-10 14:52] #507 closed, assigned to wgropp

[2022-07-10 14:56] wgropp commented on #416
The next step here is a straw vote from the forum on the subindex.

[2022-07-10 15:01] wgropp commented on #412
This is also inconsistent with the pseudo code for other collective operations. We do need to decide on a consistent style for these - and I think the pseudo code used elsewhere, instead of almost-C, is the appropriate approach.

[2022-07-10 19:35] wgropp commented on #333
Most of these are done.  The remaining items are the "Sessions Model", "World Model", and "Dynamic Process Model".  These look odd, but these are also how they appear in the text, so are probably ok.  I will update the instructions to remind everyone about the lack of capitalization for most entries in the index - this is the Chicago Manual of Style convention, though it is not universal.

[2022-07-10 19:42] wgropp commented on #316
@VictorEijkhout this is the recommendation of the Chicago Manual of Style, which I will follow.

<everyone> I will make a pass that will remove the hyphen from non-xx except for any Proper names (per CMOS) and for the case of doubled n, as in non-negative (widespread in the standard). That can be a separate PR, though I'd like to know the Forum's wishes first.

In particular, non-local will become

[2022-07-11 13:02] mjklemm commented on #508
The current trim size (textwidth x textheight) of the 4.0 document is 6x9.

The old book series had a trim size of about 4.5in x 7.0in.  That's a format we cannot do with KDP.  The smallest trim size we can do with KDP is 5x8.  In that format, we can do up to 828 pages.  We'd have to slightly scale the content down, but one of the dimensions will not exactly fit the KDP trim sizes (e.g. 5x8 will e

[2022-07-11 14:16] abouteiller commented on #283
Wesley,

Nobody is currently looking into it. I still think it is a valuable addition.

We could re-add it to the agenda; from my memory, there were problems with it, but they got fixed. Is there anything else we need to look at before re-presenting it?

Aurelien

[2022-07-11 15:08] wesbland commented on #283
Yes. I believe I’ve addressed all of the issues from Jeff. I think it probably just needs to be reviewed and re-read.

[2022-07-11 15:37] wgropp commented on #333
mpi-forum/mpi-standard#675 completes this

[2022-07-11 16:01] felker opened #556 "MPI_Cart_Coords maxdims/ndims mixup missing from MPI 3.1 to MPI 4.0"
# Problem

In the description of the `coords` parameter of this function, the MPI 3.1 standard claims that it returns an integer array of size `ndims`. It should say that the array is of size `maxdims`.
<img width="663" alt="image" src="https://user-images.githubusercontent.com/1410981/178306550-523a9756-82a1-4bf4-992e-07e682c34d25.png">

This is already fixed in the 4.0 standard:

<img width="648

[2022-07-11 16:35] GuillaumeMercier commented on #393
The sentence "The outcome is as if ..." is present in the context chapter but is used to describe the behavior of `MPI_Comm_set_attr`.  Therefore, not a real example I think.

[2022-07-11 17:39] wgropp commented on #316
Fixed by PR 677

[2022-07-11 18:35] GuillaumeMercier commented on #497
@martinruefenacht: IIRC, you had the infrastructure to create the various lists we needed. Is this in the current 4.x branch?

[2022-07-11 18:48] GuillaumeMercier commented on #326
As for your first point:  the description of  `MPI_COMM_TYPE_SHARED` does not follow this pattern either. Instead of starting each description with "this value specifies ...", I would rather remove it from the description of  `MPI_COMM_TYPE_HW_GUIDED`.  Something like:
[code]

As for your second point: the line break is not in the document anymore it seems.

[2022-07-11 19:49] GuillaumeMercier opened #557 "Update verbatim examples to example environment for context chapter"
# NOTE
**This issue addresses issue 442 but for the context chapter only**

# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and upda

[2022-07-11 20:57] devreal commented on #362
All points here have been addressed or are not relevant (anymore). I will close this issue.

[2022-07-11 20:57] #362 closed

[2022-07-11 21:06] devreal commented on #408
The same language exists for files, communicators, and windows:

I don't mind that this is stated clearly in the place where users read about info behavior of the MPI objects they are using. @schulzm is this something you want to move forward? It's an info chapter issue, not specific to RMA.

[2022-07-11 21:56] wgropp commented on #226
PR 673 fixed this.

[2022-07-11 21:56] #226 closed

[2022-07-11 21:59] devreal commented on #23
This sentence adds quite a bit of uncertainty:

So even with windows allocated through `MPI_Win_allocate_shared` it might not work? I assume this is meant to say that querying shared memory addresses may not be supported by every window on every implementation? If so, should we add language to allow implementations to not support shared memory for windows allocated through `MPI_WIN_ALLOCATE` and `

[2022-07-11 22:14] wgropp commented on #240
Fixed with PR 678

[2022-07-11 22:14] #240 closed

[2022-07-12 15:57] jeffhammond commented on #23
I have updated the new text to address this.

[2022-07-12 16:05] jeffhammond commented on #23
The motivation for this ticket is that every RMA implementation allocates shared memory in MPI_Win_allocate, yet because MPI_Win_shared_query makes it illegal for me to query it, one has to do the following ridiculous nonsense instead:

[code]

Casper does something along these lines (more complicated) here: https://github.com/pmodels/casper/blob/master/src/user/include/cspu_shmbuf.h.

[2022-07-12 17:36] devreal commented on #23
Thanks, that's clear now :+1: (at least for me)

[2022-07-12 21:53] devreal commented on #23
I started putting this into a PR. I'm not sure about contiguous shared memory in `MPI_Win_allocate`. Should it be optional (the opposite of `MPI_Win_allocate_shared`) or do we just not care about contiguous shared memory from `MPI_Win_allocate`? We shouldn't make it the default (potential performance regression) but I don't see a good reason not to make it an option.

[2022-07-12 23:00] wgropp commented on #276
Fixed by PR 679

[2022-07-12 23:00] #276 closed

[2022-07-13 10:33] jeffhammond commented on #23
I agree that we do not want to force WA to have contig as the default, but the problem is, info can be ignored, so no app can rely on their request to get contig.  We can solve this by saying that WA is never required to be contiguous, and that the contig info is ignored.  This means that there are some use cases that work with WAS but not WA (or WC, which couldn't allocate contiguous memory anywa

[2022-07-13 11:02] jeffhammond opened #558 "RMA: deprecate active target synchronization (PSCW and Fence)"
# Problem

RMA is complicated, which prevents user adoption and effective (correct and fast) implementations.

While elegant in their design, neither PSCW nor Fence are necessary, and their presence in the standard complicates implementations.

# Proposal

Deprecate everything associated with PSCW and Fence, including the following functions and symbols:
- `MPI_Win_fence`
- `MPI_Win_post`
- `MPI_W

[2022-07-13 11:09] jeffhammond opened #559 "RMA: depreciate MPI_PROD and MPI_M**LOC from RMA"
# Problem

MPI_PROD is useless in all contexts, and no one uses it [1].  It is especially painful in RMA implementations with hardware support, since no network supports this operation for all datatypes.

MPI_M**LOC is useful in collectives, but it is unclear if there are any real use cases.  Implementers hate supporting this.

[1] I looked.  NWChem was the only open-source code other than MPI tes

[2022-07-13 11:10] jeffhammond commented on #559
@hjelmn I recall you hate M**LOC in RMA the most :-)

@jedbrown Do you use MPI_M**LOC in RMA in PETSc StarForest?  Is it important?

[2022-07-13 11:11] jeffhammond commented on #559
We should deprecate in MPI 4.1 so we can delete in MPI 5.0.  This is a relatively minor change.

[2022-07-13 11:57] wgropp commented on #558
I support deprecated and later removing PSCW. Fence will take me a little longer to accept :)

[2022-07-13 12:48] devreal commented on #559
I remember @mahermanns had a use case for M**LOC in Scalsca?

[2022-07-13 12:48] wgropp commented on #241
Fixed with PR 680

[2022-07-13 12:48] #241 closed

[2022-07-13 13:13] wgropp commented on #183
Addressed in PR 681

[2022-07-13 13:13] wgropp commented on #184
Addressed in PR 681

[2022-07-13 13:13] #184 closed

[2022-07-13 13:16] wgropp commented on #423
I am closing this as unnecessary.

[2022-07-13 13:16] #423 closed

[2022-07-13 13:57] wgropp commented on #508
I think that we should stick with 6x9.  Thanks for looking into this.

[2022-07-13 14:17] jdinan commented on #558
I would go further than this. I feel we should deprecate *all* window synchronization APIs and constructors. We should introduce new window constructors that have the effect of starting a lock-all shared epoch from the moment the window is created.

[2022-07-13 14:18] wesbland commented on #556
I added the relevant chapter committee here.

It looks like this was already fixed for MPI 4.0. Should we consider backdating an errata fix for MPI 3.1 and put it in the errata document as suggested?

@wgropp - Happy to hear from you here as well.

[2022-07-13 14:28] wgropp commented on #556
This is a clear typo - there really isn't any danger of misinterpretation, since there isn't an ndims argument. As such, it does not belong in the errata, which we've restricted to errors that impact interpretation of the standard.  Otherwise, the errata would exceed 1000 pages.

[2022-07-13 14:32] wesbland commented on #556
Fair enough. Closing.

[2022-07-13 14:42] wesbland commented on #416
Do you want to discuss this in a VM? Or should we make this a topic for the September meeting?

cc: @schulzm

[2022-07-13 14:52] jedbrown commented on #559
We use `MPI_MAXLOC` in PETSc unstructured mesh management (via the SF interface, which has an RMA implementation). We don't recommend using the RMA implementation because most workloads are slower that way and implementations have historically had bugs.

[2022-07-13 14:58] wesbland commented on #508
I just want to point out (probably unnecessarily) that we want to make sure that any changes can hopefully be replicated in the build system. Hopefully we publish MPI 4.1 in another year or so and I'd hate for you (or someone else) to have to go through all of this manual work again. 😄

[2022-07-13 15:18] mjklemm commented on #508
Yes, I'm actually also looking at this to make a proposal.  I might make these changes for in a special 4.0 branch and automate them as soon as possible.

[2022-07-13 16:07] #340 closed

[2022-07-13 16:37] RolfRabenseifner commented on #556
It looks like:
- This text change from 3.1 to 4.0 was never voted into the standard.
- ndims is also not part of the definition of the first routine, MPI_CART_RANK.
  It should be expected (of course in both routines) that this argument is inherited from the cartesian communicator handle.
- In MPI-1.1 until MPI-3.1, the behavior of MPI_CART_COORDS for the case that ndims > maxdims is not defined.

[2022-07-13 16:39] RolfRabenseifner commented on #556
Is it okay, that I reopen this issue?

[2022-07-13 16:52] wesbland commented on #556
If you don't think the issue should have been closed, reopening it is just fine.

This came in with the changes for Pythonization (https://github.com/mpi-forum/mpi-standard/pull/152/). The text is https://github.com/mpi-forum/mpi-standard/blob/762dafe9f341cabfae86a5580bd72395c6d68bd8/chap-topol/topol.tex#L1166-L1176 with the comment from @jsquyres:

[code]

I'll let the chapter committee discuss t

[2022-07-13 17:25] jeffhammond commented on #558
Ok, so you want to deprecate lock-exclusive too. I'm okay with that. I don't use it.

[2022-07-13 17:27] jeffhammond commented on #558
It's impossible to make the "window construction implies lock all shared" until we delete the deprecated routines. That has to be a separate ticket that depends on this plus a deletion ticket.

I do not think explicitly doing lock all shared is a burden.

[2022-07-13 17:39] wgropp commented on #416
A VM is fine - just getting a straw vote would help - and in fact, an email straw vote might be more representative, particularly if it includes "don't care".

[2022-07-13 18:04] wesbland commented on #416
You're probably right. Email makes the most sense.

[2022-07-13 21:08] wgropp commented on #556
I think Rolf is raising a separate issue. This issue is about a simple cut-and-paste error in describing the output array coords that was found and corrected during the pythonization of the bindings. Nothing in this fix addresses the issue of the number of dims of the Cartesian topology being greater than maxdims.

[2022-07-13 21:44] wgropp commented on #234
Font for Fortran mpif.h and modules mpi and mpi_f08 fixed.  Much of progress is now indexed; I'll make one more review.

[2022-07-13 22:51] felker commented on #556
@RolfRabenseifner 's concerns were related to how this typo was noticed in my case, specifically regarding the ambiguity with the `ndims` referenced in `MPI_Cart_rank` earlier on the page inherited from the Carteisan communicator. Only by diff'ing with the 4.0 standard was I able to conclude that the `ndims` size of output `coords` referenced in `MPI_Cart_coords` was indeed a typo, but `ndims` siz

[2022-07-13 23:01] wgropp commented on #556
Thanks, @felker .  I think the best thing is to create a new, separate issue about Rolf's concern. I think this update is a simple type correction, but one that, as you note, exposes a concern.

[2022-07-14 07:22] RolfRabenseifner commented on #556
@wesbland Thank you for the historical details.
@jsquyres I expect that your comment _# JMS MPI-3.1 erroneously stated "...of size ndims..."_and
@wgropp that this is just a typo correction, is not really true.

The original (MPI-1.1 - MPI3.1) text was

It tells
- that the user of the cal privides an array of size maxdims integers for the output of coords, and
- that the output vector data that is

[2022-07-14 23:18] wesbland commented on #519
I’m going to propose moving this to MPI 5.0. There’s more discussion to be had here. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:25] wesbland commented on #31
I’m going to propose moving this to MPI 5.0. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:26] wesbland commented on #36
I’m going to propose moving this to MPI 5.0. There’s more discussion to be had here. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:28] wesbland commented on #89
I’m going to propose moving this to MPI 5.0. There’s more discussion to be had here. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:30] wesbland commented on #107
I’m going to propose moving this to MPI 5.0. There’s more discussion to be had here. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:33] wesbland commented on #117
I’m going to propose moving this to MPI 5.0. There’s more discussion to be had here. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:36] wesbland commented on #452
I’m going to propose moving this to MPI 5.0. There’s more discussion to be had here, but it sounds like there’s nothing in progress. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:39] wesbland commented on #15
I’m going to propose moving this to MPI 5.0. There’s more discussion to be had here. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:39] wesbland commented on #17
I’m going to propose moving this to MPI 5.0. There’s more discussion to be had here. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:40] wesbland commented on #64
I’m going to propose moving this to MPI 5.0. There’s more discussion to be had here. If someone objects and thinks we’ll be ready to read this soon, leave a comment and we can discuss bringing it back into MPI 4.1.

[2022-07-14 23:49] wgropp commented on #232
Magic phrase in PR 683 didn't seem to close this.  683 fixes this.

[2022-07-14 23:49] #232 closed

[2022-07-15 04:27] jeffhammond commented on #64
Disagree. This is a 4.1 minor fix.

[2022-07-15 08:00] GuillaumeMercier commented on #232
I think the magic phrase needs to be located in the description of the PR, not in the title or the comments.

[2022-07-15 11:01] wesbland commented on #232
Correct

[2022-07-15 13:49] wesbland commented on #409
@devreal - Is the RMA WG still planning this for MPI 4.1?

[2022-07-15 13:53] wesbland commented on #64
Ok, but at the moment there isn’t anyone who really owns this. It’s nominally an issue for collectives so I’ll give it to @tonyskjellum for now, but even though it’s a “minor” fix, someone still has to do it. 😄

[2022-07-15 14:28] hppritcha commented on #514
items in this issue are addressed by https://github.com/mpi-forum/mpi-standard/pull/617

[2022-07-15 15:56] jprotze commented on #64
Arguing with the requirements imposed for implementations is the wrong perspective. The question should be: What is the most constrained context from that any implementation would possibly like to call this function?
Would an implementation possibly invoke this function from a signal handler? Then the function needs to be async-signal-safe ([man 7 signal-safety](https://man7.org/linux/man-pages/ma

[2022-07-15 16:57] #234 closed

[2022-07-15 17:09] wgropp commented on #163
MPI 4.1 is almost here. Outside of the MPI specification, I can find no use of + as in Fortran 2008 + TS 29113.  I like @wesbland  text for the first use, and then Fortran 2008 with TS 29113 uniformly throughout the standard.  Or we can wait until MPI 5.0.

[2022-07-15 19:49] RolfRabenseifner commented on #163
TS 29113 was especially defined to allow the consistency of MPI with Fortran. Therefore it should be mainly referenced by the MPI standard.
Outside, one can find it in the status informations of Fortran compiler implementations.
"Fortran 2008 with TS 29113" is a good idea for a uniform wording in MPI-4.1.
One can also check whether "Fortran 2008 with TS 29113 or Fortran 2018 and later" would work

[2022-07-15 21:33] jeffhammond commented on #163
We should now use Fortran 2018. That includes the relevant TSes and is a single document to reference. Using F08+TS was a necessary evil in MPI-3. It's no longer necessary or appropriate.

[2022-07-15 21:38] jeffhammond commented on #64
Agree on no side-effects although this implies users cannot use, for example, OpenMP in such functions, since OpenMP has side effects. Do we want this restriction and do we think users will understand that OpenMP is excluded by "no side effects"?

[2022-07-16 23:52] devreal commented on #64
I think, even with MPI_THREAD_MULTIPLE, the implementation should take care that the user function is not called concurrently (per collective operation)!

It should be valid for implementations to invoke the user function concurrently from multiple threads (user or progress) on different segments of the buffer used in an operation. Of course the implementation has to make sure that no two invocati

[2022-07-17 10:33] RolfRabenseifner commented on #163
Please have a look at MPI-4.0 Section 19.1.6 MPI for Different Fortran Standard Versions.
It describes the minimal requirements that we have for which functionality of MPI.
This minimal requirement normally does not change with newer releases of the Fortran standard.
Therefore, we can keep the text as it is

or we can add Fortran 2018.
We do not use any other feature of Fortran that was added betw

[2022-07-17 18:34] #165 closed

[2022-07-17 19:22] wgropp commented on #175
This was fixed as a side effect of using the listing environment - these examples were improperly placed within a LaTeX table, which caused them to be "floated" to the end of the section.

[2022-07-17 19:22] #175 closed

[2022-07-18 14:14] wesbland commented on #556
So rather than creating a new issue (given that this issue didn't have a PR or anything, let's just change the name and continue the discussion of whether there should or should not be another change here.

@RolfRabenseifner -

I.e., changes in the interfaces that never were really thought through in full consequence?

Of course there are other possible errors. We spent a lot of time looking over

[2022-07-18 22:40] #242 closed

[2022-07-19 00:23] #557 closed, assigned to GuillaumeMercier

[2022-07-19 12:40] wgropp commented on #163
I'd like to propose Rolf's solution above:

- In most places: Fortran 2008 with TS 29113 or Fortran 2018 and later
- In those places calling out the minimum required level o Fortran: Fortran 2008 with TS 29113

Thoughts?

[2022-07-20 03:21] jeffhammond opened #560 "what does 'equivalent to Fortran' mean"
# Problem

Regarding MPI 4.0 page 869, the following seem to be missing a word:

"C type: MPI_Fint*                  equivalent to Fortran"
"C type: MPI_F08_status*            equivalent to Fortran"

I know for a fact that MPI_Fint and MPI_F08_status are, by themselves, not equivalent to Fortran.

<img width="712" alt="Screen Shot 2022-07-19 at 8 15 49 PM" src="https://user-images.githubuserconten

[2022-07-20 03:22] jeffhammond commented on #560
@RolfRabenseifner This is an erratum, right?

[2022-07-20 06:49] RolfRabenseifner commented on #560
I expect that the text on MPI-4.0 pages 844 and 845 clearly tells to implementors and users the meaning of these constants.
But I understand your problem with this table.

Do you want to change the text "equivalent to Fortran" into
- "equivalent to Fortran constants:"

or
- "Equivalent to Fortran constants:"

that it gets absolutely clear that this column header is the column header of the two val

[2022-07-20 07:10] RolfRabenseifner commented on #556
@wesbland I'll ask my colleague @cniethammer because I'm retired and have only marginal time for such technical implementation. But, as you can see, I still try to contribute my knowledge where it may be helpful.

Most of my proposed errata for MPI_Cart_coords is already said:

For 4. the change-log entry, I propose:

The unintented change in the specification of argument coords in MPI_CART_COORDS

[2022-07-20 09:22] RolfRabenseifner commented on #556
A closer look reveals that the same maxdims argument is also used in MPI_CART_GET.
The wording there is significantly better:

Therefore, I propose
- to use in MPI_CART_COORDS a similar wording, and
- to add the sentence "The outcome is unspecified for the case that maxdims is less than ndims." also to the description of MPI_CART_GET.

Here my proposal for coords in MPI_CART_COORDS:

 instead of M

[2022-07-20 13:36] cniethammer commented on #556
Just started having a look at this:

At first I see the term vector being used in the parameter descriptions instead of array:

I think array should be used consistently here as the bindings always use array

Regarding the behaviour of MPI libraries for `MPI_Cart_coords` I did some quick test:
In case `maxdims < ndims`
 - Open MPI simply ignores entries for dimensions > maxdims
 - MVAPICH2 will fa

[2022-07-20 15:15] RolfRabenseifner commented on #556
No, the name maxdims means tht it may be larger than ndims. Therefore, I would not say anything about that case.

[2022-07-20 15:42] martinruefenacht commented on #497
@GuillaumeMercier This functionality is not merged in yet. But if required I can revive it and put it in with Bill's approval since it is document infrastructure.

[2022-07-20 15:44] tonyskjellum commented on #537
@regrant  --- will you help me finalize the variety of APIs and the proposal here?  I think we need a cross-cutting MPI_Parrived_any for multiple channels, not just one.

Does there need to be a way to specify completion of multiple channels' partitions or multiple partitions in one call too, as a secondary discussion---not clear.

[2022-07-20 15:48] GuillaumeMercier commented on #497
@martinruefenacht : that would be awesome!

[2022-07-20 15:59] regrant commented on #537
MPI_Parrived_any_any? maybe, but I wouldn't want to gate this off of that addition, since you could always use this over multi-channels to make it work

[2022-07-20 16:01] hppritcha commented on #310
associated PR https://github.com/mpi-forum/mpi-standard/pull/269 merged into mpi-4.1.x

[2022-07-20 16:01] #310 closed

[2022-07-20 16:07] tonyskjellum commented on #537
I added something to write up above just now, please critique.

[2022-07-20 16:14] wesbland commented on #521
Duplicate of https://github.com/mpi-forum/mpi-issues/issues/163

If that issue seems insufficient, please let us know.

[2022-07-20 16:14] #521 closed, assigned to nobody

[2022-07-20 16:18] wesbland commented on #163
cc: @martinruefenacht

[2022-07-20 17:14] #220 closed

[2022-07-20 19:51] regrant commented on #537
Thoughts: in order to match up with testany and test some, maybe we should make the second call MPI_Parrived_some instead of many? Other than that, I see this as pretty straightforward and good to shop around.

[2022-07-20 19:59] jeffhammond opened #561 "Deprecate mpif.h"
# Problem

mpif.h is terrible.  It cannot support a correct implementation of MPI that is standard-compliant Fortran, and provides zero safety to users.

We say the following in MPI 4.0 19.1.4:

# Proposal

Deprecate mpif.h in MPI-4.1 so that we can stop updating it and delete in MPI-5.

# Changes to the Text

TODO

# Impact on Implementations

Not much.

# Impact on Users

This will break code th

[2022-07-21 07:11] RolfRabenseifner commented on #560
@jeffhammond Which correction would you prefer? One of the two corrections proposed above, or a third one?

[2022-07-21 07:44] RolfRabenseifner commented on #561
I fully agree. It is time to deprecate mpif.h in MPI-5.0.

[2022-07-21 10:37] bkmgit commented on #560
There have been related complications in implementations:

- https://github.com/open-mpi/ompi/issues/76
- https://github.com/pmodels/mpich/pull/5057

[2022-07-21 13:30] devreal commented on #561
Why wait until 5.0? Deprecating it in 4.1 would allow us to remove it in 5.0, no?

[2022-07-21 13:40] martinruefenacht commented on #561
I agree, deprecate in 4.1. I will be putting forward the same with the _x bindings. Removal is then possible in 5.0. We also still have enough time for this kind of change.

[2022-07-21 13:46] #246 closed

[2022-07-21 13:52] martinruefenacht opened #562 "Introduce the concept of side documents"
# Problem

Both the Languages WG and the Hybrid & Accelerator WG require the ability to add bindings to the MPI Standard, but the bindings are not relevant to large parts of the MPI Standard audience. Therefore adding ever more bindings into the core document would clutter it unnecessarily.

# Proposal

We want to add a short section to 4.1 which allows the introduction of side documents. These si

[2022-07-21 13:53] wgropp commented on #269
Note that putting each of these anonymous types on a separate line is always correct. There is no need to try to figure out if it might be correct to use the `<type> a, b` form.  So my question: How easy is it to generate separate lines for each of the anonymous type parameters for the Fortran bindings?

[2022-07-21 14:01] bkmgit commented on #561
What other changes will be required in user codes? Many codes can probably manage changing from "mpif.h" to "use mpi" even if the code is Fortran 77.

[2022-07-21 14:48] hppritcha commented on #561
```use mpi ``` isn't that much of an improvement over mpif.h, but switching to use ```mpi_f08``` is more work.  From an implementors point of view it would be much simpler to just support a single approach.  Two is an improvement however.

[2022-07-21 15:25] wgropp commented on #416
I'm just going to do this.  In reviewing the document, I found many erroneous uses of \mpifunc, and I think the fix is appropriate.

[2022-07-21 15:31] #416 closed

[2022-07-21 15:37] devreal commented on #528
Notes from the WG meeting:

- Adding a specific function `_i` with Integer only arguments seems worthwhile.
- Precedence in C: `void*` pointer for usability where it should have been `void**`.
- Neighborhood collective is different since it deals with vectors which are not scalar constants.

[2022-07-21 16:01] devreal commented on #559
Notes from the WG meeting:

- Neither `MPI_PROD` nor `MPI_M**LOC` will ever be implemented in network hardware
- Split ticket into `MPI_PROD` and `MPI_M**LOC`, potentially deprecating `MPI_PROD` in 4.1. Are there any use-cases of `MPI_PROD` anywhere?
- There are use case for `MPI_M**LOC` (Marc-Andre had some, IIRC)

[2022-07-21 19:50] RolfRabenseifner commented on #269
I expect that Section 2.5.5 describes clearly that `<type> a, b` is a notation for "choice" and has the same meaning as the official Fortran `TYPE(*), DIMENSION(..) :: a, b`.
As the official Fortran notation does not require that a and b have the same type, I would expect that nobody has a reason to expect this for the non-Fortran-standard notation with `<type> a, b`.
Therefore, I expect there is

[2022-07-22 02:41] wgropp commented on #269
No, section 2.5.5 makes clear that the TYPE(*), DIMENSION(..) is for the mpi_f08 module, and this is already used in the Fortran 2008 binding. I'm talking about the bindings currently used for mpif.h and use mpi, and I was only talking about the Fortran, not the Fortran 2008, binding. If we *removed* both of those, this problem goes away. Or we can decide that it isn't worth fixing.

[2022-07-22 11:54] RolfRabenseifner commented on #269
2.5.5 says

variable; with the Fortran mpi_f08 module, such arguments are declared with the Fortran 2008 + TS 29113 syntax `TYPE(*), DIMENSION(..)`; for C, we use `void*`.

Reading this sentence from the middle, the notation `TYPE(*), DIMENSION(..)` represents a choice variable in mpi_f08, and `<type>` is doing the same in mpif.h or the mpi module, and `void*` is doing the same is in C.

I have no

[2022-07-22 14:00] #164 closed

[2022-07-22 14:04] wgropp commented on #277
I'm closing this, as either "set to" or "=" is ok, and I've made that clear in the instructions. I've changed the few uses of == in text to =.

[2022-07-22 14:04] #277 closed

[2022-07-22 14:38] wesbland commented on #561
Just to throw this out there since I'm sure this will come up during the discussion at some point (it always does):

There will be apps who are upset by this and don't want to change to support it. Those apps can also stick with an old version of their MPI library that keeps around support for `mpif.h` as long as they can convince their administrators/implementors to keep it.

From the perspective

[2022-07-23 02:46] #287 closed

[2022-07-23 14:35] wgropp commented on #269
Given the direction to deprecate mpif.h (and maybe the mpi module), this probably isn't worth the effort, though it should be easy - there is no reason to consider whether <type> a.b might be semantically correct - using one variable per line would always be correct.

[2022-07-25 17:12] wgropp opened #563 "Inconsistent description of chapters"
# Problem

In the intro chapter, when each of the chapters is briefly described, the collective chapter description includes

communication
was extended
to include inter-communicators.
It also adds
two new collective operations.
\MPIIII/ adds nonblocking collective operations.
\MPIIV/ adds persistent nonblocking collective operations.

None of the other chapters describes the history of the conten

[2022-07-25 17:20] wgropp opened #564 "Fortran Binding Issues and Capitalization"
# Problem

In Section 2.6.2, "Fortran Binding Issues", there is this text

capitals.

This was true for the original Fortran binding and the MPI module, but is not how the mpi_f08 module / Fortran 2008+TS/later Fortran is presented.

# Proposal

Clarify that the all-caps version applies to the mpif.h/use mpi bindings, and that the use mpi_f08 bindings are written in mixed case. This doesn't say an

[2022-07-26 02:58] jeffhammond opened #565 "Refer to Fortran 2018 instead of 2008+TS"
# Problem

Referring to Fortran 2008 + TS 29113 was a necessary evil.  Referring to the single ISO document that encompasses everything we need is appropriate for MPI 4.1.

# Proposal

Find all references to Fortran 2008 and TS, and replace with a Fortran 2018 reference.

# Changes to the Text

TODO

# Impact on Implementations

None

# Impact on Users

Nobody will have to figure out what the TS d

[2022-07-26 07:30] RolfRabenseifner commented on #565
Duplicate of https://github.com/mpi-forum/mpi-issues/issues/163

If that issue seems insufficient, please let us know.

[2022-07-26 17:39] wgropp opened #566 "No description of MPI_LOCK_EXCLUSIVE lock type in RMA"
# Problem

The RMA chapter talks about exclusive locks (which aren't what most people think) but never explicitly says that MPI_LOCK_EXCLUSIVE is how an exclusive lock is specified. While it is a natural assumption, the standard should be explicit about these constants

# Proposal

Add a description of both MPI_LOCK_EXCLUSIVE and MPI_LOCK_SHARED, similar to those provided for other such constants.

[2022-07-27 17:20] Wee-Free-Scot opened #567 "Deprecate MPI_PROD"
# Problem

There are no known usages of MPI_PROD in application codes. Implementing MPI_PROD in RMA efficiently requires hardware that does not exist; being forced to implement a slow-path MPI_PROD for RMA compromises the fast-path implementation of commonly-used operators in RMA. Deprecating for RMA but not for reductions and scans would suggest there is a use-case for MPI_PROD in collectives, bu

[2022-07-27 17:45] Wee-Free-Scot commented on #567
Here is a PDF with the proposed changes:
[mpi40-report_Issue567_Deprecate_MPI_PROD.pdf](https://github.com/mpi-forum/mpi-issues/files/9201434/mpi40-report_Issue567_Deprecate_MPI_PROD.pdf)

Removals on pages 215, 216, and 824, addition on page 750, adjustment to constant index on page 1054.

[2022-07-29 17:24] devreal opened #568 "Error handling in MPI_Startall"
# Problem

`MPI_Startall` takes multiple requests and attempts to start the related operations. The problem with is that we cannot properly report an error for all requests that cannot be started if an failure occurred that affects one or more of them simply because we do not have status objects through which to communicate the status. If we trigger an error handler in `MPI_Startall` and that hand

[2022-08-01 02:35] jeffhammond commented on #163
We don't use all of any language specification. Fortran 2018 is the single reference for Fortran we require. What is the value in making multiple references, other than history? Put a historical note in the language bindings chapter if you want, but otherwise use Fortran 2018.

[2022-08-01 02:38] jeffhammond commented on #565
It is insufficient in that I'm interested in the change proposed here, not formatting cleanup on F08+TS uses.

[2022-08-01 08:24] RolfRabenseifner commented on #163
The MPI Forum required section 19.1.6 and it is good that we have it, It is not about historical. It is about whether an older compiler version is still okay for partial or full MPI Fortran support.
You may be right with some location in the MPI standard.
But for example the first location (in MPI-4.0 Sect. 2.5.5):

- Changing it into _"Fortran 2008 with TS 29113 or Fortran 2018 and later"_ is cor

[2022-08-01 15:48] wgropp opened #569 "What is a "host process"? What is "Machine-dependent absolute address" when referring to process rank?"
Section 9.1.2, p453 (MPI40) in describing the "MPI_HOST" predefined attribute key, calls this the "host process rank". This dates from the very, very early days of message passing systems, when some systems had a separate "host" computer and a process running on it, which might be part of the MPI job. I do not believe *any* system does this any more (so we might also want to deprecate MPI_HOST), b

[2022-08-01 15:53] wgropp opened #570 "What is "target node"?"
Section 12.3, page 571 (MPI40) refers to "target node".  This probably should be "target process".  The troublesome text is

[2022-08-01 16:01] wgropp opened #571 "What are "target nodes"?"
Section 14.2.8, p655 (MPI40), in the discussion of the collective buffering hints, refers to "target nodes".  There is some description as to some of the operations that these may perform, but no discussion of what these are.  What is needed is a short paragraph or so that describes an abstract I/O system as a possible (but not required) implementation, and that identifies terms such as target nod

[2022-08-01 16:10] wgropp opened #572 "Unclear description of file "chunk" options"
Section 14.2.8, p655 (MPI40), in the discussion of the chunked file hints, uses terms such as "array entry" without defining them. As this is a comma-separated list, it isn't clear what this means.

Since the "chunked_size" must be the same on all processes, this limits the cases to which this can be applied. What that intentional?

(oh, and "multidimentional" is mis-spelled.)

[2022-08-01 16:19] wgropp opened #573 "Which are "these displacements""
Section 14.3, p 658 (MPI40) includes the following

To what does "these displacements" refer?

[2022-08-01 16:27] rsth commented on #573
The definition of filetype in 14.1.1 has the correct wording. It is only partly replicated here.

[2022-08-01 16:36] jeffhammond commented on #163
We should specify the specific features of Fortran 2018 we require, which is not hard. I don't know why you want to use one huge and one short document to describe what fits into a bulleted list, with references to Fortran 2018 features.

[2022-08-01 18:11] wgropp commented on #163
On further reflection, my preference is to define what we mean by "Fortran" and by "C" in the terms chapter, and then stick with just Fortran and C when mentioning languages.  We would explain the binding display (Fortran 2008) as being short for Fortran 2008 with TS29113 or Fortran 2018 or later. Only when something different is required should we get into details of the language version.  We are

[2022-08-03 14:11] #269 closed

[2022-08-03 14:14] wesbland commented on #563
I would suggest that the intro chapter committee takes this one and gets feedback from the relevant other chapter committees to confirm that the text is good.

[2022-08-03 14:23] wesbland commented on #287
Thanks for taking care of this @wgropp! The new version looks much more useful.

![Screen Shot 2022-08-03 at 9 23 13 AM](https://user-images.githubusercontent.com/1561207/182632551-c62db512-7f87-46c8-adb6-6b60be9d1aaf.png)

[2022-08-03 14:27] wesbland commented on #564
I'll assign this one to @hritzdorf as the Fortran WG rep and @puribangalore as the Terms CC rep.

[2022-08-03 14:31] wesbland commented on #567
![image](https://user-images.githubusercontent.com/1561207/182634399-11c2566f-7bc0-4235-93d6-6a1707248c9b.png)

[2022-08-03 14:37] wesbland commented on #568
Given that there is no p2p WG at the moment, I'll give this to the p2p CC.

[2022-08-03 14:40] wesbland commented on #569
In fact, we do have an issue in progress to deprecate MPI_HOST: https://github.com/mpi-forum/mpi-issues/issues/57

[2022-08-03 14:42] wesbland commented on #569
I think the part in Chapter 9 can be a duplicate of #57. For the rest of it, I'll hand this to the Chapter 7 CC: @GuillaumeMercier

[2022-08-04 17:01] devreal commented on #558
Quickly touched on this during the WG call:

1) We should try to deprecate PSCW for 4.1.
2) There is a functional equivalence between fence and flush+barrier but there may be a difference in performance. Having a replacement for fence that ties in with passive target synchronization would make it easier to deprecate fence. We'll call it `MPI_Win_quiet` or `MPI_Win_all_flush_all` :)
3) It's unclear

[2022-08-04 17:41] jeffhammond commented on #560
@RolfRabenseifner "equivalent in Fortran" seems like the smallest correct change

[2022-08-07 14:36] wgropp opened #574 ""Shared offset access""
Section 14.4.4, page 651 (MPI40) has this phrase:

This is just after this statement,

which makes it reasonably clear that "shared offset access" really means "access using the shared file pointer". This is the only use of "shared offset", and does introduce an otherwise undefined term and usage.  I propose to improve this by replacing the undefined "shared offset access" with "accesses using the

[2022-08-08 14:08] wgropp opened #575 "Incorrect example of MPI_2REAL"
Section 6.9.4, p 230 (MPI4.0) includes this code:

`MPI_Type_contiguous(2,` MPI_REAL, MPI_2REAL);
This is not pseudo-code, since the MPI routine is in mixed case and there is a semicolon terminating the line. But this is not correct C code either, as it would need to be
`MPI_Type_contiguous(2,` MPI_REAL, &MPI_2REAL);
(There are other examples, such as in Section 6.5, where mixed case MPI routines

[2022-08-08 15:48] RolfRabenseifner commented on #575
MPI-4.0 page 35 lines 26-27 says:

Therefore, MPI_2REAL must be available in C and all three Fortran support methods, and
therefore, I would prefer the language independent notation.

[2022-08-11 19:43] brandongc opened #576 "User defined reduction operations for `mpi_f08` are not natural to write in Fortran"
# Problem

User defined reduction operations for `mpi_f08` are not natural to write in Fortran:

[code]

# Proposal

In MPI 5 enable users to write something like

[code]

# Changes to the Text

At minimum change the abstract interface for user specified reductions.

# Impact on Implementations

Add a Fortran internal callback trampoline or use ISO_Fortran_binding.h to derive a C representation of

[2022-08-24 14:51] #550 closed, assigned to GuillaumeMercier

[2022-08-24 14:51] jprotze opened #577 "MPI_Comm_idup*: allow copying of new comm handle before completion"
# Problem

The standard states:

But there is no text that clarifies, whether the MPI_Comm variable referenced by `newcomm` can be copied (e.g., passed by value to a function call) before completion. As `request` is mentioned in the reference to nonblocking collective semantics, but `newcomm` is not, the delayed modification of the handle value seems not be covered.

In general, it would be possib

[2022-08-24 18:08] ilagunap opened #578 "Coarse-grained fault-tolerance interface (Reinit, slice 1)"
Read latest PDF here: [reinit.pdf](https://github.com/mpi-forum/mpi-issues/files/12703802/reinit.pdf)

# Problem

Application developers would like to tolerate failures without making significant changes to the code, reasoning about failure propagation between different MPI calls, and reasoning about the behavior of MPI under failures. In essence, developers would benefit from a fault tolerance in

[2022-08-24 18:29] wgropp commented on #163
In looking at the text more carefully, it is more complicated to fix this up.  There are many places that talk about "TS29113 language feature" or "as part of TS29113". This makes sense for the F2008 with TS29113 spec but not really for F2018. I still think that the best resolution is to define what "Fortran" means, and provide some background on the historical progress, as well as explaining the

[2022-08-25 15:25] mahermanns commented on #426
Let's close this as a duplicate of #542 and continue discussion there.

[2022-08-25 15:25] #426 closed

[2022-08-25 16:19] mahermanns opened #579 "Robust handle conversion routines for MPI_T event information"
# Problem

Currently, the MPI_T event interface allow to share information about internal in form of basic integer (and floating point) elements part of a larger event definition. However, this currently implies that handle information, such as the communicator or request handle that is associated with an event, has to be cast by the tool to the appropriate handle type. However, the tool does not

[2022-08-25 19:44] #163 closed

[2022-08-25 21:29] wgropp commented on #469
No occurrences of rank or task, and only uses of process are correct in the front matter.

[2022-08-25 21:29] #469 closed, assigned to schulzm, RolfRabenseifner, wgropp

[2022-08-25 22:14] wgropp commented on #380
Not all examples are worth extracting, and they would clutter up the web site. I didn't find a good example of publishing extracted code at www.pbrt.org - there, the code is in github.
A relatively easy option is to add an option to the example extractor that would help name the file for an example and keep a list, so that they could be copied to the website. Before doing that, we should decide ho

[2022-08-26 16:09] bkmgit commented on #560
Another related issue https://github.com/open-mpi/ompi/issues/7918

[OpenMPI](https://github.com/open-mpi/ompi/blob/main/ompi/include/mpi.h.in#L235) `MPI_Fint is the same as ompi_fortran_INTEGER_t`
[Check sizes during configuration of OpenMPI](https://github.com/open-mpi/ompi/blob/main/config/ompi_fortran_get_sizeof.m4#L31)

[MPICH](https://github.com/pmodels/mpich/blob/main/src/include/mpi.h.in#L

[2022-08-31 14:52] tonyskjellum commented on #577
I think that newcomm is simply unusable till completion, and that is that
:-) Making implementations promise certain levels of use of the handle
before completion is possibly expedient but I think not a good idea.  I
agree you don't know if you can make copies of the handle before
completion.  I would say not.

On Wed, Aug 24, 2022 at 10:51 AM Joachim ***@***.***> wrote:

--
Anthony Skjellum, PhD

[2022-08-31 15:31] wgropp commented on #577
In the case of other objects being filled in by a nonblocking operations, those objects cannot be accessed until the operation completes. We had a *long* discussion about this for Isend and Irecv. I see no reason to make this different. Until the request completes, the newcomm must not be accessed, even to copy it into another variable. We could add a *reminder* about this - I do not think it woul

[2022-08-31 16:17] jprotze commented on #577
I would argue, that the opaque handle is a reference to the implementation's internal data structure. It is clear, that the data structure is not usable before completion, but some information must be stored anyways (like a copy of the attributes at the time of the non-blocking function call!). Allowing to copy the handle value would require the implementation to setup the mapping of handle value

[2022-09-09 07:07] cniethammer commented on #556
Added PDF with marked changes in https://github.com/mpi-forum/mpi-standard/pull/690#issuecomment-1241581133

[2022-09-12 14:06] wesbland commented on #544
@devreal - This passed a no-no reading at the last meeting. Do you want to schedule it for a first vote at the upcoming September 2022 meeting?

[2022-09-12 14:24] devreal commented on #544
Ahh, I completely forgot about that one. Thanks for the reminder, I sent out the vote request.

[2022-09-12 19:42] jdinan opened #580 "Memory Allocation Kind Info"
# Problem

Users currently rely on nonstandard methods for enabling and querying MPI library support for accelerator memory (e.g., [Open MPI](https://www.open-mpi.org/faq/?category=runcuda#mpi-cuda-aware-support), [MPICH](https://www.mpich.org/static/docs/v4.0.x/www3/MPIX_GPU_query_support.html), [Intel MPI](https://www.intel.com/content/www/us/en/develop/documentation/mpi-developer-reference-linu

[2022-09-12 21:23] abouteiller opened #581 "ULFM Fault Tolerance (slice 1: ack_failed, get_failed, revoke)"
# Problem

The monolithic ULFM proposal has been split in morsels so that the MPI Forum can focus on individual topics.

Main topic issue
https://github.com/mpi-forum/mpi-issues/issues/20

# Proposal

The first topic slice contains the following concepts for communicators:
* Chapter structure and introduction material
* Error codes
* Error raising and semantics after errors are raised
* MPI_COMM_R

[2022-09-12 21:27] abouteiller opened #582 "ULFM Fault Tolerance (slice 2: agree)"
# Problem

The monolithic ULFM proposal has been split in morsels so that the MPI Forum can focus on individual topics.

Main topic issue
https://github.com/mpi-forum/mpi-issues/issues/20

# Proposal

The second topic slice contains the following concepts for communicators:
* MPI_COMM_AGREE

# Changes to the Text

Addition of an FT chapter containing the proposed constructs

Read text (Sept'23) ht

[2022-09-12 21:41] abouteiller opened #583 "ULFM Fault Tolerance (slice 3: shrink)"
# Problem

The monolithic ULFM proposal has been split in morsels so that the MPI Forum can focus on individual topics.

Main topic issue
https://github.com/mpi-forum/mpi-issues/issues/20

# Proposal

The third topic slice contains the following concepts for communicators:
* MPI_COMM_SHRINK

# Changes to the Text

Addition of an FT chapter containing the proposed constructs

# Impact on Implementa

[2022-09-12 23:53] wesbland opened #584 "Rename Name-Shifted Profiling Interface (PMPI) to Interception Interface"
# Problem

As part of developing the proposal for QMPI, we needed to differentiate between the existing interface and the newly proposed interface. This pointed out the strange existing name.

PMPI is used for more than just profiling and it would be best if the name reflected that.

# Proposal

Replace “name-shifted profiling interface”, “profiling interface”, etc. (or similar text) anywhere it i

[2022-09-13 06:56] mahermanns commented on #584
I wonder whether we should also think about a new prefix `IMPI_` instead of `QMPI_`. I know the `Q` as the "next after P" has a long internal tradition, yet it may not be an intuitive prefix for user. However, may we have potential name conflicts with Intel MPI internal naming?

[2022-09-13 14:27] wesbland commented on #584
I think that's a fair point (though it's probably part of https://github.com/mpiwg-tools/mpi-standard/pull/10 😄).

I haven't thought through it that much, but IMO, `FMPI` might make more sense (function pointer interception) and wouldn't cause confusion with `IMPI`. While not part of the standard, it's been around for a long time and has a lot of relatively famous uses of the prefix. It's kinda th

[2022-09-19 18:48] qkoziol opened #585 "Add truly asynchronous MPI operations"
# Problem

Many modern HPC systems have hardware offload capabilities for MPI operations, which could asynchronously execute communication and I/O operations concurrently with application computation.  However, MPI does not currently have operations that take advantage of these capabilities in a coherent and user-friendly manner.

# Proposal

Improve performance of MPI applications in several ways

[2022-09-19 19:00] hppritcha commented on #585
I think it would be interesting to see if these types of concepts may fit better in more modern languages than C and fortran.  How would this proposal look if one were to use futures/promises in C++ or rust, for example?

[2022-09-20 15:08] icompres commented on #585
@tonyskjellum is this related to ExaMPI?

My understanding is that this is an implementation aspect, or is there an inherent limitation in the MPI spec itself?

[2022-09-20 15:26] jprotze commented on #585
From my perspective, the continuations proposal (https://github.com/mpiwg-hybrid/hybrid-issues/issues/6) tries to provide one aspect of truly asynchronous MPI operations: Getting notified when the operation is done. The proposal also has thoughts on how to drive progress (allowing implementation on hardware that does not allow asynchronous progress). EuroMPI'20 had two papers on this topic:
- MPI

[2022-09-21 13:06] wesbland commented on #585
@qkoziol For now, I’m going to drop the WG tags. Most likely, this will involve a new WG that would work with the existing WGs or chapter committees. Probably not much point in putting it in every WG’s queue in the meantime.

[2022-09-21 13:27] EmmanuelBRELLE commented on #537
What about providing instead an array of MPI_request as extra argument of partitionned communication calls (a MPI_Request for each partition), to fallback on standard MPI_[Test/Wait]any calls?

This would solve the Parrived_any_any issue (MPI_Waitany would get an array filled with partition requests from many channels) in addition to prevent from MPI specification duplications.

MPI_Precv_init wou

[2022-09-28 08:19] jeffhammond commented on #585
Step 1 in making MPI asynchronous is to require progress in asynchronous operations.  The MPI Forum has for decades lacked the courage to require any form of asynchronous progress whatsoever, and that attitude will stand in the way of anything else we try to do on this front.

[2022-09-28 08:37] jeffhammond commented on #585
It used to be a reasonable attitude to view compute resources as valuable and scarce when we had less than 20 cores per node, but now every server platform has at least 100 hardware threads per node, and very few applications are using them.  Additional threads per core are almost always unused because shared-memory MPI and thread scaling sucks and doubling N in synchronization operations  to get

[2022-09-28 13:07] wgropp commented on #585
I agree with Jeff. I can still see room for optimizing some particularly BSP applications with a weaker progress implementation, but that should be just that - a special optimization justified by application need. The default should be good progress.

[2022-09-29 20:27] devreal commented on #567
@RolfRabenseifner dug up this code snippet which seems legit (i.e., not just a wrapper or test case): https://github.com/manolillo/palm4u/blob/1751eca6b334bb29c23f85fdb1d78f22da34eb7a/current_version/trunk/SOURCE/spectra_mod.f90#L690

[2022-09-29 21:51] christgau commented on #567
And It's still present in the latest (original) code: https://gitlab.palm-model.org/releases/palm_model_system/-/blob/master/packages/palm/model/src/spectra_mod.f90#L685

[2022-09-30 12:49] wesbland commented on #581
I believe this is the set of changes for the no-no vote on 2022-09-30:

https://github.com/mpi-forum/mpi-standard/pull/665/files/92f7596e8958dfc3a71bbc83514dec3d3b7dcc07..43864f6499e0e8fdb25534625397761e256c7479

[2022-09-30 12:52] wesbland commented on #474
I believe this is the set of changes for a no-no vote on 2022-09-30:

https://github.com/mpi-forum/mpi-standard/pull/710/files/d0b4944409bc175f46a5b4f86351fcdcd8f3d7ee..2416c222c468a75954988374f4192766e50a7cca

[2022-09-30 13:05] #496 closed, assigned to GuillaumeMercier, wgropp

[2022-09-30 14:53] devreal commented on #566
@wgropp

The current text below `MPI_WIN_UNLOCK_ALL` describes the lock types:

issued between the lock and unlock calls, and to protect load/store accesses to a locked local
or shared memory window executed between the lock and unlock calls. Accesses that are
protected by an exclusive lock will not be concurrent at the window site with other accesses
to the same window that are lock protected. Ac

[2022-09-30 15:25] wgropp commented on #566
I like this idea. This text, with the addition of the (missing!) symbol names, would be sufficient. I also agree that this is an editor change.

[2022-09-30 18:41] jeffhammond commented on #567
PVM was used too. Now it's not. People will find a way. If somebody wants to use this ridiculous feature, that can write a user defined reduction. I'll do it for them if they complain.

[2022-09-30 18:43] jeffhammond commented on #567
Also, why the code comment say "Global sum of spectra on PE0" if it's doing PROD? Does this code actually _work_?

[2022-09-30 18:44] jeffhammond commented on #567
Also, __parallel is a reserved symbol per the C standard so this code is UB.

[2022-09-30 19:42] schulzm commented on #562
We have a terminology mix here - side documents (here), associated documents (website), companion documents (rules and procedures) - are they the same, are they different, do they have different rules?

We should list them all here to introduce the various options with common properties first - within those we probably have the language binding side documents and experimental feature documents, wh

[2022-09-30 19:45] wesbland commented on #562
Based on the discussion on 2022-09-30:

* We need to unify and better specify the terminology on these documents between the website, procedures document, and this proposal.
* It sounds like this is proposing having at least three categories of documents:
  * Normative side-documents (e.g., new language documents, MQD?, MPIR?)
  * Non-normative side-documents (e.g., exploratory features)
  * Organ

[2022-09-30 20:55] jdinan commented on #107
To folks that have asked, no the problem has not gone away since users don't know to which integral C type a given MPI integer type maps. If another Forum member has cycles to pick up this issue (should be a relatively easy one), please feel free to do so.

[2022-10-03 15:40] wesbland commented on #511
This issue had a "no-no" vote on 2022-09-29, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 27
	<td> 0
	<td> 2
</table>

[2022-10-03 15:40] wesbland commented on #545
This issue had a errata vote on 2022-09-29, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 28
	<td> 0
	<td> 1
</table>

[2022-10-03 15:42] wesbland commented on #544
This issue had a first vote on 2022-09-29, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 27
	<td> 0
	<td> 2
</table>

[2022-10-03 15:43] wesbland commented on #535
This issue had a first vote on 2022-09-29, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 27
	<td> 0
	<td> 2
</table>

[2022-10-03 15:44] wesbland commented on #534
This issue had a first vote on 2022-09-29, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 27
	<td> 0
	<td> 2
</table>

[2022-10-03 15:44] wesbland commented on #581
This issue had a "no-no" vote on 2022-09-30, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 28
	<td> 0
	<td> 1
</table>

[2022-10-03 15:45] wesbland commented on #511
This issue had an errata vote on 2022-09-30, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 29
	<td> 0
	<td> 0
</table>

[2022-10-03 15:46] wesbland commented on #474
This issue had a "no-no" vote on 2022-09-30, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 29
	<td> 0
	<td> 0
</table>

[2022-10-03 16:26] #511 closed, assigned to hppritcha, Wee-Free-Scot

[2022-10-03 16:37] #545 closed, assigned to hppritcha

[2022-10-03 16:43] hppritcha opened #586 "MPI_Buffer_attach and Sessions"
# Problem

Questions have been raised about the use of MPI_Buffer_attach in cases where MPI Sessions are being used.
See discussion on the sessions email list:

https://lists.mpi-forum.org/pipermail/mpiwg-sessions/2022-September/000683.html

# Proposal

Like fix will be to add some verbiage, perhaps in an advice to users, about using this function when using the sessions model.

# Changes to the T

[2022-10-05 13:13] jeffhammond commented on #561
Some folks, not just me, think we should do this in 4.1.  Can we make that happen?  I'd really like to delete in MPI-5.

[2022-10-05 13:29] tonyskjellum commented on #561
I agree with Jeff.

[2022-10-05 19:13] devreal commented on #561
Please take a look at https://github.com/mpi-forum/mpi-standard/pull/722.

[2022-10-06 07:44] mahermanns commented on #414
I created a PR for this issue. Contrary to the last discussion in the WG as mentioned above, I placed the text in the normative parts of the text, as I feel this to be a moot point, if tools cannot rely on this behavior.

[2022-10-06 11:13] mahermanns commented on #385
@schulzm  Revisiting this after the Sep 2022 meeting, would you propose to leave the semantics as it is (apart from changes that are necessary to fulfill https://github.com/mpi-forum/mpi-issues/issues/542 and close this issue?

This would mean everything would stay the same for MPI_T function, always return something of `MPI_T_ERR_*` sorts. Correct?

[2022-10-07 14:32] tonyskjellum commented on #585
I am obviously in concurrence with Bill's @wgropp's latest comment :-)

[2022-10-10 15:53] #282 closed

[2022-10-10 18:36] abouteiller commented on #511
There has been some confusion with this issue due to the fact that it tracked 2 different PRs from when the original issue got split into to different directions.

What has been read in may, no-no voted and voted-in as an errata in Sept. 2022  is https://github.com/mpi-forum/mpi-standard/pull/644

I thought we had already voted-in #629 as an errata earlier, but cannot find track record of voting o

[2022-10-11 18:14] jeffhammond commented on #586
The sensible thing to do here is add a new function that attaches buffers to _communicators_ and deprecate the original one.

[2022-10-11 18:16] wgropp commented on #586
Agree with Jeff. This is a long-standing flaw in the MPI library design.

[2022-10-11 18:21] jeffhammond commented on #107
Can one just default to %llu and promote it, if it's not 64b?

[2022-10-11 18:42] brandongc opened #587 "Add procedure to check if an info object's value matches some value"
# Problem

Querying `MPI_Info` objects can be verbose and result in extra resource usage.

Consider some code such as

[code]

A user has to allocate/ free a buffer to hold the value and write string parsing code to check for a value or matching substring.

# Proposal

Add a match/ test function for `MPI_Info` objects to simplify some queries such as

[code]

would allow a  user to write

[code]

[2022-10-11 20:23] jeffhammond commented on #587
Good idea. I like it.

[2022-10-11 21:05] schulzm commented on #586
I agree, this makes sense and also solves the problem beyond Sessions. Can we get this done as an MPI 4.1 issue, though? The routine alone is probably not enough, as we need some kind of advice to user and implementors when both (old and new version) are used. What would this mean?

[2022-10-12 00:23] wgropp commented on #586
For 4.1, we could add an attach/detach from a communicator, and Bsend would use a buffer on the communicator, if present, and if not, the "global" buffer from Buffer_attach. Deprecate the Buffer_attach/detach for removal later. Its backward compatible. Advice to users is to prefer the by-communicator version, and to change code that uses the global buffer to one per communicator. Implementation sh

[2022-10-12 00:32] VictorEijkhout commented on #587
On , 2022Oct11, at 13:42, brandongc ***@***.******@***.***>> wrote:

MPI_Info_Test(info, key, test_substring, key_is_defined, value_is_matching);

Throw in an optional (int)*)(char*,char*) function pointer for other than equality tests…..

Victor.

[2022-10-12 05:28] schulzm commented on #586
Yes, I agree - this makes sense and is kind of what I had in mind as well. There is quite a bit of surrounding text, though, that needs to be adjusted and/or extended. I will take a stab with it and run it through the P2P WG as well. Let's see - perhaps we can still make this for 4.1.

[2022-10-12 13:40] wesbland commented on #511
I see. That's my confusion then as issues and PRs should be 1:1 to avoid this kind of confusion (and is the reason I put [this](https://github.com/mpi-forum/mpi-issues/issues/511#issuecomment-1136077684) comment above at the time. I should have double checked that history before the last meeting. I always put voting records on issues, not PRs. If I look at the email that @hppritcha sent before the

[2022-10-12 19:36] abouteiller commented on #511
I see, thanks for clarifying the history. I got confused myself as I thought that the announce for 629 was actually for 644. I'll bring up 644 again next time with an independent issue then.

[2022-10-12 19:48] abouteiller opened #588 "Clarification of errhandler fallback with Sessions"
# Problem

Fallback for error handler association when no error handler is available has been found unclear, especially since we have more error handler associations since the addition of the Sessions. We are trying to clarify existing MPI-4.0 behavior, and fix some uncertainty with Session behavior.

# Changes to the Text

inquiry chapter: add a figure that details error handler associations, and

[2022-10-18 13:35] cniethammer opened #589 "Issues with Partitioned Communication Example-4.4"
# Problem

The Partitioned Communication Example-4.4 is erroneous and has some issues that should be corrected:

* The variable 'flag' is used incorrectly multiple times resulting in erroneous program behaviour
* The check for partitions with index `j+1 < recv_partitiones` is superfluous, here
* Regrading OpenMP all used variables in an OpenMP block should declare data-sharing attributes (the use

[2022-10-19 13:22] cniethammer commented on #457
New PR based on the current mpi-4.x version targeting MPI 4.1 is in preparation. Discussion of changes draft within the Topology WG planed before presentation to the forum at the December meeting.

Branch in preparation under https://github.com/cniethammer/mpi-standard/tree/chap-topol-cleanup

[2022-10-19 16:09] wesbland opened #590 "Remove Physical Requirement from Voting Meetings"
# Problem

For the past two and a half years, we've been holding voting meetings virtually (plus one hybrid) through the exceptional virtual meeting system. Now that it's clear we'll be continuing to use that system going forward, let's make that system the plan going forward and remove the physical requirement from voting meetings.

# Proposal

Remove the exceptional virtual meeting category and

[2022-10-19 16:36] Wee-Free-Scot commented on #562
## Decisions from virtual meeting on 19th October 2022

* Normative side-documents -- same procedures as main doc, except no ratification (full proposal 2-votes, errata 1-vote, side-doc committee 0-vote)
    * All languages side-documents would be this category (for example, CUDA bindings, SYCL bindings, HIP bindings, Python bindings -- can be partial coverage or full coverage of MPI concepts/func

[2022-10-19 16:47] Wee-Free-Scot commented on #568
Let's push this to a full proposal that targets MPI-5.0

[2022-10-19 17:11] Wee-Free-Scot commented on #536
I think this is unlikely to make it into MPI-4.1 due to lack of bandwidth, but I'd like to pick this up again in the MPI-5.0 timeframe. I'll change the labels appropriately and move this into the MPI-5.0 project board.

[2022-10-19 17:23] Wee-Free-Scot commented on #499
This issue is important, but it is being superseded by an attempt to create a single holistic definition of progress in the semantic terms chapter. @RolfRabenseifner is there an issue for your efforts to define progress in Chapter 2?

[2022-10-19 18:08] Wee-Free-Scot commented on #493
Is this the issue that will be used to track the attempt to create a single holistic definition of progress in the semantic terms chapter? Should issue https://github.com/mpi-forum/mpi-issues/issues/499 be closed with a comment redirecting to this one?

[2022-10-19 18:25] Wee-Free-Scot commented on #421
Slides from a virtual meeting on this topic presented on 12th October 2022
[Enabled is an MPI term.pdf](https://github.com/mpi-forum/mpi-issues/files/9823172/Enabled.is.an.MPI.term.pdf)

Feedback from that presentation:
* Defining enabled as a term is a good direction
* Link with MPI_PREPARE -- an enabled term will make text for prepare easier -- potentially should be merged
* Link with holistic p

[2022-10-19 18:54] Wee-Free-Scot commented on #90
This needs to move very quickly if it is going to hit MPI-4.1 -- who is working on it?

[2022-10-19 19:14] Wee-Free-Scot commented on #518
@martinruefenacht is this going to be on the agenda for a reading at the Dec 22 meeting? There's one unresolved review comment (replacements exist for Fortran), but otherwise its ready. It would be a shame for this to miss the MPI-4.1 release.

[2022-10-19 21:47] pvbangalore commented on #493
I would say no, Issue #499 is about adding text to MPI_WIN_TEST.

[2022-10-19 22:09] abouteiller commented on #588
This is important for MPI 4.1 and will be progressed accordingly

[2022-10-19 22:25] abouteiller commented on #283
I am taking ownership of this issue now. I think the following discussion about the naming convention of the function needs some discussion to decide if the forum is content with current resolution. https://github.com/mpi-forum/mpi-standard/pull/166#issuecomment-918264991

We will advance this item towards MPI 4.1, but it is no a blocker and could be delayed if difficulties are encountered.

[2022-10-20 00:57] devreal commented on #570
I believe this will be addressed in https://github.com/mpi-forum/mpi-standard/pull/611.

[2022-10-20 01:03] devreal commented on #551
@wesbland This issue had a reading in Chattanooga so I added the label for it.

[2022-10-20 01:10] devreal commented on #528
I will not be able to work on this for 4.1 due to a) a lack of cycles and b) not being sufficiently versed in Fortran to deliberate on its type system. If @VictorEijkhout wants to pick it up I'll be happy to help but I won't drive it.

[2022-10-20 01:11] devreal commented on #499
I removed this issue from the 4.1 project, feel free to add it back if you want to work on it for 4.1.

[2022-10-20 01:12] devreal commented on #429
@wesbland This had a reading in Chattanooga. I changed the tags from scheduled-reading to had-reading.

[2022-10-20 07:36] bkmgit commented on #560
@jeffhammond @RolfRabenseifner Feedback appreciated

[2022-10-20 10:07] Wee-Free-Scot commented on #478
I added a PR review with some additional terminology fixes. I have not examined the entire chapter, just the PR diff.

@hppritcha IMHO. we should push on this, targeting the MPI-4.1 release.

[2022-10-20 10:20] RolfRabenseifner commented on #499
Dear Joseph @devreal, it is important that the definitions of each test procedure (and MPI_Win_test is such a test procedure) are defined correctly. PR https://github.com/mpi-forum/mpi-standard/pull/591 had a good result (maybe not perfect, but perfect is always too expensive). Therefore, I ask you to
- bring this issue back to MPI-4.1
- add a small PR that substitutes the text MPI-4.0 page 601 li

[2022-10-20 10:43] RolfRabenseifner commented on #493
We, the assignees, currently discuss a proposal for probably a WG meeting together with RMA in week Oct. 24-28 and the virtual MPI forum meeting on Nov. 2, 2022.

[2022-10-20 12:19] jeffhammond commented on #528
I can produce the text but don't know how to implement in latex.

[2022-10-20 12:37] wgropp commented on #528
Send me the text and any notes on how you want it to appear.

[2022-10-20 14:09] wesbland commented on #429
Thanks. Sorry I missed this.

[2022-10-20 14:09] wesbland commented on #551
Missed this one too... Thanks.

[2022-10-20 14:16] wesbland commented on #570
I'm going to go ahead and close this as a duplicate of #407 then and if someone disagrees, they can reopen it.

[2022-10-20 14:16] #570 closed, assigned to devreal, wgropp

[2022-10-20 15:05] RolfRabenseifner commented on #560
Yes, I also needed some time to fully understand what this table should say.

I would recommend to substitute

by

[2022-10-20 15:29] mahermanns commented on #229
Tool chapter looks good.

[2022-10-20 16:01] jdinan commented on #76
We don't currently have a strong enough driver to make these changes. Implementations can check "same everywhere" properties when creating communicators, windows, etc. The overhead of such checks has been raised as a concern, but has not been measured at an application level to determine whether implementations would invest the effort needed to support info keys in addition to collective checks th

[2022-10-20 16:01] #76 closed

[2022-10-20 16:03] jdinan commented on #312
This is a duplicate of #76 which I have closed as cancelled.

[2022-10-20 16:10] Wee-Free-Scot commented on #514
@hppritcha I fixed the merge conflicts for this one -- it looks like a MPI-4.1 clean up.

[2022-10-20 16:20] Wee-Free-Scot commented on #472
I resolved merge conflicts -- this is a clean-up issue that should target the MPI-4.1 release.

[2022-10-20 16:25] Wee-Free-Scot commented on #188
I am inclined to push this issue without the AoU suggested by @RolfRabenseifner -- in the interests of getting something in to MPI-4.1 that cleans up a point of confusion. If the AoU is desired, it can be added as a separate issue/PR with its own timeline.

[2022-10-20 16:30] Wee-Free-Scot commented on #83
@tonyskjellum we owe this start ordering info key from the persistent collective operations work. It would be great if this hit the MPI-4.1 release. I updated the PR by merging mpi-4.x into it. This should not need further changes, but we will need to restart the procedure with a reading in the Dec 22 meeting.

[2022-10-20 16:32] tonyskjellum commented on #83
Yes we should read again in December … thank you for doing this merging …
this is my albatross (cf, Rime of Ancient Mariner).

On Thu, Oct 20, 2022 at 12:30 PM Dan Holmes ***@***.***>
wrote:

--
Anthony Skjellum, PhD
***@***.***
Cell: +1-205-807-4968

[2022-10-20 16:37] Wee-Free-Scot commented on #468
I'll set the milestone for this one to Dec 22 -- we need to figure out if that will be a reading or a 1st vote.

[2022-10-20 16:42] Wee-Free-Scot commented on #492
I've fixed merge conflicts -- this is a clean-up issue that should target the MPI-4.1 release.

[2022-10-20 16:49] Wee-Free-Scot commented on #567
Do we wish to:
1. carry on regardless -- ignore the potential for existing usages in the wild and deprecate MPI_PROD entirely in MPI-4.1?
2. roll with it -- grudgingly accept the possibility of MPI_REDUCE usage and restrict the deprecation to RMA accumulate operations in MPI-4.1?
3. give up (for now) -- either close this and never speak of it again or mark it for MPI-5.0 and hope for the best?

I

[2022-10-20 18:02] RolfRabenseifner commented on #188
@Wee-Free-Scot please see my latest comment on the pull request. My suggestion can be resolved with a small change within this update to this AtoU. This small change takes the newintro of the nonblocking communication section into account, which was rewritten in MPI-4.0.

[2022-10-20 18:14] RolfRabenseifner commented on #468
@Wee-Free-Scot Thank you for re-creating the PR based on now MPI-4.0.

@ all assignees, if you not complain, I would propose to go to the 1st vote. It was discussed and read very late during the MPI-4.0 process. It is independent on what we'll propose as an additional section on progress in the terms chapter, and based on the analysis during an MPI forum meeting, users already use this progress ru

[2022-10-21 10:56] cniethammer commented on #567
I'd be in favor of option (1) -- keeping it simple and not needing an(other) exception for the usage of reduction operations in Collective/reduce vs RMA/accumulate operations.
However, I would also support option (2) to improve at least the RMA part.
I think this should be addressed in 4.1 to go forward.

For those really needing a global product I would add an advice to users:
* warning about ove

[2022-10-21 14:51] VictorEijkhout commented on #567
For positive numbers.

V.

[2022-10-21 15:17] Wee-Free-Scot commented on #567
Correct, you'd need a second element in the reduction that counted negative inputs (each process supplies 0 for positive or 1 for negative -- that is, give `{ log(abs(a_i)), (a_i<0)?1:0 }` as input). If the count is odd, negate the result of the exponential.

[2022-10-21 16:37] hppritcha commented on #504
@martinruefenacht would you be able to work on this for 4.1?  Otherwise i'm inclined to put it off to 5.0.

[2022-10-24 06:17] RolfRabenseifner commented on #223
Dear Bill @wgropp and Wesley @wesbland,
I believe that the change-log should meet following objectives:
1. for the users and trainers who use and teach MPI: Wile scanning the change-log, they should get a clear impression whether they should look at the details or whether they can ignore this new or clarified feature for their individual purpose;
2. for implementors, especially when it touches a c

[2022-10-24 07:32] mahermanns commented on #487
I looked for `rank` in the changelog and to me all occurrences seem OK. References to `rank` either mean the argument of a call, or have other further qualification like "is a valid target rank"

 I would propose to close this ticket as resolved. @RolfRabenseifner objections?

[2022-10-24 07:43] RolfRabenseifner commented on #229
Topology chapter:
- MPI-4.0 Section 8.2, page 390, lines 29-32: These lines should be kept as part of the binding text.
- MPI-4.0 Section 8.6.1 Neighborhood Gather, page 419, lines 22-25: These lines should be kept as part of the binding text.
- All other examples are with example environment. There for I hit the checkbox for the Topology chapter.

[2022-10-24 07:59] RolfRabenseifner commented on #235
I just checked the topology chapter: all short. Checkbox done.

[2022-10-24 08:47] RolfRabenseifner commented on #325
@wesbland Dear Wesley, https://github.com/mpi-forum/mpi-standard/blob/mpi-4.x/chap-topol/topol.tex lines 921-960 uses

instead of

as described in https://www.mpi-forum.org/docs/other/instr-2020-12-09.pdf page 23.

Is this example in topol.tex correctly tested?

Dito for topol.tex, lines 1317-1339, 1521-1540, 1870-1898, 2012-2040, 2113-2143, 2176-2196, 2301-2330, 2450-2478, 3225-3278, 3287-3324, 3

[2022-10-24 08:54] cniethammer commented on #228
@wesbland @RolfRabenseifner I will check the examples for the Topologies chapter.

[2022-10-24 09:19] cniethammer commented on #325
@RolfRabenseifner See description and source of the `mpichk` tool:

[code]
and so far for me examples in the topology chapter are tested by `mpichk` without errors.

[2022-10-24 09:26] RolfRabenseifner commented on #349
I agree that these small things should be added for MPI-4.1.

I try to summarize (all references according to MPI-4.0) and recommend to add them:

- Section 1.6, add at the end:

- Section 1.7, add at the end:

- Section 1.8, add at the end:

All the rest mentioned above, I would not recommend.

[2022-10-24 09:50] RolfRabenseifner commented on #393
Same for the topologies chapter. The sentence "If comm is a distributed graph communicator, the outcome is as if ..." is present in the topologies chapter five times as binding text. Therefore, not real examples I think. For the Cartesian topology, Example 8.9 and 8.10 are real examples. Therefore nothing to do. I hit the checkbox.

[2022-10-24 10:01] RolfRabenseifner commented on #412
This is already treated in issue #393.
The mentioned page 412 is now MPI_4.0 page 419.
This type of documenting the definition of the neighbor procedures for graph topologies is needed to show the used buffer locations. Therefore it is not an example (as also mentioned in issue #393.)
I expect that Fortran programmer are able to translate the byte adressing that is here used for C.
I expect that C

[2022-10-24 11:15] #487 closed, assigned to mahermanns, RolfRabenseifner

[2022-10-24 11:18] wesbland commented on #229
@RolfRabenseifner If there's a PR needed, let's not check the box until that's done.

[2022-10-24 12:00] RolfRabenseifner commented on #420
In MPI-4.0, Section 16.3 _Deprecated since MPI-4.0_, I would add the following subsubsections:

- 16.3.1 Formerly in Section~\ref{sec:cancel}                      % 3.8.4: Cancel of send requests
- 16.3.2 Formerly in Section~\ref{subsec:info}                    % 10: MPI_INFO_GET and MPI_INFO_GET_VALUELEN
- 16.3.3 Formerly in Section~\ref{sec:mpit:retcodes}          % 15.3.10: MPI_T_ERR_INVALID_IT

[2022-10-24 13:16] RolfRabenseifner commented on #442
No verbatim or verbatim in topology or deprecated chapter. I hit the checkbox.

[2022-10-24 13:24] RolfRabenseifner commented on #468
@raffenet @isubsmith
 @regrant @wgropp @cblaas

 @Wee-Free-Scot,
if you not complain, I would propose to go to the 1st vote. It was discussed and read very late during the MPI-4.0 process. It is independent on what we'll propose as an additional section on progress in the terms chapter. Based on the analysis during an MPI forum meeting, users already use this progress rule and all implementors hav

[2022-10-24 13:33] Wee-Free-Scot commented on #468
I personally have no objection to either option but I cannot speak for the whole MPI Forum.

My point is that the MPI Forum need to decide whether doing a 1st vote without re-reading:
1) fits with the MPI Forum's rules (determined by the chair and secretary) and
2) feels acceptable to a majority of voting members (assessed by the chair and secretary).

@wesbland @schulzm I will announce either a r

[2022-10-24 13:47] wgropp commented on #325
The current version of instr.pdf details the use of lstlisting instead of verbatim. As @cniethammer notes, mpichk understands this and properly tests the code examples.

[2022-10-24 13:53] wesbland commented on #468
The rules are intentionally vague on this to give the authors latitude to decide what they want to do. If you'd like to move forward with the first vote, that's fine. It's up to each voter to decide how they feel about the issue and whether or not they had any remaining questions. Feel free to announce this one as a first vote.

[2022-10-24 14:18] wesbland commented on #349
I've turned the comment from @RolfRabenseifner into a PR (https://github.com/mpi-forum/mpi-standard/pull/728). I'd rather not be the one reading this change @RolfRabenseifner. Can you take it from here?

[2022-10-24 14:21] wesbland commented on #349
I'd also be ok with saying this is a chapter committee change if the chapter committee agrees on that (@wgropp, @RolfRabenseifner, @schulzm).

[2022-10-24 14:31] wesbland opened #591 "Terms - Code Examples Marked Improperly"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:34] wesbland opened #592 "Datatypes - Code Examples Marked Improperly"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #593 "Collectives - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #594 "Topologies - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #595 "Partitioned Communication - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #596 "Environment - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #597 "Info - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #598 "RMA - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #599 "External Interfaces - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #600 "I/O - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #601 "Tools - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:35] wesbland opened #602 "Bindings - Code examples improperly marked"
# Problem

Code examples should be marked so that the code checker can confirm that they at least compile - the information on this is in the instructions, and there are a zillion example in the document. The code checker has found many problems and helps ensure a higher quality document. I noted problems in binding-2.tex, but will need to review all of the other examples now.
In that chapter, man

[2022-10-24 14:46] wesbland commented on #325
Closing this issue in favor of the chapter-specific ones.

[2022-10-24 14:47] #325 closed

[2022-10-24 14:57] Wee-Free-Scot commented on #595
There are no occurrences of "verbatim" in this chapter.

All the occurrences of "begin{lst" have `%%ENDHEADER` on the previous line.
$ grep -B1 "begin{lst" chap-part/part.tex

There is nothing to do in this chapter. Change my mind.

[2022-10-24 14:57] #595 closed, assigned to tonyskjellum, regrant, puribangalore, mdosanjh, Wee-Free-Scot

[2022-10-24 15:06] wesbland opened #603 "Collectives - Determine Primary Index"
## Problem

In constant and predefined handle index, many entries do not have a "primary" entry (where the item is first defined; other entries should be where used).

### Suggested Fix

Find relevant entry; could enlist chapter committees

[2022-10-24 15:06] wesbland opened #604 "I/O - Determine Primary Index"
## Problem

In constant and predefined handle index, many entries do not have a "primary" entry (where the item is first defined; other entries should be where used).

### Suggested Fix

Find relevant entry; could enlist chapter committees

[2022-10-24 15:08] wesbland commented on #239
Closing this in favor of the chapter-specific issues.

[2022-10-24 15:08] #239 closed

[2022-10-24 15:10] wesbland opened #605 "Topologies - Add Example Titles"
## Problem

Examples. Some do not have titles, others do (instead, beginning with text).  Do we care? Example 7.1 consists solely of a table.  There should be a short description, at least. Example 11.5 starts with code.  There should be a short description. Example 14,1 starts with code. Example 14.2 starts with code. Example 14.3 starts with code. Example 18.12 starts with code Example 18.13 sta

[2022-10-24 15:10] wesbland opened #606 "I/O - Add Example Titles"
## Problem

Examples. Some do not have titles, others do (instead, beginning with text).  Do we care? Example 7.1 consists solely of a table.  There should be a short description, at least. Example 11.5 starts with code.  There should be a short description. Example 14,1 starts with code. Example 14.2 starts with code. Example 14.3 starts with code. Example 18.12 starts with code Example 18.13 sta

[2022-10-24 15:13] Wee-Free-Scot commented on #592
There is one instance of "verbatim" in this chapter:
[code]
This probably needs to be converted into a `lstListing` like all the 27 others in that chapter.

[2022-10-24 15:29] RolfRabenseifner commented on #349
@wesbland thank you for generating the PR.
@wgropp if you agree, we can ask @schulzm for a third review and then handling it by the chapter committee.
I, personally, agree with handling it as chapter committee.

[2022-10-24 15:31] wesbland opened #607 "Bindings - Add Example Titles"
## Problem

Examples. Some do not have titles, others do (instead, beginning with text).  Do we care? Example 7.1 consists solely of a table.  There should be a short description, at least. Example 11.5 starts with code.  There should be a short description. Example 14,1 starts with code. Example 14.2 starts with code. Example 14.3 starts with code. Example 18.12 starts with code Example 18.13 sta

[2022-10-24 15:34] wesbland commented on #228
Closing this issue in favor of the chapter-specific ones.

[2022-10-24 15:38] wesbland opened #608 "Topologies - Fix Example Environment"
## Problem

The example environment is not used consistently.  See, for example, 6.5.1, `Example #1a` - this should be \begin{example} .... . This continues into 6.5.2, 6.5.3, 6.5.4 (which should *not* be a separate section - `Example #4` is a terrible section title.  6.5.5 ditto. 6.5.6 ditto. 6.6.3 has another `Example 1`, `Example 2`. 10.4.6 (several places). Section 6.7.6 has an attributes exam

[2022-10-24 15:38] wesbland opened #609 "RMA - Fix Example Environment"
## Problem

The example environment is not used consistently.  See, for example, 6.5.1, `Example #1a` - this should be \begin{example} .... . This continues into 6.5.2, 6.5.3, 6.5.4 (which should *not* be a separate section - `Example #4` is a terrible section title.  6.5.5 ditto. 6.5.6 ditto. 6.6.3 has another `Example 1`, `Example 2`. 10.4.6 (several places). Section 6.7.6 has an attributes exam

[2022-10-24 15:38] wesbland opened #610 "Bindings - Fix Example Environment"
## Problem

The example environment is not used consistently.  See, for example, 6.5.1, `Example #1a` - this should be \begin{example} .... . This continues into 6.5.2, 6.5.3, 6.5.4 (which should *not* be a separate section - `Example #4` is a terrible section title.  6.5.5 ditto. 6.5.6 ditto. 6.6.3 has another `Example 1`, `Example 2`. 10.4.6 (several places). Section 6.7.6 has an attributes exam

[2022-10-24 15:43] wesbland commented on #229
Closing this in favor of the chapter-specific issues.

[2022-10-24 15:43] #229 closed

[2022-10-24 15:44] RolfRabenseifner commented on #470
I just checked for process, task, thread, and rank and could not detected any problem in Chapter 1.
Therefore, I recommend to close this issue.

[2022-10-24 15:44] wesbland opened #611 "Point-to-Point - Index Operation Semantics"
## Problem

Index all (relevant) references to semantics of operations.  See, e.g., page 523.

### Suggested Fix

Edit to update

[2022-10-24 15:44] wesbland opened #612 "RMA - Index Operation Semantics"
## Problem

Index all (relevant) references to semantics of operations.  See, e.g., page 523.

### Suggested Fix

Edit to update

[2022-10-24 15:44] wesbland opened #613 "Tools - Index Operation Semantics"
## Problem

The tools chapter has several occurrences of the word *operation* that not all reference the defined term of an *MPI operation*.

~Index all (relevant) references to semantics of operations.  See, e.g., page 523.~

### Suggested Fix

Reduce the use of 'operations' in the tools chapter for anything but what the terms chapter defines as 'operation'.
(the remaining references of 'operatio

[2022-10-24 15:44] wesbland opened #614 "Bindings - Index Operation Semantics"
## Problem

Index all (relevant) references to semantics of operations.  See, e.g., page 523.

### Suggested Fix

Edit to update

[2022-10-24 15:49] wesbland commented on #237
Closing this in favor of the chapter-specific issues.

[2022-10-24 15:49] #237 closed

[2022-10-24 15:49] #470 closed, assigned to schulzm, RolfRabenseifner, wgropp

[2022-10-24 15:50] wesbland opened #615 "Terms - Export "outcome is as if..." code fragments as proper examples"
# Problem

Some codes are presented in the document as example implementations but not in example format.
It is usually the case for the purpose of presenting what the function output should look like, and is preceded by a sentence such as "The outcome is _as if_ ..."

Also, how such codes are presented are not coherent throughout the whole document.
In collective:  one or two isolated lines of co

[2022-10-24 15:50] wesbland opened #616 "Collectives - Export "outcome is as if..." code fragments as proper examples"
# Problem

Some codes are presented in the document as example implementations but not in example format.
It is usually the case for the purpose of presenting what the function output should look like, and is preceded by a sentence such as "The outcome is _as if_ ..."

Also, how such codes are presented are not coherent throughout the whole document.
In collective:  one or two isolated lines of co

[2022-10-24 15:50] wesbland opened #617 "Partitioned Communication - Export "outcome is as if..." code fragments as proper examples"
# Problem

Some codes are presented in the document as example implementations but not in example format.
It is usually the case for the purpose of presenting what the function output should look like, and is preceded by a sentence such as "The outcome is _as if_ ..."

Also, how such codes are presented are not coherent throughout the whole document.
In collective:  one or two isolated lines of co

[2022-10-24 15:50] wesbland opened #618 "Info - Export "outcome is as if..." code fragments as proper examples"
# Problem

Some codes are presented in the document as example implementations but not in example format.
It is usually the case for the purpose of presenting what the function output should look like, and is preceded by a sentence such as "The outcome is _as if_ ..."

Also, how such codes are presented are not coherent throughout the whole document.
In collective:  one or two isolated lines of co

[2022-10-24 15:50] wesbland opened #619 "RMA - Export "outcome is as if..." code fragments as proper examples"
# Problem

Some codes are presented in the document as example implementations but not in example format.
It is usually the case for the purpose of presenting what the function output should look like, and is preceded by a sentence such as "The outcome is _as if_ ..."

Also, how such codes are presented are not coherent throughout the whole document.
In collective:  one or two isolated lines of co

[2022-10-24 15:50] wesbland opened #620 "External Interfaces - Export "outcome is as if..." code fragments as proper examples"
# Problem

Some codes are presented in the document as example implementations but not in example format.
It is usually the case for the purpose of presenting what the function output should look like, and is preceded by a sentence such as "The outcome is _as if_ ..."

Also, how such codes are presented are not coherent throughout the whole document.
In collective:  one or two isolated lines of co

[2022-10-24 15:50] wesbland opened #621 "I/O - Export "outcome is as if..." code fragments as proper examples"
# Problem

Some codes are presented in the document as example implementations but not in example format.
It is usually the case for the purpose of presenting what the function output should look like, and is preceded by a sentence such as "The outcome is _as if_ ..."

Also, how such codes are presented are not coherent throughout the whole document.
In collective:  one or two isolated lines of co

[2022-10-24 15:50] wesbland opened #622 "Tools - Export "outcome is as if..." code fragments as proper examples"
# Problem

Some codes are presented in the document as example implementations but not in example format.
It is usually the case for the purpose of presenting what the function output should look like, and is preceded by a sentence such as "The outcome is _as if_ ..."

Also, how such codes are presented are not coherent throughout the whole document.
In collective:  one or two isolated lines of co

[2022-10-24 15:50] wesbland opened #623 "Bindings - Export "outcome is as if..." code fragments as proper examples"
# Problem

Some codes are presented in the document as example implementations but not in example format.
It is usually the case for the purpose of presenting what the function output should look like, and is preceded by a sentence such as "The outcome is _as if_ ..."

Also, how such codes are presented are not coherent throughout the whole document.
In collective:  one or two isolated lines of co

[2022-10-24 15:59] wesbland commented on #393
Closing this in favor of the chapter-specific issues.

[2022-10-24 15:59] wesbland opened #624 "Terms - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 15:59] wesbland opened #625 "Datatypes - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 15:59] wesbland opened #626 "Collectives - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 15:59] wesbland opened #627 "Partitioned Communication - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 15:59] wesbland opened #628 "Environment - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 15:59] wesbland opened #629 "Info - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 15:59] wesbland opened #630 "RMA - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 15:59] wesbland opened #631 "External Interfaces - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 15:59] wesbland opened #632 "I/O - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 15:59] wesbland opened #633 "Bindings - Update verbatim examples to example environment"
# Problem

The grey box formatting around examples (added in MPI-4.0) raises that many examples use verbatim instead of the example environment, which means the example is not formatted consistently.  This seems like something for the MPI-4.1 cleanup efforts.

# Proposal

Review example listings without a grey box and update to use correct `\begin{example}...\end{example}` formatting.

# Changes t

[2022-10-24 16:08] wesbland commented on #442
Closing in favor of the chapter-specific issues.

[2022-10-24 16:08] #442 closed, assigned to schulzm, bosilca, tonyskjellum, regrant, GuillaumeMercier, puribangalore, cblaas

[2022-10-24 16:11] Wee-Free-Scot commented on #611
I thought this was done within point-to-point but looking for "start" gets 50 lines only 23 of which mention "mpiterm" before "start".
[code]

Probably most/all of the rest should be wrapped with `\mpitermni{}` and similarly for "complet[e|ed|es|ion]" and so on.

[2022-10-24 16:13] Wee-Free-Scot commented on #617
The only occurrence of "as if" is unrelated. This is a non-issue.

[2022-10-24 16:13] #617 closed, assigned to tonyskjellum, regrant, puribangalore, mdosanjh, Wee-Free-Scot

[2022-10-24 16:14] Wee-Free-Scot commented on #615
The only occurrence of "as if" is unrelated. This is a non-issue.

[2022-10-24 16:14] #615 closed, assigned to tonyskjellum, RolfRabenseifner, GuillaumeMercier, wgropp, puribangalore, jaegerj, cblaas, Wee-Free-Scot

[2022-10-24 16:15] Wee-Free-Scot commented on #624
There are no occurrences of "verb" in the terms chapter. This is a non-issue.

[2022-10-24 16:15] #624 closed, assigned to tonyskjellum, RolfRabenseifner, GuillaumeMercier, wgropp, puribangalore, jaegerj, cblaas, Wee-Free-Scot

[2022-10-24 16:16] Wee-Free-Scot commented on #625
There are no occurrences of "verb" in the terms chapter. This is a non-issue.

[2022-10-24 16:16] #625 closed, assigned to bosilca, martinruefenacht, wgropp, Wee-Free-Scot

[2022-10-24 16:16] Wee-Free-Scot commented on #627
There are no occurrences of "verb" in the terms chapter. This is a non-issue.

[2022-10-24 16:16] #627 closed, assigned to tonyskjellum, regrant, puribangalore, mdosanjh, Wee-Free-Scot

[2022-10-24 17:46] wgropp commented on #592
I've confirmed that this instance needs to be fixed.  I'll take care of it soon.

[2022-10-24 17:47] wgropp commented on #349
I agree.

[2022-10-24 18:05] Wee-Free-Scot commented on #592
Thanks for volunteering to do the work @wgropp. I'm going to un-assign myself to tidy my project board view, but feel free to request my review.

[2022-10-24 18:12] RolfRabenseifner commented on #485
I looked for instances and found only MPI-4.0 page 816 line 40 and page 817 line 33:

- Page 816, begin of line 40 reads

but should read

- Page 817, begin of line 33 reads

but should read

[2022-10-24 18:17] RolfRabenseifner commented on #486
I could not find any location, therefore I closed this issue.

[2022-10-24 18:17] #486 closed, assigned to tonyskjellum, RolfRabenseifner, puribangalore

[2022-10-24 18:20] RolfRabenseifner commented on #487
I also checked and agree that it can be closed.

[2022-10-24 21:01] jdinan commented on #107
If you used the same approach with scanf, it would be difficult to detect whether the value is truncated.

[2022-10-24 21:13] RolfRabenseifner commented on #499
@wesbland @devreal

Please can you put it back to the MPI-4.1 project.

[2022-10-24 21:32] RolfRabenseifner commented on #560
@jeffhammond and @bkmgit  Do you both like my proposal above in https://github.com/mpi-forum/mpi-issues/issues/560#issuecomment-1285704454? Should I proceed with a PR for that?

[2022-10-25 00:23] wgropp commented on #577
I think this argument is putting too much emphasis on the standard - just as has often been done for error handling.  Just because the MPI standard doesn't define *exactly* what happens does not prohibit a tool from exploiting knowledge about particular implementations. Yes, having the standard be specific gives the tools an extra level of confidence - but they can check the MPI version string and

[2022-10-25 00:33] #566 closed, assigned to devreal, wgropp, rsth

[2022-10-25 00:47] #592 closed, assigned to bosilca, martinruefenacht, wgropp

[2022-10-25 00:53] wgropp commented on #563
I propose to remove the text as above unless there is an objection.

[2022-10-25 00:58] wgropp commented on #502
I'm ok with this change, but someone needs to prepare a PR.

[2022-10-25 01:04] wgropp commented on #420
I would not add subsections. This is really an example of something where an unnumbered list (itemize environment) is probably most appropriate.

[2022-10-25 01:08] wgropp commented on #412
I disagree - this has not been dealt with.  The indicated examples are in no known computer language. The options are:

1. Pick one of C or (some dialect of) Fortran
2. Define a language-neutral form, add a definition for lstlisting to mpi-user-macs, and use that consistently.

I'm leaning towards 2, but would be ok with 1 (especially if the choice is C, since there is only one dialect used in the

[2022-10-25 01:10] wgropp commented on #380
This can be done at any time - we don't need to tie this to any particular MPI release.

[2022-10-25 01:12] wgropp commented on #223
This does not need to be addressed for 4.1 - I'd prefer to move to mpi 5.0

[2022-10-25 02:46] devreal commented on #502
I was going to propose defining the term`shared memory domain` in Chapter 7 and referencing that term in the RMA chapter as part of https://github.com/mpi-forum/mpi-standard/pull/708

[2022-10-25 04:12] VictorEijkhout commented on #602
I'm starting to dig into this. What is the code checker tool? As in specifically what program do I compile/run?

[2022-10-25 05:29] bkmgit commented on #560
@RolfRabenseifner That seems fine for me. Happy to update the pull request to learn the workflow.  @jeffhammond thoughts on this?

[2022-10-25 06:16] mjklemm commented on #508
@tonyskjellum @schulzm @isubsmith Any change to allocate a tiny amount of budget to work out the printing of the 4.0 standard?

[2022-10-25 08:59] RolfRabenseifner commented on #223
I agree and changed the tags.
@wesbland please, can you move it to the MPI-5 project.

[2022-10-25 09:02] RolfRabenseifner commented on #229
No PR needed, therefore I hit the checkbox.

[2022-10-25 09:10] RolfRabenseifner commented on #325
@wgropp I loaded it from https://www.mpi-forum.org/docs/ and there is still the version from Dec 9, 2020.

[2022-10-25 09:18] RolfRabenseifner commented on #349
@schulzm Martin, please can you make a review of PR https://github.com/mpi-forum/mpi-standard/pull/728

If we all three agree (you, Bill, and I) then we can handle it as a chapter committee change (Bill and I already agreed) and then Bill can merge it.

[2022-10-25 09:22] RolfRabenseifner commented on #412
Okay, I'll provide a PR.

[2022-10-25 09:25] RolfRabenseifner commented on #420
Okay, I'll check whether it can be done as a pure formatting change (your proposed itemize), i.e., without new words.

[2022-10-25 09:29] RolfRabenseifner commented on #468
I'll try to also do a short re-reading Nov.2, in the "progress" virtual meeting

[2022-10-25 10:14] schulzm commented on #468
This, plus a summary before we vote (as Wes suggested), sound OK to me - if there are complaints in the December meeting, we can always pull the vote and count it as a new reading, as it will have been announced two weeks earlier anyway

[2022-10-25 12:13] #608 closed, assigned to tonyskjellum, cniethammer, RolfRabenseifner, GuillaumeMercier, cblaas

[2022-10-25 12:56] wgropp commented on #602
It is a little kludgy, but "make check" runs the tests.  There is a configure in mpicompilechk that tries to set things up. The C tests have a special mpi.h file; the Fortran tests, unfortunately, currently rely on an MPI's implementation Fortran and the mpi or mpi_f08 module.

[2022-10-25 13:20] softwaretraff commented on #532
Dear Forum,

I hope this will be fixed/improved in 4.1 - I'll be happy to try to help supplying text

Jesper

[2022-10-25 13:24] VictorEijkhout commented on #602
[code]

There is a file `mpichk.in`. Copying that one is not enough:

[code]

It seems to need some localization step.

[2022-10-25 13:29] softwaretraff commented on #530
Dear Forum,

I still think a three argument MPI_Reduce_locals as outlined would be tremendously useful for those writing their own library reduction-like functions/collectives - the 2-argument MPI_Reduce_local in many cases forces unnecessary copying, especially if commutativity is not given/to be exploited. The proposal above should be extended by an MPI_Op_create for 3-argument user functions as

[2022-10-25 13:31] VictorEijkhout commented on #602
[code]
Sorry for the noise. First run `autoconf` which btw complains about obsolete macros.

[2022-10-25 14:04] cniethammer commented on #602
@VictorEijkhout if the configure script is missing for you in the `mpicompilechk` directory you can generate the `./configure` running `autoreconf -vf` therein. Afterwards you can run therein make.

Then you can call mpichk from the top directory for your sub chapter by e.g.
[code]

[2022-10-25 14:40] wgropp commented on #602
I'll improve the make process to ensure that the prerequisites are built or information provided

[2022-10-25 14:42] Shinji-Sumimoto commented on #606
Each example TeX source has \Exindex which gives an examples index located end of the document.
For example Example 14.1
\Exindex{Fortran}{Decoding amode in Fortran}{MPI\_File\_get\_amode}%
In Fortran 77, decoding an \mpiarg{amode} bit vector will
require a routine such as the following:

Example index section
Example 14.1: Decoding amode in Fortran, 618

So I think this should be processed in the

[2022-10-25 15:44] RolfRabenseifner commented on #532
My view is:
The example includes a correct program.

The same program with blocking MPI_Allreduce would not deadlock, because first all communication in comm1 can start and complete, then all communication in comm2 can start and complete  and then the same for comm3.
In principle, if you have n processes and m subgroups on them and you want to do some k barrier synchronizations (e.g., with any col

[2022-10-25 22:23] schulzm commented on #563
Makes sense to me - otherwise we would have to add text like this for all chapters and that could arbitrarily long. When we delete the text above, we may also want to consider deleting the historical comment for the tools chapter.

[2022-10-26 08:45] RolfRabenseifner commented on #563
I agree.

Tools chapter: here, I would substitute the second sentence by "It consists of a profiling and a tools information interface."
because this chapter is really spilt into these two very different parts.

[2022-10-26 10:16] RolfRabenseifner commented on #412
@wgropp Dear Bill, my apologies, but I do not see what's wrong with MPI-4.0 page 419, lines 6-21? For me, it seems to be correct C code. The same seems for me to be true with all other MPI_Neigbor_ALL... procedures.
And I also do not see a bug in the C code of Example 8.10 on page 424.
Or do you mean some other code? Best regards, Rolf

[2022-10-26 14:00] wgropp commented on #412
See Example 8.8, page 414, lines 27 and 31. The code "MPI_Cart_sub(comm, remain_dims, newcomm)" isn't C - newcomm isn't an address(no & in front) and there is no semicolon at the end.  It isn't Fortran - there is no call. It isn't language neutral - the routine name is in mixed case. What is it?

There are many such occurrences in the standard.

The example at 419, lines 6-21 is ok and is in a lst

[2022-10-26 14:55] RolfRabenseifner commented on #412
In Example 8.8 (was already there in MPI-1.1) I would keep the description of the remain_dims array values and substitute

by

In Exa 8.10, I would add

and substitute

by

and same for recvbuf.
Correct?

[2022-10-26 17:02] #349 closed

[2022-10-26 17:40] wgropp commented on #412
The bigger question that I was bringing up was the choice between picking a particular language binding for these "as if" code fragments or using a precisely defined language-neutral version. If we pick a particular language binding, I think it should be the same language everywhere, and that should be C.

[2022-10-26 17:42] wgropp commented on #412
On the send buf, it could instead be
`float *sendbufptr[6]; ` and then the code would work as written - but this would need to be described. Your change also works, and wouldn't require any change to the text.

[2022-10-26 17:53] RolfRabenseifner commented on #493
The result of the discussion in the small team was
[progress_proposal_rab_v10+Dan+Joseph_2022-10-26.pdf](https://github.com/mpi-forum/mpi-issues/files/9872393/progress_proposal_rab_v10%2BDan%2BJoseph_2022-10-26.pdf)

Additional related issues are
- [#499](https://github.com/mpi-forum/mpi-issues/issues/499) [PR729](https://github.com/mpi-forum/mpi-standard/pull/729) progress of MPI_Win_test
- [#468

[2022-10-26 21:07] devreal commented on #598
I believe this does not apply to the RMA chapter, closing.

[2022-10-26 21:07] #598 closed, assigned to hjelmn, pavanbalaji, artpol84, devreal, wgropp

[2022-10-26 21:08] devreal commented on #609
I believe this does not apply to the RMA chapter, closing.

[2022-10-26 21:08] #609 closed, assigned to hjelmn, pavanbalaji, artpol84, devreal, wgropp

[2022-10-27 08:03] mahermanns commented on #481
@wesbland The tools chapter does not contain any reference to *rank* or *task*. I checked the occurrences of *process*, but those also seem to be OK since our last pass in context of the "connected \MPI/ processes".  So I propose to close this issue. @kathrynmohror @schulzm Do you have any objections?

[2022-10-27 08:04] mahermanns commented on #622
@wesbland Is this one of those issues that run through all chapters, or do you have explicit examples (no pun intended) for these situations?

[2022-10-27 08:43] schulzm commented on #622
This issue had the "All CCs must check" flag originally

[2022-10-27 08:46] schulzm commented on #481
Sounds reasonable and also not unexpected, as all tool interfaces are local - did a cursory check as well and looks good to me - thanks

[2022-10-27 13:39] VictorEijkhout commented on #602
@cniethammer

[code]

Is my autoconf too old or should that file be renamed?

[2022-10-27 14:13] wgropp commented on #602
No, this is a gratuitous change that was made in autoconf - you can ignore this.  At some point, I'll move the file to change the name. The configure.in file was written when the input was required to be configure.in ; configure.ac would not have been correct at the time.

Another reminder that computing no longer considers backward compatibility to be a positive property.

[2022-10-27 15:37] mahermanns commented on #613
Tools WG 2022-10-27:
- [x] p 725: operation of MPI processes -> execution of MPI processes
- [x] p 731: control their operation -> control their execution
- [x] p 740: Table 15.4: local operation -> only affects the local MPI process
- [x] p 742: query operation -> query procedure
- [x] p 754: atomic operation -> If the variable cannot be read and reset atomically, ...
- [x] p 766: This operation

[2022-10-27 15:37] #481 closed, assigned to schulzm, mahermanns, kathrynmohror

[2022-10-27 15:37] #622 closed, assigned to schulzm, mahermanns, kathrynmohror

[2022-10-27 16:45] jeffhammond opened #634 "Fix MPI_WIN_SYNC text"
# Problem

This text is horrible:

# Proposal

Make it clear what WIN_SYNC actually does.

# Changes to the Text

Say it's a memory barrier for unified, something else for separate.

# Impact on Implementations

Nothing.

# Impact on Users

Users can reason about RMA correctness in a useful way.

# References and Pull Requests

TODO

[2022-10-27 16:47] jeffhammond opened #635 "add progress attribute to windows"
# Problem

Whether or not RMA makes progress is ambiguous and it makes it impossible to reason about programs.

# Proposal

Add an attribute to windows that says whether or not asynchronous progress will happen.

# Changes to the Text

TODO

# Impact on Implementations

Implementations should define the attribute correctly.

# Impact on Users

Users can determine how to write programs correctly.

[2022-10-27 16:49] jeffhammond opened #636 "add example showing impact of progress"
# Problem

Following up on #634 and #635, we need an example that shows a program whose behavior depends on the attribute.

# Proposal

Example like this:

One process does an RMA Put.
Another process spins on memory with Win_sync.

The completion of this program depends on strong progress.

# Changes to the Text

TODO

# Impact on Implementations

None

# Impact on Users

Makes the world make sen

[2022-10-27 16:51] jeffhammond opened #637 "define strong progress in RMA"
# Problem

Following up on #634, #635, #636, we need to define strong and weak progress.

# Proposal

@Wee-Free-Scot

# Changes to the Text

@Wee-Free-Scot

# Impact on Implementations

None

# Impact on Users

Makes the world make sense

# References and Pull Requests

TODO

[2022-10-27 16:54] Wee-Free-Scot commented on #637
Covered by extant effort in Semantics WG.

[2022-10-28 14:18] devreal commented on #584
I am not sure I like the idea of renaming something that has been in the standard for decades only because there is now an alternative mechanism for achieving the same goal. The term has been used in countless books, publications, and presentations. And renaming the `PMPI` prefix would break far too many codes. Granted, "profiling" was the wrong term to begin with but we have to live with what we

[2022-10-28 15:03] schulzm commented on #584
Marc-Andre can correct me, if I am wrong, but I think two things collided here in the discussion: this ticket is intended to clarify the usage of the existing PMPI API, for which profiling has been increasingly confusing due to its usage. Actual profiling is only one of many more cases, as we use the wrapping/interception much more generically these days. Nevertheless, it is of course a term that

[2022-10-28 15:08] devreal commented on #584
@schulzm You're right, I misread the discuss about changing prefixes. That discussion should indeed go into a different thread to avoid further confusion (esp since QMPI is not part of MPI yet). The rest of my arguments still stand though :)

[2022-10-28 16:45] mahermanns commented on #584
@devreal Yes, no actual API is changed, just how we name and refer to it. However, as @wesbland already noted, the users knowing the term "profiling interface" would have to get used to looking up "interception interface" in the index. Whether that is too big of a hassle, and how we might mitigate such problems should be discussed broadly in the forum, I guess.

The discussion of the new prefix, a

[2022-10-28 23:20] Shinji-Sumimoto commented on #632
I checked the IO chapter text and found that there was no verbatim but some example sections had lstlisting without \begin{example}...\end{example}.  So I will add \begin{example}...\end{example}  for lstlisting phrase.

[2022-10-29 00:02] #632 closed, assigned to tonyskjellum, qkoziol, Shinji-Sumimoto

[2022-10-30 07:07] schulzm commented on #626
This seems to be done for the whole chapter already - however, in many cases, examples get interrupted by floating figures, which looks odd - I wonder if there is a way to prevent this

[2022-10-30 07:11] schulzm commented on #631
This is already complete

[2022-10-30 07:11] #631 closed, assigned to schulzm, tonyskjellum, pavanbalaji, isubsmith

[2022-10-30 07:13] schulzm commented on #629
no examples in chapter

[2022-10-30 07:13] #629 closed, assigned to schulzm, wesbland, regrant, GuillaumeMercier

[2022-10-30 09:53] schulzm commented on #586
@Wee-Free-Scot I have created a first draft for the new routines and added a PR request, which applies to the P2P chapter. Could you please take a look as WG/Chapter chair? I would like to advance this to a reading in December? Thanks!

[2022-10-30 09:56] schulzm commented on #586
For the PR and draft: two questions remain:

- Should we deprecate the "old way" right away? This would make sense, IMHO, but we also already had some sentiments against this.
- By copying the bindings, we automatically get a standard and a big count version - should we keep this or drop the normal version? Personally, I think just keeping the "_c" version looks very odd.

[2022-10-30 10:33] schulzm commented on #379
I have created a PR that implements the suggestion above and renames the chapter from EI to Generalized requests. To the chapter committee: please check the implementation of this change (which is intentionally kept minimal). The other (bigger) question is whether we actually want to do this (I see pros and cons - makes sense at the moment, but there may be more EI interfaces in the future). We sh

[2022-10-30 11:06] schulzm commented on #620
I don't see that this applies to the EI chapter - suggesting to close this issue.

[2022-10-30 11:17] schulzm commented on #599
Only one example and that is not marked with %%SKIP and has the proper headers.

[2022-10-30 11:17] #599 closed, assigned to schulzm, tonyskjellum, pavanbalaji, isubsmith

[2022-10-30 11:24] schulzm commented on #618
No such item in the info chapter

[2022-10-30 11:24] #618 closed, assigned to schulzm, wesbland, regrant, GuillaumeMercier

[2022-10-30 11:24] schulzm commented on #597
No example in this chapter

[2022-10-30 11:24] #597 closed, assigned to schulzm, wesbland, regrant, GuillaumeMercier

[2022-10-30 11:50] wesbland commented on #508
Do you want to bother with 4.0 given that we're targeting 4.1 for late next year?

[2022-10-30 12:07] #620 closed, assigned to schulzm, tonyskjellum, pavanbalaji, isubsmith

[2022-10-30 12:14] wesbland commented on #637
@Wee-Free-Scot Is this issue a duplicate then?

[2022-10-30 12:25] schulzm commented on #541
Made some further updates - this should now be complete (hopefully) - please review

For @wgropp : one open question that I had and that I could not find in the instr.pdf - when should we use \error vs. \errormain?

[2022-10-30 12:26] schulzm commented on #508
I would also suggest to revisit this in the light of MPI 4.1

[2022-10-30 12:27] schulzm commented on #508
I added to the December agenda for discussion

[2022-10-30 12:45] schulzm commented on #411
Added a first text that explains the issue - please review

Should this be an errata?

[2022-10-30 13:04] bkmgit commented on #560
Updated pull request to use:
[code]
Maybe this is clearer? Could also use
[code]

[2022-10-30 13:35] schulzm commented on #542
I made a pass and updated the PR - I think one of the issues was "behaves like MPI error classes" when we just meant it has to fit the range. I tried to fix this - please review

[2022-10-30 13:59] schulzm commented on #408
@devreal Is this what you had in mind? I linked the three occurences to the info chapter

[2022-10-30 16:18] wgropp commented on #626
It is hard to automatically ensure figure placement doesn't interrupt flowed text, which is how the examples are presented.  However, I can work to move the figures around if there are particularly bad examples.

[2022-10-30 16:30] wgropp commented on #411
I think the point here was than an info used as an IN argument (IN or INOUT) would be parsed and the info information extracted as needed by the routine before it returned. I think that was clear and what was intended. An OUT only argument is not read or parsed, so I don't understand why this change was proposed.

[2022-10-30 16:44] schulzm commented on #411
From what I remember, we had IN or INOUT in the text, but then dropped it for simplicity as it applied to all usages of the info object. However, it was brought up that there could be in the future procedures that have info as OUT, but could delay filling in the info object until a later completion (and hence parsing or using the info would have to be delayed). In that case, that sentence would no

[2022-10-30 16:46] schulzm commented on #626
Yes, that is the usual problem - let's put that on the list to check for in the next RC reading. As far as I am concerned, the ticket could be closed, but @tonyskjellum should probably agree to this first.

[2022-10-30 18:03] wgropp commented on #541
xxxmain should be used at the main (singular) definition point. Not all error classes have obvious locations where they are defined, so in that case either pick one or only use `\error`

[2022-10-30 18:04] tonyskjellum commented on #626
let me check... I will look at ticket today.

[2022-10-30 19:12] schulzm commented on #541
OK, thanks - I checked and the three classes marked with errormain are only used/defined here, so that should fit

[2022-10-31 05:39] mjklemm commented on #508
Yes, because it is fairly easy and I have done a first successful test.  And it would keep the releases consistent that each version had a book (and I'd get both volumes)

[2022-10-31 08:00] mahermanns commented on #542
I agree with your assessment of the original intent. I left some minor comments on the PR.

[2022-10-31 12:06] Wee-Free-Scot commented on #637
Unless the RMA WG wish to define a type of progress semantic that is not compatible with the semantic terms work (which both WGs are trying to avoid), then this feels like a duplicate to me.

There was discussion in the joint WG meeting about specific RMA procedures needing a different (stronger but restricted in scope) progress semantic, so I don't want to just close this issue just yet.

[2022-10-31 16:03] RolfRabenseifner commented on #560
No, because the left and the right column present constants.
The table only shows the definition of the constants in the left column that must be provided within mpi.h.
These constants can be used to be passed from C to Fortran where they can be used instead of the constants in the right column.
Therefore, these C constants have very special types:
- MPI_Fint* to be passed from C to Fortran and us

[2022-10-31 16:28] wesbland opened #638 "Function Interception Interface (QMPI)"
# Problem

Define a new function pointer interception interface (colloquially QMPI) to augment, and perhaps eventually replace PMPI. This interface should allow multiple tools to simultaneously intercept MPI function calls using a well-established interface in a way that minimally impacts performance.

# Proposal

Rather than using weak symbols to have the compiler to insert PMPI calls before the

[2022-11-01 10:12] RolfRabenseifner commented on #493
On this Wednesday, Nov. 2, 2022, we'll scheduled the virtual MPI forum meeting on **progress**.

It is on 10:00-12:00 am CDT which is currently in Europe 16:00-18:00 CET (Amsterdam, Berlin, Paris, Rome, ...) as far as I understand, i.e. **in Europe 1 hour earlier than usual.**

The current draft is
[progress_proposal_rab_v12+Dan+Joseph+Claudia_2022-10-31_clean.pdf](https://github.com/mpi-forum/mpi

[2022-11-01 21:14] jeffhammond commented on #508
are the covers going to be colorful and distinct from other versions?

[2022-11-01 21:51] RolfRabenseifner commented on #493
Updated draft:
[progress_proposal_rab_v12+Dan+Joseph+Claudia_2022-11-01.pdf](https://github.com/mpi-forum/mpi-issues/files/9914195/progress_proposal_rab_v12%2BDan%2BJoseph%2BClaudia_2022-11-01.pdf)

[2022-11-02 06:03] mjklemm commented on #508
We can do that.  All I need is the color that we should use for the cover.  We could also invest a tiny bit of money and have a designer design some artwork.

[2022-11-02 06:59] RolfRabenseifner commented on #508
The existing series was yellow - orange - green - blue, and my plan for 4.0 was (7 years ago) purple.
As retiered person, I'm now completely out of this discussion and I wish all the best. And if you start with 4.0, I would be happy to buy them, because I'm still active.
In my courses, I always promoted to use the books as a very cheap extension for the screen. In addition, books are very helpful

[2022-11-02 09:50] RolfRabenseifner commented on #492
@tonyskjellum Please can you review the 6 small changes proposed in https://github.com/mpi-forum/mpi-standard/pull/672. If all is fine (what I expect) then Bill can merge this small chapter committee change.

[2022-11-02 13:55] wesbland commented on #412
I agree that this is a chapter committee change and we can merge it without a reading.

[2022-11-02 17:19] jdinan commented on #117
Straw poll result from 11/2 HACC WG meeting on how to proceed for MPI 4.1:

1. Do nothing
2. Add advice to users that this is ambiguous and the ambiguity may be addressed in a future version of the MPI standard
3. Add advice to users and also add an info key apps can use to query whether MPI library is camp A or B

We had unanimous feedback to proceed with option 2 and @Wee-Free-Scot will draw up

[2022-11-02 18:06] Wee-Free-Scot commented on #117
We should make an attempt to act on this WG consensus while it lasts -- that means bringing this back into the MPI-4.1 timeframe.

[2022-11-02 18:43] RolfRabenseifner commented on #493
Result from the virtual MPI forum meeting on "progress", Nov. 2, 2022:
[progress_proposal_rab_v13+Dan+Joseph+Claudia_2022-11-02_meeting.pdf](https://github.com/mpi-forum/mpi-issues/files/9923270/progress_proposal_rab_v13%2BDan%2BJoseph%2BClaudia_2022-11-02_meeting.pdf)

[2022-11-03 13:44] schulzm commented on #385
I think this is indeed resolved by 542 and we can probably close this one - the rationale should in any case be deleted, but this seems to have happened in 542 already

[2022-11-04 07:38] mahermanns commented on #160
Tools WG Discussion 2022-11-03: With the difficulties showing up on the current PR regarding link-time vs. compile-time constants, the working group decided to propose to only allow binding to valid handles while MPI is in an initialized state. This would actually be more consistent with the handling of non-predefined handles, and might make implementation for MPI libraries and tools simpler.

[2022-11-05 20:46] RolfRabenseifner commented on #594
There is no %%SKIP, therefore I close this issue.

[2022-11-05 20:46] #594 closed, assigned to tonyskjellum, cniethammer, RolfRabenseifner, GuillaumeMercier, cblaas

[2022-11-05 21:13] RolfRabenseifner commented on #420
@wgropp I hope, the result is what you expected.
@wesbland and @schulzm You are my chapter committee for Deprecated and Removed, please approve that @wgropp  can merge.
@wesbland and @schulzm You are chapter committee lead and member of Backward Incompatibilities, please approve that @wgropp  can merge.
Then it is hopefully done.

[2022-11-07 07:32] RolfRabenseifner commented on #560
@jeffhammond As soon as you give an **okay** per review on [PR 713](https://github.com/mpi-forum/mpi-standard/pull/713)
and page 827 of [mpi41-report_Issue560_PR713.pdf](https://github.com/mpi-forum/mpi-standard/files/10023611/mpi41-report_Issue560_PR713.pdf),
I'll ask for merging of this PR.

[2022-11-07 07:50] mahermanns commented on #385
Closing this issue as it will be resolved by the fixes for #542.

[2022-11-07 07:50] #385 closed

[2022-11-09 17:03] devreal opened #639 "MPI_WAIT is nonlocal, except when it isn't"
# Problem

The text for `MPI_WAIT` in Chapter 3 states that it is a nonlocal procedure. It depends on what request is used though (with RMA requests or cancelled requests, MPI_WAIT can be local).

# Proposal

Adapt the text for MPI_WAIT to reflect the dependency on the operation.

# Changes to the Text

Add a conditional "when" clarification.

# Impact on Implementations

None.

# Impact on Users

[2022-11-10 00:18] #601 closed, assigned to schulzm, mahermanns, kathrynmohror

[2022-11-10 08:35] RolfRabenseifner commented on #420
PDF file for review, see the added bullet points in Chap. 16 and 18: [mpi41-report_Issue420_PR745.pdf](https://github.com/mpi-forum/mpi-standard/files/10023634/mpi41-report_Issue420_PR745.pdf)

[2022-11-10 13:00] jeffhammond commented on #159
Standardizing `MPI_Status` is one of the more trivial aspects of ABI standardization, from a technical perspective.

https://github.com/jeffhammond/blog/blob/main/MPI_Needs_ABI_Part_2.md#the-mpi_status-object

Forcing users to user new APIs to query a struct is absurd.  We've defined the public fields for decades.

Yeah, it sucks that implementers will have to do some hard work here, but users out

[2022-11-10 14:24] dalcinl commented on #159
Flawless... I agree with every bit.

[2022-11-10 15:54] devreal commented on #619
I don't think there is anything to do for the RMA chapter.

[2022-11-10 15:54] #619 closed, assigned to hjelmn, pavanbalaji, artpol84, devreal, wgropp

[2022-11-10 16:26] Wee-Free-Scot commented on #471
Are any of the assignees working on this for the MPI-4.1 timeframe? I am not.

[2022-11-10 16:40] RolfRabenseifner commented on #471
I'll try to work on it together with @cblaas

[2022-11-10 16:46] Wee-Free-Scot commented on #117
I created PR: https://github.com/mpi-forum/mpi-standard/pull/748 with a draft text for the advice asked for by the consensus view.

[2022-11-10 17:00] devreal opened #640 "RMA accumulate operations don't distinguish between throughput and latency sensitive applications"
# Problem

The standard requires that updates from single-element RMA accumulate functions (`MPI_Fetch_and_op`) and bulk-accumulate functions (`MPI_Accumulate`)  are atomic with respect to each other. Since the number of elements passed to `MPI_Accumulate` is not known a priori, implementations typically fall back to a scheme that provides high throughput for high numbers of elements at the cost o

[2022-11-11 12:24] Wee-Free-Scot commented on #117
I managed to compile a PDF with my changes (see page 51 line 46 - page 52 line 10):
[mpi41-report-Issue117_Logically-concurrent-isnt.pdf](https://github.com/mpi-forum/mpi-issues/files/9990149/mpi41-report-Issue117_Logically-concurrent-isnt.pdf)

@wgropp I commented the Latex command `\DraftwatermarkOptions...` because the build reported "Undefined control sequence" for that command. I'm using Ubun

[2022-11-11 13:08] Wee-Free-Scot commented on #639
I built a PDF for the suggested change (see page 68 lines 38-39):
[mpi41-report_Issue639_MPI_WAIT-is-nonlocal-except-when-it-isnt.pdf](https://github.com/mpi-forum/mpi-issues/files/9990413/mpi41-report_Issue639_MPI_WAIT-is-nonlocal-except-when-it-isnt.pdf)

[2022-11-11 21:28] schulzm commented on #639
I am not sure the suggested change is correct - MPI_Wait is a non-local procedure (which is a static property), as it "may require, during its execution, some specific semantically-related MPI procedure to be called on another MPI process." as defined in the Section 2.4.2. Hence, the original text is correct. However, a particular instance of invocation of the MPI_Wait procedure may have local beh

[2022-11-12 10:18] jeffhammond commented on #296
Sharing what I sent in email for the benefit of others:

I don't think MPI can solve this problem. stdout/stderr are special. I don’t know the C rules but I assume you cannot open or close these “files”. That means there really isn’t a way for MPI I/O to engage them.

Most implementations have some features to manage stdout/stderr. Perhaps those can do what you need.

See https://www.open-mpi.org/

[2022-11-12 11:48] jeffhammond commented on #639
Agree with Martin. The text is correct. Local is compatible with "can be nonlocal".

[2022-11-14 14:49] RolfRabenseifner opened #641 "Including Annex A.2 back into the standard"
# Problem

The Annex A.2 was moved into a side document, because the _One-sided Communication_ chapter was still missing at the deadline for MPI-4.0

# Proposal

After the issues listed under https://github.com/mpi-forum/function-table/issues now include the missing parts, the Annex A.2 should be moved back to the standard document.

Related references for the reading at the Dec. 2022 meeting:

-

[2022-11-15 11:06] jeffhammond commented on #576
I looked at this a bit.  I am not sure it is possible to do what you want.  Fortran is pretty strict on typing, so the abstract interface for the user function seems like it would have to be:

[code]

Then this function becomes the trampoline, and the gymnastics to do the reduction business is no simpler than what you have above (and it seems to be less simple, without changes to Fortran, based on

[2022-11-15 13:46] Wee-Free-Scot commented on #639
I agree with both -- the procedure is nonlocal (even though some procedure calls might/must act in a local way).

If we do not open the can of worms (procedure semantics [all (types of) calls] versus procedure call [single (type of) call] then we need to figure out what to do in the semantics table intended for Appendix A2. Currently, that table lists procedure call (type) semantics: MPI_WAIT is l

[2022-11-15 22:30] RolfRabenseifner commented on #493
The results of the discussions are summarized in:
[progress_proposal_rab_v20+Dan+Joseph+Claudia+Tobias_2022-11-15.pdf](https://github.com/mpi-forum/mpi-issues/files/10016490/progress_proposal_rab_v20%2BDan%2BJoseph%2BClaudia%2BTobias_2022-11-15.pdf)

The new pull request [PR753](https://github.com/mpi-forum/mpi-standard/pull/753) is based on that result.

All changes can marked with PR753 in [mpi4