[2021-03-02 18:49] tonyskjellum opened #467 "Deprecate split collectives in MPI I/O"
# Problem

The 12 functions MPI_FILE_READ_AT_ALL_BEGIN, MPI_FILE_READ_AT_ALL_END, MPI_FILE_WRITE_AT_ALL_BEGIN, MPI_FILE_WRITE_AT_ALL_END, MPI_FILE_READ_ALL_BEGIN, MPI_FILE_READ_ALL_END, MPI_FILE_WRITE_ALL_BEGIN, MPI_FILE_WRITE_ALL_END, MPI_FILE_READ_ORDERED_BEGIN, MPI_FILE_WRITE_ORDERED_END,MPI_FILE_READ_ORDERED_BEGIN, MPI_FILE_WRITE_ORDERED_END are deprecated and will be removed in the next major

[2021-03-02 19:30] wgropp commented on #467
I support this - I pushed for the split collectives in MPI-2 when it was clear that nonblocking collectives would not be included in MPI 2. Its time to remove these (and make MPI slightly smaller!)

[2021-03-02 19:37] rsth commented on #467
I agree.

[2021-03-02 19:50] roblatham00 commented on #467
No argument from me. The next time I see a code that uses the split collectives it will be the first time.

[2021-03-03 13:36] tonyskjellum commented on #466
https://github.com/mpi-forum/mpi-standard/pull/552 contains the first three commits from PR540 that were read successfully at the February, 2021 meeting.

[2021-03-03 15:22] RolfRabenseifner opened #468 "Issue K - MPI_REQUEST_GET_STATUS with same progress as MPI_TEST"
# Problem

Issue K "Progress of MPI_REQUEST_GET_STATUS" - PR553,
i.e., https://github.com/mpi-forum/mpi-standard/pull/553
now to be committed with a new PR https://github.com/mpi-forum/mpi-standard/pull/564 to RC-4-June

New PR: https://github.com/mpi-forum/mpi-standard/pull/667

# Proposal

For latest commented pdf, see  [Issue 405](https://github.com/mpi-forum/mpi-issues/issues/405),
especially

[2021-03-04 18:18] wesbland opened #469 "Fix Incorrect Usage of Rank/Task/etc. in Front Matter Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:19] wesbland opened #470 "Fix Incorrect Usage of Rank/Task/etc. in Introduction Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:20] wesbland opened #471 "Fix Incorrect Usage of Rank/Task/etc. in Terms Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:21] wesbland opened #472 "Fix Incorrect Usage of Rank/Task/etc. in Point to Point Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:22] wesbland opened #473 "Fix Incorrect Usage of Rank/Task/etc. in Datatypes Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:25] wesbland opened #474 "Fix Incorrect Usage of Rank/Task/etc. in Contexts Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:26] wesbland opened #475 "Fix Incorrect Usage of Rank/Task/etc. in Process Topologies Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:30] wesbland opened #476 "Fix Incorrect Usage of Rank/Task/etc. in Environment Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:32] wesbland opened #477 "Fix Incorrect Usage of Rank/Task/etc. in Info Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:35] wesbland opened #478 "Fix Incorrect Usage of Rank/Task/etc. in Process Management Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:41] wesbland opened #479 "Fix Incorrect Usage of Rank/Task/etc. in RMA Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:50] wesbland opened #480 "Fix Incorrect Usage of Rank/Task/etc. in External Interfaces Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:51] wesbland opened #481 "Fix Incorrect Usage of Rank/Task/etc. in Tools Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:52] wesbland opened #482 "Fix Incorrect Usage of Rank/Task/etc. in Deprecated Functions Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:52] wesbland opened #483 "Fix Incorrect Usage of Rank/Task/etc. in Removed Interfaces Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:52] wesbland opened #484 "Fix Incorrect Usage of Rank/Task/etc. in Semantic Changes and Warnings Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:53] wesbland opened #485 "Fix Incorrect Usage of Rank/Task/etc. in Language Bindings Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:53] wesbland opened #486 "Fix Incorrect Usage of Rank/Task/etc. in Language Bindings Summary Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:54] wesbland opened #487 "Fix Incorrect Usage of Rank/Task/etc. in Changelog Chapter"
# Problem

Replace the incorrect usage of the words "rank", "task", etc. to be correctly specified and reflective of the underlying group, communicator, file, or window.

# Proposal

Read through the entire chapter to find all problematic instances and correct them.

# Changes to the Text

There is unlikely to be a one-size-fits-all solution so the chapter committee will need to consider each occu

[2021-03-04 18:54] wesbland commented on #455
Based on the discussion from the 2021-03-03 virtual meeting, I'm going to close this issue in favor of the chapter-specific discussions listed above.

[2021-03-04 18:54] #455 closed, assigned to schulzm, tonyskjellum

[2021-03-04 18:56] wesbland commented on #475
Closing this in favor of https://github.com/mpi-forum/mpi-issues/issues/457

[2021-03-04 18:56] #475 closed, assigned to tonyskjellum, htorst, cniethammer, RolfRabenseifner, GuillaumeMercier, cblaas

[2021-03-04 18:57] wesbland commented on #300
Closing this issue in favor of the chapter-specific issues created on 2021-03-04.

[2021-03-04 18:57] #300 closed

[2021-03-05 00:28] qkoziol commented on #467
Agree - definitely not needed now.

[2021-03-06 16:04] bosilca commented on #473
Nothing to be done for the datatype chapter.

[2021-03-06 16:04] #473 closed, assigned to bosilca, martinruefenacht, wgropp, Wee-Free-Scot

[2021-03-06 16:17] bosilca commented on #476
Nothing to be done in the environment chapter (with the exception of getting the historic [486](https://github.com/mpi-forum/mpi-forum-historic/issues/486) implemented).

[2021-03-07 18:25] #280 closed

[2021-03-09 19:54] RolfRabenseifner opened #488 "Issue W "backward/semantic changes" - PR434 + PR445 + PR544 applied to RC-4-June"
# Problem

Issue W "backward" - exactly the semantic-changes.tex in PR544,
i.e., from RC-1 to RC-2 https://github.com/mpi-forum/mpi-standard/pull/434 + https://github.com/mpi-forum/mpi-standard/pull/445 + https://github.com/mpi-forum/mpi-standard/pull/544
now to be committed with a new PR https://github.com/mpi-forum/mpi-standard/pull/565/files to RC-4-June

CAUTION:
- Issue B adds an change-log e

[2021-03-10 14:55] devreal opened #489 "Incomplete listing of communicator duplication functions"
# Problem

Section 7.7.2 in the current 4.0 draft states:

This list is missing `MPI_COMM_DUP_WITH_INFO` and `MPI_COMM_IDUP_WITH_INFO`.

There are other instances of this problem that I found:

- AtoI at the end of Section 7.3.3
- Beginning of Section 7.7.1
- Section 7.7.5
- Description of `MPI_COMM_DELETE_ATTR`

# Proposal

To avoid naming all functions explicitly, I suggest to simply refer to th

[2021-03-10 16:17] #390 closed

[2021-03-16 10:47] devreal opened #490 "Terms: replace usage of the term task with MPI process"
# Problem

As discussed in https://github.com/mpi-forum/mpi-issues/issues/300 the term task is used incorrectly in some places in the document. This issue tracks the replacement of `task` with `MPI process` in Section 2.9.1.

# Proposal

# Changes to the Text

# References and Pull Requests

PR: https://github.com/mpi-forum/mpi-standard/pull/568

[2021-03-16 11:08] devreal commented on #490
Superseded by #463

[2021-03-16 11:08] #490 closed, assigned to nobody

[2021-03-16 13:45] RolfRabenseifner opened #491 "Issue L - Progress references in General Index - for RC-4-June"
# Problem

This is an addendum to Issue K=[#468](https://github.com/mpi-forum/mpi-issues/issues/468) and [PR564](https://github.com/mpi-forum/mpi-standard/pull/564),
see last item of the comment there: https://github.com/mpi-forum/mpi-standard/pull/564#issuecomment-799978311

# Proposal

Adding references about "progress" to the global index for:
  - In Chapter 3 _Point to Point Communication_: sm

[2021-03-16 15:20] Wee-Free-Scot commented on #491
This might be an issue that should be postponed into the MPI-4.1 timeframe.

There are no "emergencies" here, except perhaps for the new API being added for MPI_SESSION_FINALIZE (because it is new text). However, that is a blocking procedure and is therefore covered by the general statement of progress that all blocking procedures must guarantee progress for all outstanding operations (@RolfRabens

[2021-03-16 15:27] RolfRabenseifner commented on #491
See also pdf: [mpi40-report-rc-4-june-L-PR569.pdf](https://github.com/mpi-forum/mpi-issues/files/6150100/mpi40-report-rc-4-june-L-PR569.pdf)

[2021-03-16 15:35] RolfRabenseifner commented on #491
Especially for MPI_SESSION_FINALIZE, it is more than only to guarantee progress:
MPI_SESSION_FINALIZE (same as FINALIZE) must guarantee the completing of all needed progress before it returns.
See [mpi40-report-rc-4-june-L-PR569.pdf](https://github.com/mpi-forum/mpi-issues/files/6150100/mpi40-report-rc-4-june-L-PR569.pdf) page 496, lines 26-48.
For the moment, we provided the possibility that MPI_

[2021-03-16 15:44] RolfRabenseifner commented on #491
I'm not sure whether we treated index entries as chapter committee or editor changes.

[2021-03-16 15:47] Wee-Free-Scot commented on #491
The "final progress" is a good point. IMHO, that one item should be split out into its own issue and PR, so that it can be proposed as an "emergency fix" for MPI-4.0 -- but the rest look like existing carry-overs from MPI-3.1 and before.

We will need to iterate on wording for that today, so it can be presented to the Forum at tomorrow's virtual meeting.

[2021-03-16 15:49] Wee-Free-Scot commented on #491
At this stage of MPI-4.0, I suspect *all* changes require a vote -- @wesbland can help us with the rules.

[2021-03-16 16:23] wesbland commented on #491
@RolfRabenseifner Is fine here. My general philosophy was that anything that didn't change the PDF (I know this adds entries in the index, but those are extremely minor), I marked as something that we didn't necessarily have to vote on. If it's inside of the 4-week window, the ruling gets tighter.

[2021-03-16 16:36] RolfRabenseifner commented on #491
Okay, I'll try to get my reviews before the 4-week-deadline.

[2021-03-16 18:54] RolfRabenseifner commented on #491
@wesbland This means, the wish to change "Progression rule" into "The progress rule" in normal chapter text is a text change and therefore will require a non-no-vote on next meeting? Or can such chapter committee changes still go witout a vote before the 4 week deadline?

[2021-03-16 18:55] wesbland commented on #491
Yes. It will need an issue to track it and a no-no reading/vote.

[2021-03-17 10:31] RolfRabenseifner opened #492 "Issue M - progression->progress in coll.tex"
# Problem

Only in coll.tex, the word (5x) _progression_ is used instead of _progress_ (3x in coll.tex and ~30x in other chapters).
It should be substituted by _progress_.

The problem was detected during the work for the _progress_ general index entries in [Issue L = #491](https://github.com/mpi-forum/mpi-issues/issues/491).

# Proposal

See https://github.com/mpi-forum/mpi-standard/pull/672

# C

[2021-03-17 10:34] RolfRabenseifner commented on #491
@wesbland, @Wee-Free-Scot, and @tonyskjellum:
I removed all text changes from this issue and started a new one only on coll.tex to substitute the 4 locations of _progression_ into _progress_. See [Issue M = #492](https://github.com/mpi-forum/mpi-issues/issues/492).

[2021-03-17 15:25] martinwjschulz commented on #424
discussed on 3/17, no further comments, needs a rebase/conflict resolution (Howard)

[2021-03-17 15:41] martinwjschulz commented on #424
Discussed on 3/17 - Example needs a change from SF(ses) to SF(sesX) in the last sentence of the caption (@hppritcha)

[2021-03-17 16:22] martinwjschulz commented on #444
Discussed on 3/17 - will add suggested change from above, after that, additional reviews from CC needed

[2021-03-17 16:26] martinwjschulz commented on #489
Discussed on 3/17, CC will propose change and bring this to next virtual meeting

[2021-03-17 16:43] cniethammer commented on #444
@schulzm I included the suggested change and addressed two more places with the same spelling issue.

[2021-03-17 17:36] mahermanns commented on #453
Closed as the corresponding [PR#523](https://github.com/mpi-forum/mpi-standard/pull/523) is already merged.

[2021-03-17 18:57] wesbland commented on #453
This should stay open until we've finished voting. I've moved it to the "Merged and Ready to Vote" project column.

[2021-03-17 18:59] #447 closed, assigned to nobody

[2021-03-18 13:21] RolfRabenseifner opened #493 "Issue N - Progress-Section in terms-2.tex"
# Problem

All information on **progress** is very distributed in the whole MPI standard.
With [Issue L=492](https://github.com/mpi-forum/mpi-issues/issues/492), the locations are at least listed in the general index at keyword "_progress_", but not really summarizing the major aspects.
See keyword progress in the general index of MPI-4.0.

# Proposal

To add a small section in the **Terms** chapt

[2021-03-23 09:25] GuillaumeMercier commented on #489
@devreal : I disagree with what you propose and I would prefer to explicitly list the functions. If we write "communicator duplication functions described in Section 7.4.2.",  readers might overlook the _duplication_ word in there and think wrongly that it applies also to communicator _creation_ functions. @wgropp, @tonyskjellum @pavanbalaji : what is your take on this? I will create the PR accord

[2021-03-23 10:01] GuillaumeMercier commented on #489
@devreal: however, I agree with what you propose for the AtoI at the end of Section 7.3.3, because it lists not only communicator duplication functions, but also communicator creation ones.

[2021-03-23 12:45] wgropp commented on #489
In most cases, I prefer to avoid a list that will have to be maintained (witness this very list), but I don't believe we have a short, precise way to describe the functions that duplicate a communicator as opposed to creating a new version of the communicator with the identical group (MPI_IDENT from MPI_GROUP_COMPARE) (e.g., with MPI_COMM_SPLIT and the right choice of arguments). In this special c

[2021-03-23 18:13] wesbland commented on #433
This was informally read at the Feb 2021 meeting with general consent.

[2021-03-23 19:04] wesbland commented on #453
I'm moving this back to "in progress". Unfortunately the PR needed to be-targeted for the `mpi-4-rc-june` branch and now needs to be recreated and re-merged.

[2021-03-23 19:34] wesbland commented on #438
I can't recall, but I don't think this issue was discussed in a virtual meeting yet. Correct?

If not, we should have a quick discussion with the full forum before we merge it.

[2021-03-24 19:26] wesbland commented on #446
As we discussed in the virtual meeting today, even though this is tackling the process/rank debate, it's very limited in scope and is only touching the new text to avoid getting it wrong the first time. Therefore, having it in 4.0 is ok.

All of that is pending seeing the final PR though since the current one is a bit of a mess. 😄

[2021-03-24 20:03] regrant commented on #446
@wesbland the new pull request is up on the ticket, [PR #582](https://github.com/mpi-forum/mpi-standard/pull/582).

[2021-03-29 15:57] RolfRabenseifner commented on #491
@wesbland It looks like that you removed a wrong issue from "ready to merge".
In the protocol pptx from last meeting, https://github.com/mpi-forum/mpi-forum.github.io/raw/master/slides/2021/03/2021-03-24-rcm-frm-procedures.pptx
you wrote on slide 11:

i.e., this issue here.
Its pull request https://github.com/mpi-forum/mpi-standard/pull/569 is ready and 5x approved (including Bill Gropp).
There is

[2021-03-29 16:02] wesbland commented on #491
Yes, that's correct. This one should be in the "In Progress" column until it's been reviewed by everyone that needs to review it.

[2021-03-29 16:25] RolfRabenseifner commented on #466
@wesbland Please see https://github.com/mpi-forum/mpi-standard/pull/558#issuecomment-809520221

Therefore, I put this issue 466 back into 4.0 "Ready to merge"

[2021-03-30 09:04] RolfRabenseifner commented on #468
@schulzm @wesbland @wgropp and all,

I detected that also Issue (K=) 468 was moved to MPI-4.1.

I updated the issues's abstract with a summary of the discussion
(which was partially within the Parrived progress discussion)
at the Feb. 2021 meeting.

Adding a 4th such test routine (after MPI_Test, Request_get_status, Win_test, Parrived),
it gets significantly more evident if for only one routine, R

[2021-03-30 15:52] wesbland commented on #468
To avoid cross-talk, I'm going to refer people to the email thread for this conversation. If a change needs to be made, it will be brought back here.

https://lists.mpi-forum.org/pipermail/mpi-forum/2021-March/007348.html

[2021-03-30 17:39] RolfRabenseifner opened #494 "Issue J-b "I/O + refs" - PR455 + PR425 + PR552 (formerly PR540) applied to RC-4-June"
# Problem

Issue J "I/O" - exactly the io.tex and refs.bib in PR552, which automatically combines PR455 + PR425 + PR552,
i.e., https://github.com/mpi-forum/mpi-standard/pull/455 + https://github.com/mpi-forum/mpi-standard/pull/425 + https://github.com/mpi-forum/mpi-standard/pull/552
now to be committed with a new PR https://github.com/mpi-forum/mpi-standard/pull/558 to RC-4-June

PR552 contains th

[2021-04-01 14:10] wesbland opened #495 "Remove LIS Changes in I/O Chapter"
# Problem

Somewhere in the MPI 4.0 development cycle, some of the LIS bindings in the I/O chapter where accidentally changed from `INOUT` to `IN`.

# Proposal

These need to be changed back to maintain backward compatibility.

# Changes to the Text

Revert changes back to MPI 3.1 bindings.

# Impact on Implementations

None

# Impact on Users

None

# References and Pull Requests

https://github.

[2021-04-07 19:01] GuillaumeMercier opened #496 "Remove/modify text in Section 7.7.1 (Functionality)"
# Problem

When handling issue #489,  it was found that some text in section 7.7.1 is problematic
w.r.t  application permission and copy callback functions .  Current text reads: `(and even then
the application must give specific permission through callback functions for the attribute to be copied)`.

# Proposal

Remove this text or modify it.

# Changes to the Text

To be discussed in CC.

# Impa

[2021-04-07 19:11] GuillaumeMercier opened #497 "Reference to the list of all group/communicator creation functions in MPI"
# Problem

In at least one place in the standard, the list of _all_  group/communicator creation functions is needed (the advice to implementors at the
end of section 7.3.3, Group Destructors) .

# Proposal

Either list exhaustively these functions or create this list elsewhere in the document and reference it where necessary
(there might be several other places where it's needed).

# Changes to t

[2021-04-12 09:13] RolfRabenseifner commented on #493
In the moment, this issue contains only a rough draft for MPI-4.1.

It is related to
- Issue K https://github.com/mpi-forum/mpi-issues/issues/468 applying the progress rule of MPI_Test now also to MPI_Request_get_status
- Issue O https://github.com/mpi-forum/mpi-issues/issues/499 applying the progress rule of MPI_Test now also to MPI_Win_test
- Issue https://github.com/mpi-forum/mpi-issues/issues/

[2021-04-13 13:37] Wee-Free-Scot opened #498 "Emend the point-to-point progress rule 'on two processes'"
# Problem

Reported by Jasper Larsson Träff.

The current expression of the point-to-point progress rule starts "If a pair of matching send and receives have been initiated on two processes, ..."

The "on two processes" is not required and is confusing. A send-to-self, receive-from-self pattern is specifically excluded by this expression of the progress rule but should not be. I do not believe it

[2021-04-14 13:48] RolfRabenseifner opened #499 "Errata Issue O - MPI_WIN_TEST with same progress as MPI_TEST"
# Problem

MPI-3.1 does not define that MPI_WIN_TEST must do progress, i.e., does not define that the same rule applies as for pt-2to-pt MPI_TEST

# Proposal

Add

(same sentence as for MPI_REQUEST_GET_STATUS)

# Changes to the Text

The new additional sentence for MPI_WIN_TEST is

# Impact on Implementations

None, because existing MPI applications and the used MPI libraries already use respectiv

[2021-04-14 13:56] RolfRabenseifner commented on #499
I assigned it to the chairs and to members of the three chapter committees:
Terms (progress), 1-sided (MPI_Win_TEST), and pt-to-pt (MPI_TEST, MPI_I(M)PROBE, and MPI_REQUEST_GET_STATUS)

[2021-04-14 14:07] mahermanns opened #500 "Fix LIS for MPI_T events functions"
# Problem

As part of the discussion to changes to the IO chapter a discussion emerged about incorrect IN vs. INOUT arguments listed in LIS descriptions of the calls, not adhering to the terms chapter section 2.3 (4.0 RC, p. 10):

Some calls of the MPI_T events interface introduced with MPI 4.0 do not adhere to this and should be fixed before they are initially published.

# Proposal

Update the I

[2021-04-14 14:18] naughtont3 opened #501 "Add xref in 4.0 ChangeLog for LargeCount"
# Problem

The MPI 4.0 ChangeLog (B.1.2) lacks a specific reference for the large-count changes due to them being spread throughout the document.

# Proposal

Suggestion to add a cross-ref for the MPI 4.0 large-count ChangeLog entry that points to Section 19.2 (similar to how it is done in Rationale text in Sect 2.5.6).

# Changes to the Text

Suggested change in text:

"Section 19.2 and throughou

[2021-04-14 14:18] wesbland commented on #350
I believe the remaining issues here are for 4.1. I'll adjust the label.

[2021-04-14 14:21] wesbland commented on #501
This seems like it might be a good idea to me to specifically mention the new section since it has a bunch of the text describing the rationale. What do you think @RolfRabenseifner and @puribangalore?

[2021-04-14 15:17] wesbland commented on #500
This will use the errata vote system as it's a follow-on issue from #443 which was discussed at the February meeting.

[2021-04-14 15:59] RolfRabenseifner commented on #468
Comments from the virtual MPI meeting April 14, 2021:
- The progress text on MPI_TEST should be generalized.
- Only with this, we can refer to it also for MPI_Win_test.
- Alternatively, the wording for MPI_Win_test can be with its own "eventually" rule.
- By @tonyskjellum: MPI_REQUST_GET_STATUS may/should be appended by ANY/ALL/SOME variants.
- We should do a general section in terms on progress.

[2021-04-14 16:42] RolfRabenseifner commented on #493
Comments from the virtual MPI meeting April 14, 2021:
- The progress text on MPI_TEST should be generalized.
- Only with this, we can refer to it also for MPI_Win_test.
- Alternatively, the wording for MPI_Win_test can be with its own "eventually" rule.
- By @tonyskjellum: MPI_REQUST_GET_STATUS may/should be appended by ANY/ALL/SOME variants.
- We should do a general section in terms on progress.

[2021-04-16 12:42] tonyskjellum commented on #466
@RolfRabenseifner and I have decided to mark this ticket as "overtaken by events" as we streamline the solution in PR https://github.com/mpi-forum/mpi-standard/pull/588 and Issue mpi-forum/mpi-issues#350 .

[2021-04-16 12:42] #466 closed, assigned to tonyskjellum, qkoziol, RolfRabenseifner, Shinji-Sumimoto

[2021-04-16 12:43] tonyskjellum commented on #494
@RolfRabenseifner and I have decided to mark this ticket as "overtaken by events" as we streamline the solution in PR mpi-forum/mpi-standard#588 and Issue  https://github.com/mpi-forum/mpi-issues/issues/350 .

[2021-04-16 12:43] #494 closed, assigned to tonyskjellum, qkoziol, RolfRabenseifner, Shinji-Sumimoto, Wee-Free-Scot

[2021-04-16 16:50] raffenet commented on #493
There is a section on progress in the definition of `MPI_PROBE`. MPI 3.1, pg. 66, lns. 9-16:

[2021-04-16 20:35] RolfRabenseifner commented on #493
Yes, for the following testing routines we have such rules:
- MPI_TEST (own text about progress rule)
- MPI_IPROBE (own text about progress rule)
- MPI_IMPROBE (refering to rule of MPI_IPROBE - MPI-3.1 page page 69 lines 34-35)
- MPI_PARRIVED (own text about progress rule, proposed in MPI-4.0)

And we do not yet have it for
- MPI_REQUEST_GET_STATUS (proposed in #468 - refering to rule of MPI_TEST)

[2021-04-26 14:58] #440 closed, assigned to wesbland, Wee-Free-Scot

[2021-05-24 22:08] jeffhammond commented on #499
I assume the text intended as the target of this reference is:

and a matching send has been started, then the call will eventually return flag = true, unless
the send is satisfied by another receive. If an MPI_TEST that completes a send is repeatedly
called with the same arguments, and a matching receive has been started, then the call will
eventually return flag = true, unless the receive is sat

[2021-05-25 07:40] RolfRabenseifner commented on #499
In PR591, after a longer discussion, we agreed on the following sentence with **eventually**:

   will eventually return \mpiarg{flag}\code{ = true} once
   all accesses to the local window by the group to which it was exposed by
   the corresponding \mpifunc{MPI\_WIN\_POST} call have been completed
   as indicated by matching \mpifunc{MPI\_WIN\_COMPLETE} calls,
   i.e., once a call to \mpifunc{MP

[2021-05-25 16:05] raffenet commented on #499
not be transmitted faster than internal message of MPI_Win_complete.
Such non-overtaking is defined in MPI-3.5 Sect 3.5 Paragraph "Order"
only for point-to-point communication.

Why would the non-overtaking rule apply to internal library communication?

[2021-05-25 16:53] bosilca commented on #499
The text in MPI_Win_test is much more clear than the proposed addition. Second, why do you expect a sequential ordering between pt-to-pt and RMA operations on different MPI objects ?

[2021-05-25 18:00] Wee-Free-Scot commented on #499
Unless certain patterns of MPI calls are specifically called out and prohibited (they are not, AFAIK), then the following is a valid MPI program that requires repeated calls to MPI_WIN_TEST to guarantee implicitly mandated progress of a point-to-point operation as part of the explicitly mandated guarantee of progress for the one-sided synchronisation operation its semantics describe.

[code]

The

[2021-05-25 19:05] RolfRabenseifner commented on #499
My question to @bosilca and @raffenet: How do you interpret the current words

the corresponding \mpifunc{MPI_WIN_POST} call have been completed as indicated by matching \mpifunc{MPI_WIN_COMPLETE} calls, and \mpiarg{flag}\mpicode{ = false} otherwise.

In my example, I guarantee that MPI_Win_test is called after MPI_Win_complete is called by all processes that called corresponding MPI_Win_post.
How

[2021-05-25 19:17] raffenet commented on #499
The `MPI_WIN_COMPLETE` may indeed use the same communication resources and ordering as the send/recv in your example, but it also might not. I don't see how the standard requires ordering in this case. IMO, there is no guarantee that the implementation has observed the `MPI_WIN_COMPLETE` on rank 0 at the time of `MPI_WIN_TEST` in your example.

[2021-05-25 20:58] bosilca commented on #499
My understanding is that @RolfRabenseifner example is about communication ordering while @Wee-Free-Scot is looking at progress guarantee. Too many critical topics going on in parallel on this issue to be able to have a meaningful discussion.

But, I have to join @raffenet, because @RolfRabenseifner example __cannot__ guarantee that `MPI_WIN_TEST` is called after the impact of all other processes h

[2021-05-26 06:34] devreal commented on #499
Regarding progress:
From a user's perspective, I would expect the example of @Wee-Free-Scot to be a correct MPI application, based on several statements in the standard, including in §3.7.4 on P2P:

Interestingly, the verbiage for MPI_Test does not contain the second part of this quote. As a user I would assume that the same rules apply though.

Also, example 6.31 on non-blocking collectives and P

[2021-05-26 09:27] RolfRabenseifner commented on #499
First @devreal : Yes, there are these text locations on blocking calls and one of the few progress rules is that any blocking call somehow guarantee progress on any internally ongoing operation.
The question that I address here is about the TEST calls. They are not blocking. And there was in MPI-3.1 the "eventually" statement for MPI_Test. This statement guarantees that progress must happen if an

[2021-05-26 13:55] Wee-Free-Scot commented on #499
Careful now -- both @devreal "the two statements reference blocking procedure calls" and @RolfRabenseifner "any blocking call" change from what is stated in the MPI Standard "while blocked on an MPI call" into something else by replacing a word ("blocked") with a term ("blocking").

It is possible to be blocked on a nonblocking MPI call, just as it is possible to not need to block on a blocking MP

[2021-05-26 14:19] Wee-Free-Scot commented on #499
One point about "it is guaranteed that MPI_WIN_COMPLETE is called by all origins and therefore the current wording does allow only that flag=true is returned" if I may.

IMHO, we must be acknowledge a non-zero time delay for information to propagate from one process to another (at least in part because physics) -- in practice, that means despite the fact that "MPI_WIN_COMPLETE is called by all ori

[2021-05-26 15:09] wgropp commented on #499
@Wee-Free-Scot makes an important point on the QoS and the issues of what is required. We had similar issues with Fault Tolerance in the case of unresponsive processes - it is unknowable whether the process is really dead or just very, very slow in responding. Adding strong requirements may lead to letter-of-the-law implementations, such as one major vendor that used a 500+ millisecond timer inter

[2021-05-26 15:44] Wee-Free-Scot commented on #499
With the bug-hunting help of @jsquyres, I have written this program, which supports (but does not prove) my pseudo-code example:
[code]

This program runs to completion successfully using Open MPI 4.0.5 on a MacBook Pro using `mpi exec -n 2 ./a.out` at the command line.

The timing and ordering of the output tells me that Open MPI buffers the send message locally and does not complete transmitting

[2021-05-27 14:20] martinruefenacht commented on #431
Thank you all who have responded so far. I am starting to work on this and will be posting updates (with links) here.

[2021-05-27 15:51] tonyskjellum opened #502 "Cross-reference MPI_COMM_SPLIT_TYPE and MPI_WIN_ALLOCATE_SHARED in Chapters 7 and 12 (MPI-4 numbering)"
# Problem

A common idiom is to use MPI_COMM_SPLIT_TYPE then MPI_WIN_ALLOCATE_SHARED ; you then know where you can do
load/store programming on the new, sub-communicators that emerge.

# Proposal

Add cross-references in both chapters, and an example in Chapter 12.

For MPI_COMM_TYPE_SHARED is the only pre-defined type; purely defined currently to work together.

# Changes to the Text

At a high l

[2021-05-27 15:53] tonyskjellum commented on #502
@wgropp this is based on feedback from users for wanting to be able to understand this use case.

[2021-05-28 15:09] martinruefenacht commented on #431
@hzhou In the linked PR the yaml export and size issue is addressed. The compression ratio with bz2 is 88x (1.8MB -> 24KB) so I don't think the diff with the defaults is worth while for the amount of effort it will take.

In respect to exporting the kind mapping. The apis.json should not be touched after the API is done. The API will provide access to everything in a pythonic fashion.

[2021-06-02 12:14] jsquyres commented on #431
I 👍  one of @hzhou's requests:

Meaning: it would be great if the users of this tool don't have to duplicate all the existing C / Fortran logic to go from the JSON to the final rendered language binding -- I think we all assume that rendering C / Fortran will be a common use case for this tool.  I also assume that if users want to make bindings for a different language (e.g., Python, C++, Rust, ..

[2021-06-02 16:13] hppritcha opened #503 "chap-dynamic: latex formatting issues with mpi-4-rc-june"
- [ ] Example 11.1 spans pages 490 and 491.  It would be nice if this could be fixed.
- [ ] Section 11.2.2. page break around the ```MPI_Finalize``` could be improved.
- [x] Page 550 has no content

[2021-06-02 17:46] RolfRabenseifner commented on #503
Page 550 is empty because all chapters start with odd page numbers. Same, e.g., page 102 is empty.

[2021-06-03 11:07] RolfRabenseifner commented on #493
See [mpi40-report-rc-4-june-N-PR575-v03.pdf](https://github.com/mpi-forum/mpi-issues/files/6591009/mpi40-report-rc-4-june-N-PR575-v03.pdf) on page 28

Extended protocol of the Terms WG meeting on the "progress rule in MPI-4.1" on June 2, 2021:
See slides1 1-10 of [progress_mpi4.1_rab_v02.pdf](https://github.com/mpi-forum/mpi-issues/files/6591188/progress_mpi4.1_rab_v02.pdf)

[2021-06-04 08:24] RolfRabenseifner commented on #431
Questions:
- Will the proposed Python API for MPI 4.x be identical to the API of mpi4py?
- Will it therefore use the old MPI-2.2 C++ names (if those exists),
  e.g., MPI.Comm.Get_rank instead of MPI.Comm.rank or MPI.Comm.Rank or ...?
- Do you have already a full mpi-report.pdf draft that we can look on what's coming out?

[2021-06-04 09:00] martinruefenacht commented on #431
@RolfRabenseifner We are overloading the term API and Python many times here. The topic of this issue is splitting the current binding-tool into two. 1) The information we have encoded in the mpi-binding blocks in the latex needs to be accessible for tools/generators/verifiers (this is what is referred to as the Python API to the Standard). 2) the binding-tool (latex generator) as it is at the mom

[2021-06-04 13:14] GuillaumeMercier commented on #502
@tonyskjellum: the forward reference to `MPI_WIN_ALLOCATE_SHARED` in `MPI_COMM_TYPE_SHARED` is already there.
I'm otherwise OK with a backward reference in chapter 12 to chapter 7.

[2021-06-04 13:17] GuillaumeMercier commented on #502
Is there a particular reason as to why the Chapter 7 Chair was not assigned to this?

[2021-06-05 11:06] GuillaumeMercier commented on #502
@tonyskjellum : also, the same behaviour can be achieved with `MPI_COMM_TYPE_HW_GUIDED` and the keyval `mpi_shared_memory`. In case of backward reference and example, I would like this to be mentioned/appear too.

[2021-06-07 15:26] hppritcha opened #504 "Handle deprecated functions better in table of functions which can be called prior to initializing MPI"
# Problem

In addressing issue #456, some discussion arose about handling the issue of deprecated functions and whether to include them in the table of pre-init functions.  Suggestions for improvement included adding deprecated functions to the table, but noting they are deprecated.

It was decided to address this in 4.1.

It would also be great to come up with a way to auto generate this list.

#

[2021-06-08 08:00] cniethammer commented on #504
A note here: The MPI_T_* functions are not included in the list here but mentioned in the text.
So a question for the discussion in this context: Leave this as is or include them as well for a comprehensive list?

[2021-06-08 12:59] jsquyres commented on #504
Fair point.  Should we just say that the table is not comprehensive/complete?

[2021-06-08 15:33] Wee-Free-Scot opened #505 "MPI-4.1 editor fix: consistent spacing in example comments"
# Problem

The spacing before "THIS EXAMPLE IS ERRONEOUS" is inconsistent between chapters.

# Proposal

Make the spacing consistent.

# Changes to the Text

Remove the additional spaces in the IO and Collective chapters.

# Impact on Implementations

None.

# Impact on Users

None.

# References and Pull Requests

Fixed by PR: https://github.com/mpi-forum/mpi-standard/pull/601 (closed prematurely

[2021-06-08 15:51] jsquyres opened #506 "Create Python test to ensure Fortran symbols do not go beyond 70 chars"
As discussed in June 2021 Forum meeting, it would be useful to add a Python test that ensures that the rendering of Fortran symbols do not go beyond 70 characters.

I think the "minimum rendering" calculation (i.e., rendering each dummy parameter as 1 character):

* Length of the MPI function name (e.g., "MPI_SEND" == 8)
* Add 1 (for "P" in the "PMPI" version of the symbol)
* Add 2 (for "()")
* Ad

[2021-06-08 16:10] wgropp opened #507 "Improve MPI history on page ii"
# Problem

The description of the history of MPI on ii is a mishmash and needs to be updated.

# Proposal

Following a suggestion of Jeff Squyres, replace the current 2nd paragraph with a list as shown below.

# Changes to the Text

Historically, the evolution of the standard is:

* MPI-1.0 (May 5, 1994): Initial release
* MPI-1.1 (June 12, 1995): Minor updates and bug fixes
* MPI-1.2 (July 18, 19

[2021-06-08 20:33] RolfRabenseifner commented on #506
Please do not forget to calculate the length of the specific function names based on MPI-4.0 Table 19.1 on page 799 and the info whether a routine has a DIMENSION(..), TYPE(*) buffer. I expect that the Python database has this info for each MPI procedure.
When counting the number of arguments, du not forget the additional ierror in Fortran.

[2021-06-09 08:05] cniethammer commented on #504
Instead of a central table we could also display this information as part of the LIS. Personally I think it could be very convenient for a user to have this information close to the function itself.

[2021-06-09 15:22] tonyskjellum opened #508 "Amazon e-book/on-demand option"
# Problem

Provide a print-on-demand book (two volumes) affordably from Amazon or equivalent.

# Proposal

Like OMP, provide on-demand print of MPI-4.1 standard and each tehreafter.

# Changes to the Text

Provide LaTeX multivolume version of the standard.

# Impact on Implementations

None.

# Impact on Users

Access to the print book is a plus.

# References and Pull Requests

N/A

[2021-06-09 20:21] RolfRabenseifner commented on #508
As discussed, if a two-volumn solution will be done without font-size change, then it might be already an option for the MPI-4.0 pdf.

[2021-06-10 07:47] mjklemm commented on #508
I have approached the editor of the OpenMP ARB. She will have a look at the current 4.0 document and tell us what needs to be fixed up. We can then have those fixes applied to the 4.0 document and later modify the 4.x document to automatically generate the right PDF file.

[2021-06-10 10:03] RolfRabenseifner commented on #508
For spilitting MPI-4.0 into two volumes:
- Vol. I: pages i-xxii (Content, 22 pages)
   xxiii-xl (Ackno. 18 pages), 1-632 (Chap1-12 [one-sided], 632 pages)
   and 1065-1099 (Bibl.+Indexes 35 pages) = 707 pages
- Vol. II: pages i-xxii (Content, 22 pages)
   633-1064 (Chap13 [Ext.Interfaces, I/O, Tool...]-19 [Lang.Bind.], Annex A+B, 432 pages)
   and 1065-1099 (Bibl.+Indexes 35 pages) =  485 pages

I

[2021-06-10 12:40] #456 closed, assigned to cniethammer

[2021-06-10 12:40] #500 closed, assigned to mahermanns

[2021-06-10 12:40] #495 closed, assigned to RolfRabenseifner

[2021-06-10 12:40] #458 closed, assigned to RolfRabenseifner, puribangalore

[2021-06-10 12:40] #459 closed, assigned to mahermanns, RolfRabenseifner

[2021-06-10 12:40] #460 closed, assigned to RolfRabenseifner, puribangalore

[2021-06-10 12:40] #461 closed, assigned to RolfRabenseifner, GuillaumeMercier

[2021-06-10 12:40] #463 closed, assigned to RolfRabenseifner, cblaas

[2021-06-10 12:40] #464 closed, assigned to bosilca, RolfRabenseifner

[2021-06-10 12:40] #435 closed

[2021-06-10 12:41] #491 closed, assigned to tonyskjellum, hppritcha, RolfRabenseifner, wgropp, Wee-Free-Scot

[2021-06-10 12:41] #465 closed, assigned to tonyskjellum, RolfRabenseifner

[2021-06-10 12:41] #462 closed, assigned to hppritcha, RolfRabenseifner, cblaas

[2021-06-10 12:41] #453 closed, assigned to mahermanns

[2021-06-10 12:41] #488 closed, assigned to wesbland, RolfRabenseifner

[2021-06-10 12:41] #433 closed

[2021-06-10 12:41] #444 closed, assigned to nobody

[2021-06-10 12:41] #424 closed

[2021-06-10 12:41] #437 closed, assigned to tonyskjellum, regrant, RolfRabenseifner, puribangalore

[2021-06-10 12:41] #438 closed, assigned to mahermanns

[2021-06-10 12:41] #454 closed, assigned to schulzm, jdinan, regrant

[2021-06-10 12:42] #489 closed, assigned to GuillaumeMercier

[2021-06-10 12:42] #501 closed, assigned to nobody

[2021-06-10 12:42] #446 closed, assigned to tonyskjellum, regrant

[2021-06-10 14:27] wgropp commented on #508
Thanks, Michael. I’m also looking at simplifying and modernizing the document design - that should make it easier to adapt to whatever requirements there are for these alternative versions.

Bill

William Gropp
Director, NCSA
Thomas M. Siebel Chair in Computer Science
University of Illinois Urbana-Champaign
IEEE-CS President-Elect

[2021-06-10 14:28] wgropp commented on #508
Thanks for the information, Rolf.

Bill

William Gropp
Director, NCSA
Thomas M. Siebel Chair in Computer Science
University of Illinois Urbana-Champaign
IEEE-CS President-Elect

[2021-06-14 09:13] mjklemm commented on #508
The page limits according to the OpenMP ARB's editor are as follows:

o	8 x 10”: 828 pp
o	Letter: 590 pp
o	A4: 780 pp

So, the for 8x10 format, we'd be good with Rolf's proposal and how he split the document.

[2021-06-14 09:50] RolfRabenseifner commented on #508
Then we have also the opportunity that we'll stay for longer with "Vol. I" within the 828 page limit.
It would be great if MPI-4.0 would be already printable on demand.

[2021-06-14 11:31] mjklemm commented on #508
I'm on it. :-)

[2021-06-16 15:15] GuillaumeMercier opened #509 "Fix Wrong Examples in Partitioned Communications Chapter"
# Problem

Examples 4.2, 4.3 and 4.4 are wrong : the parameters passed to `MPI_Psend_init` and `MPI_Precv_init` are not in the right order when compared to the LIS prototype w.r.t info and communicator.

# Proposal

Change the aforementioned examples.

# Changes to the Text

N/A

# Impact on Implementations

N/A

# Impact on Users

N/A

# References and Pull Requests

See PR#607:  mpi-forum/mpi-st

[2021-07-01 09:57] martinruefenacht commented on #431
To all, I wanted to get some early feedback on the Python API. I wrote a short tutorial [here](https://github.com/martinruefenacht/mpi-standard/wiki/MPI-Standard-Python-API-Tutorial).

Please give me your thoughts on it so it can be modified before we start more general roll out. The interface theme is fairly stable, but the underlying implementation is still slightly mutating to make it more self

[2021-07-07 14:28] raffenet opened #510 "C Binding for MPI_CREATE_INFO_ENV"
# Problem

As pointed out by a user in pmodels/mpich#5399, the C function signature for MPI_INFO_CREATE_ENV is:
[code]
The `argv` argument does not match the ISO C `main` signature.

# Proposal

Change C binding for MPI_CREATE_INFO_ENV to be:
[code]
# Changes to the Text

Binding update.

# Impact on Implementations

Minor (if any) change to code handling `argv` argument.

# Impact on Users

None?

[2021-07-19 14:59] hppritcha opened #511 "MPI_Comm_create_from_group and friend - need clarification of errhandler argument"
# Problem

The current wording in the MPI 4.0 standard concerning the ```errhandler```  argument to ```MPI_Comm_create_from_group``` reads
[code]
Although this text is adequate for describing how the supplied errhandler is used, it does not describe what constitutes a valid error handler argument.

Also, there is currently no text describing the errhandler argument for ```MPI_Intercomm_create_from

[2021-07-19 17:55] wesbland commented on #510
Yikes! Obviously there was a bug here when I did the Pythonization. The early versions of this function in https://github.com/mpi-forum/mpi-standard/pull/126 had a triple pointer (pass the regular double pointer by reference).

This should be an errata to fix MPI 4.0 to be as suggested above.

[2021-07-20 05:58] schulzm commented on #510
I agree, this definitely looks like an errata - however, since this came up I have a slight suspicion/remembrance in the back of my head that we talked about this and did this for a reason, but I cannot find the discussion anymore nor remember the reason. Does anyone remember anything? If not, I think the errata definitely makes sense.

[2021-07-20 10:31] christgau opened #512 "Provide a "How to Cite""
# Problem

IMO, this is not really a serious problem and it might be trivial, but I wonder if the forum could provide a - let's call it - recommended way to cite the standard. A quick look on the website and the doc didn't reveal such an information. Maybe that's one reason why one can find different ways the standard is referenced. Some examples (sorry, if the sources are behind paywall for you):

[2021-07-20 11:03] schulzm commented on #512
Thanks, I added it to the MPI 4.1 board

[2021-07-20 14:04] wesbland commented on #510
I went back through the history of commits in the original PR.  We went from `char ***argv` to `char *argv[]` because we originally were intending to allow MPI to modify the argv list. In the end, we decided not to do that. I think the change to be just `char argv[]` was unintentional (at least it only happens when moving from manual bindings to pythonization) because I didn't realize that the non

[2021-07-21 12:29] Wee-Free-Scot commented on #511
There's text in §9.3.1 that needs adjusting too. In particular, p462 lines 3-7, the advice to users.

[2021-07-21 15:16] wesbland commented on #468
@RolfRabenseifner Which PR is addressing this? Can that PR have test in the description to close this issue (i.e., "Fixes #468")?

[2021-07-21 15:17] wesbland commented on #492
@RolfRabenseifner Can the relevant PR get the text "Fixes #492" in the description please?

[2021-07-21 15:42] wesbland commented on #88
Per the discussion from @tonyskjellum on 2021-07-21, we may be able to close this because this is accomplished by partitioned communication.

[2021-07-21 16:04] wesbland commented on #117
@schulzm suggested this should be discussed in a plenary at the September 2021 meeting.

[2021-07-21 16:09] jdinan commented on #117
A thought experiment: Consider an `MPI_THREAD_SERIALIZED` program where multiple threads perform MPI operations and the calls are properly serialized. The order of send/recv calls is well defined. Now, I change the requested threading model to `MPI_THREAD_MULTIPLE`. Does the behavior of this program change?

[2021-07-21 16:10] raffenet commented on #107
Just as reference, MPICH has provided these (in mpi.h) for some time.
[code]

[2021-07-21 16:11] raffenet commented on #107
Note the actual specifiers are filled in by `configure`.

[2021-07-21 16:19] wesbland commented on #380
@wgropp Is this something that can be automated with our makefiles so we could dump it on the website?

[2021-07-21 16:27] hzhou commented on #117
Certainly. Otherwise, we don't need the threading model.

[2021-07-21 16:40] schulzm commented on #504
Comment on 7/21 by @hppritcha : similar to issue #497

[2021-07-21 16:58] raffenet commented on #117
Could you elaborate? How might the program behavior change? Why wouldn't we need the threading model if the behavior remained the same?

[2021-07-21 17:51] hzhou commented on #117
The implementation will go through different code paths for different threading models, right? Thus, the program behavior changes because it is running different code (at least some parts).

How does the behavior suppose to change is the question.

[2021-07-21 17:57] hzhou commented on #117
I guess @jdinan 's question is supposed to ask whether `MPI_THREAD_MULTIPLE` is just asking the implementation to "serialize" all MPI calls. That could be one of the Forum's decisions. I certainly hope not, because that performance is going to suck.

[2021-07-21 17:59] raffenet commented on #117
That is not how I interpret the question being asked.

[2021-07-29 14:06] jprotze commented on #512
Going into a similar direction, permalinks/permalabels for specific sections would be helpful to cite sections independent of the document version. C/C++ standards use a kind of URI notion: http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2021/n4885.pdf
Although the URI encodes the initial structure and location of a (subsubsub)section, the label is permanent and does not change when a section i

[2021-08-01 14:17] wgropp commented on #512
We can certainly add such permanent and visible labels. Do you know if there is a latex package for these, or did the C++ folks generate their own? We have a lot of our own definitions and could certainly add this, but I'd prefer to reduce the number of custom TeX definitions in the source.

[2021-08-01 14:36] jprotze commented on #512
Looks like some costum-defined macros:
https://github.com/cplusplus/draft/blob/main/source/macros.tex#L90
Here the use for the `class.dtor` example:
https://github.com/cplusplus/draft/blob/main/source/classes.tex#L2002

[2021-08-01 14:49] devreal commented on #512
See also: https://github.com/mpi-forum/mpi-issues/issues/384

[2021-08-03 10:10] devreal commented on #429
@jaegerj This does not only affect the RMA chapter but also applies to the collectives chapter, where *reduction operations* should become *reduction operators* (including *user-defined reduction operators*) to distinguish from *reduction operations* such as `MPI_Reduce`.

[2021-08-03 10:18] devreal commented on #429
Argh, I just noticed that there was a separate PR for the collectives chapter. However, that PR and the associated issue are closed without the fix being merged. Is there an updated PR/issue for MPI 4.1?

[2021-08-04 16:08] wesbland opened #513 "Topologies - @RolfRabenseifner"

[2021-08-04 16:08] #513 closed

[2021-08-04 16:28] wesbland commented on #277
@wgropp I'm not sure what the action for chapter committees should be here. Is it that we need to go over each chapter and look for `set to`, `=`, and `==` and be more consistent about their use (particularly `set to` and `=` I would think)?

[2021-08-05 13:42] wgropp commented on #277
I think the major issue is deciding what the Forum wants as the convention - then the editor can make the updates. Perhaps the first thing to do is to see if we can get the vocal people to agree on a convention - then we can bring to the wider Forum. Off hand, do you know what the C, C++, OpenMP, and/or Fortran standards do? If there is a convention that they use, we should adopt that.

[2021-08-05 19:58] hppritcha commented on #338
@wesbland what did you have in mind for changing with this bullet?
[code]

[2021-08-06 19:11] wesbland commented on #338
Looking back through the history of this issue, it looks like that comment was originally made by @bgoglin. Maybe he can chime in here?

[2021-08-09 17:56] hppritcha opened #514 "Process management chapter changes for 4.1"
# Problem

Originally part of #338 (found during MPI 4.0 RC review), these items were deferred to MPI 4.1.

# Proposal

Address these items for MPI 4.1.

# Changes to the Text

- [ ] Section 11.2.1 in section discussing MPI_IS_THREAD_MAIN, the sentence starting with "In the case of applications using" needs to be reworked. This may need an errata reading.
- [ ]  Page 521 (481): Consider making the

[2021-08-09 17:58] hppritcha commented on #338
moved MPI 4.1 todos to issue #514.

[2021-08-09 17:59] #338 closed

[2021-08-13 22:34] LINORBENYOSSEF opened #515 "C- MPI- gcd of numbers pairs"
The input file includes pairs of numbers, two numbers in each line. In the first line, a single number is the number of pairs that will appear in the input. The process with 0 rank -the "master" "will read the input from the standard and distribute it among the other processes.
The master the  ONLY write the output to the output standard.
The problems:
linor@DESKTOP-RAQK5KO:~$ mpicc main.c -o test

[2021-08-15 17:16] #515 closed

[2021-08-17 14:56] Wee-Free-Scot commented on #511
IMHO, option 1 is a ticket 0/chapter committee change that does not adequately resolve the ambiguity and so should be discarded, but options 2 and 3 are errata because selection between them requires a functionality choice -- is MPI_ERRHANDLER_NULL a valid input value here?

[2021-08-17 14:58] Wee-Free-Scot commented on #511
I suggest we create a PR that does option 3 (the most general option) and read it at the Sept 2021 meeting. If there is pushback, we can re-work the PR to do option 2 instead in time for the Dec 2021 meeting.

[2021-08-17 15:01] Wee-Free-Scot commented on #478
I added the suggested ticket 0 label -- we can upgrade to errata if we discover controversial instances or need guidance from the wider MPI Forum.

[2021-08-18 15:59] martinruefenacht opened #516 "MPI_Status OUT LIS is incorrect"
# Problem

The status parameters of all procedures which use a MPI_Status with an "OUT" direction have an incorrect LIS "direction".

The definition of OUT is: `the call may update the argument but does not use its input value`. The status parameter is used to determine the action on the status parameter. If MPI_STATUS_IGNORE is passed (read/used by the implementation), then the parameter is not u

[2021-08-18 16:08] martinruefenacht opened #517 "Forgotten MPI_Status_set_elements_c"
# Problem

The Embiggenment missed the introduction of MPI_Status_set_elements_c.

This was noted by a user of MPICH: https://github.com/pmodels/mpich/issues/5413

# Proposal

Correctly introduce the required embiggened procedure.

# Changes to the Text

An additional language expression.

# Impact on Implementations

Need to implement another procedure.

# Impact on Users

Can use an embiggened v

[2021-08-18 17:21] RolfRabenseifner commented on #516
MPI-3.1 page 10 line 37 and MPI-4.0 page 12 line 34 clearly shows that passing such special addresses like MPI_BOTTOM or MPI_STATUS_IGNORE also to OUT arguments. The OUT refers to the writing of bits of content. Consequently, the IN marks the reading of bits of content. Instead of changing the whole meaning of IN and OUT in the MPI standard, one may add one sentence to Section 2.3.  We have been v

[2021-08-18 18:10] martinruefenacht commented on #516
Agreed, the sentence permits MPI_STATUS_IGNORE to be passed to a OUT parameter. I do not mean to change the meaning of IN or OUT since those are *well defined* on page 12. In those definitions the word *use* is used, not reading or writing.

@Wee-Free-Scot and I did have a discussion about meaning of use, is reading included in that definition or is that a separate *action*.

The contention is not

[2021-08-18 20:43] RolfRabenseifner commented on #516
I recommend to clearly differentiate between the address of an argument and the content of the memory this address is pointing to if the argument is a pass-by-reference argument. The an OUT status argument is always pass-by-reference. It is a reference to a structure. MPI_STATUS_IGNORE is a special address and not a reference to a structure with a special value. If the user passes a structure with

[2021-08-18 20:59] RolfRabenseifner commented on #516
And same with passing MPI_IN_PLACE to the OUT recvbuf argument in MPI_Scatter.

A sentence can be:

But I do not believe that this is needed.

[2021-08-19 07:29] martinruefenacht opened #518 "Deprecate all _x procedures"
# Problem

The _x procedures are replaced by the _c procedures which were introduced through the Embiggenment. Deprecating the _x procedures allows for removal in the next major version.

# Proposal

Deprecate all _x procedures in the Standard.

# Changes to the Text

- [x] MPI_Type_get_extent_x
- [x] MPI_Type_get_true_extent_x
- [x] MPI_Get_elements_x
- [x] MPI_Type_size_x
- [x] MPI_Status_set_el

[2021-08-20 14:45] Wee-Free-Scot commented on #517
In addition to adding the [_C] embiggened interface, the text describing MPI_STATUS_SET_ELEMENTS[_X|_C] needs to mention MPI_GET_ELEMENTS_C and MPI_GET_COUNT_C when listing the query procedures.

This is an opportunity to replace the inline code with simple `\mpifunc` references -- i.e. remove the argument list, which seems to be entirely superfluous (p 641, lines 29-31).

[2021-08-20 15:13] wgropp commented on #517
+1 on using mpifunc and removing arg lists from inline text

[2021-08-23 13:49] martinruefenacht commented on #517
@Wee-Free-Scot I removed the parameter lists, but they were already using mpifunc. No mention of _x in the text anymore. Is this better?

[2021-08-26 14:16] mahermanns opened #519 "Add functions to check multiple request statuses at once"
# Problem

The function `MPI_Request_get_status` provides completion information for a single given request handle, without actually freeing the request handle (i.e., setting it to `MPI_REQUEST_NULL`).

In wrappers for performance tools often specific information needs to be written when a request completed (e.g., tracing event records) and the request handles are used as a key for the lookup of i

[2021-08-26 14:33] mahermanns opened #520 "Add compound datatypes for large integers for MPI_(MIN|MAX)LOC"
# Problem

Currently the following predefined compound datatype handles are defined in MPI 4.0 to be used in reductions with the `MPI_(MIN|MAX)LOC` operator.
[code]
What seems to be missing here are one or more compound types for integers larger than `long`.

#### Use Case:

In the performance analysis tool Scalasca, the analysis uses one-sided reductions (i.e., `MPI_Accumulate`) with the respecti

[2021-08-26 16:36] mahermanns commented on #519
During a discussion with @schulzm, @wrwilliams, and myself we could not quite settle on whether `MPI_Request_get_status` is a *completing* call or not (and how a completing call is actually defined). We also discovered that `MPI_Request_get_status` is not listed in the semantics addendum document, but it feels like it should.

[2021-08-26 16:40] mahermanns commented on #520
@wrwilliams and I discussed that it actually would also be good to have these additional compound types for `MPI_UINT32_T_INT` and `MPI_INT32_T_INT` and potentially more. This should be discussed in a larger group.

[2021-08-26 20:24] wesbland commented on #519
I'll assume this is MPI 4.1 for now and we can move it later if necessary.

[2021-08-26 20:24] wesbland commented on #520
I'll assume this is for 4.1 for now and we can move it later if that changes.

[2021-09-07 13:34] jdinan commented on #117
IIRC, we were discussing this passage in Section 11.6.1:

And whether this is saying the the MPI library _must_ serialize MPI operations. I agree with @hzhou that this is bad for performance and was never the intent of the MPI Forum. We want this to be inclusive of an MPI library with two MPI calls occur *at the same time* for example with independent, synchronization-free communication paths in t

[2021-09-07 13:57] wgropp commented on #117
This does not say serialize and was not intended to say that.  It was intended to do the reverse (true thread-safety, without serializing calls), and IIRC, was patterned after text used to describe correct thread execution (at the time this was written). The "some order" is constrained by any inter-thread synchronization, for example.

Rather than try to create new text, perhaps we should look at

[2021-09-07 14:00] Wee-Free-Scot commented on #117
@jdinan that is not the text being discussed on this issue. As stated in the description, the question is about the meaning of "logically concurrent" in MPI-3.1 section 3.5 p41 lines 10-17 (there is only one instance of that phrase in the MPI Standard).

[2021-09-07 14:02] Wee-Free-Scot commented on #117
I agree that with your (and Bill's) interpretation of the text from §11.6.1 -- and I recognise that has influence on how I interpret the §3.5 text.

[2021-09-07 14:25] VictorEijkhout commented on #117
On , 2021Sep7, at 08:35, James Dinan ***@***.******@***.***>> wrote:

 the outcome will be as if the calls executed in some order,

Just curious.

Double x[1000];

#omp sections
#omp section
  MPI_Send(x, to=3 )
#omp section
 MPI_Recv(x, from=4)

So this says that process 4 either receives the original contents of “x” or the full result of receiving first from 3.

How do you prevent the buffer to

[2021-09-07 14:40] Wee-Free-Scot commented on #117
@VictorEijkhout That looks like it's probably erroneous code.

[2021-09-07 15:03] VictorEijkhout commented on #117
@VictorEijkhout<https://github.com/VictorEijkhout> That looks like it's probably erroneous code.

Ah. 11.6.1: “It’s the user’s responsibility to prevent data races"

I was trying to come up with a MPI equivalent to “sequential consistency”, which is what that passage from the standard sounded like.

Now I’m not sure what the requirement of thread-safety entails, if you’ve ruled out data races by m

[2021-09-09 15:37] abouteiller commented on #511
One question is: when an error happens during the COMM_CREATE_FROM_GROUP function, and the errhandler is a user-supplied function, what should be the value of the `comm` argument to that errhandler function?

We can see two different rationale that needs further exploration
1. The communicator is not yet formed properly, so we will pass-in MPI_COMM_NULL
2. Despite the communicator being not yet fo

[2021-09-10 10:33] abouteiller commented on #270
After reviewing the code, we have found that **Open MPI actually uses request substituting during start**, and has been doing so for many years without any user complaining.  See https://github.com/open-mpi/ompi/blob/master/ompi/mca/pml/ob1/pml_ob1_start.c

The scenario where this is used is the following:
* when starting a SEND, buffered mode sends are immediately complete (from the MPI layer per

[2021-09-10 11:30] jprotze commented on #117
For the initial question, would there be a difference, if funneled is used instead of multiple? Does funneled imply an ordering between MPI calls?

[2021-09-10 12:30] Wee-Free-Scot commented on #117
Funnelled, yes (all calls are made by the same thread, so the "by two distinct threads" part cannot apply).

Serialised, good question. Of course, there *is* (must be) a chronological ordering of all calls into MPI for that thread support level. That is, "a relative order between two send operations executed by two distinct threads" is defined and enforced by the user (otherwise the program is err

[2021-09-10 12:56] mahermanns commented on #117
I agree with @Wee-Free-Scot on this. As a user I would be surprised if the message order in SERIALIZED would not match the potentially enforced order in which the serialized threads performed them.

[2021-09-10 12:59] Wee-Free-Scot commented on #270
Oh.

[2021-09-10 13:02] Wee-Free-Scot commented on #270
@abouteiller thanks for taking the time to find this implementation example. I agree that this code in Open MPI changes our perspective and restricts the scope of appropriate responses to the discrepancy between the standardised definitions of MPI_Start and MPI_Cancel.

[2021-09-10 13:07] Wee-Free-Scot commented on #511
Thanks @abouteiller. We will take this back to the Sessions WG and address this question before bringing the proposal back to the Forum.

[2021-09-10 13:11] Wee-Free-Scot commented on #188
Suggestion from @RolfRabenseifner: add an advice to user warning about performance issues from serialisation/synchronisation across processes due to insufficient buffer space. Forward reference to various fixes: the sendrecv operation, the buffered mode operation, and the nonblocking/persistent operations; perhaps here, perhaps earlier in section 3.4. Perhaps add an example like processes in a lin

[2021-09-10 17:14] jeffhammond commented on #520
This is a duplicate of https://github.com/mpi-forum/mpi-issues/issues/18

[2021-09-10 17:20] jeffhammond commented on #520
The current situation with pair types is totally stupid and should be fixed not with more enumerations but with a design that actually makes sense. There should be a special pair type construction function that generates all the magic types. It can return an error for unsupported pairs.

[2021-09-10 18:06] mahermanns commented on #520
@jeffhammond Oops ... missed that. Thanks for pointing this out. #18 does not seem to consider [U]INT(16|32|64)_T but is mentioned in the discussion, so I'd assume that those would also be considered?

... also, from your comment I get that you don't like to pursue the solution of #18 either anymore and would prefer something else. Is that correct?

[2021-09-10 18:28] jeffhammond commented on #520
I want the language independent version of https://github.com/mpi-forum/mpi-issues/issues/70. No enumeration, just a function that returns predefined pair types.

[2021-09-10 20:27] bosilca commented on #70
Predefined MPI_Op only apply to predefined MPI_Datatype. This dynamic creation of datatypes would require to also extend the definition of predefined ops and datatypes.

[2021-09-12 16:25] tonyskjellum commented on #270
All: I find the situation a tiny bit upsetting , so let me offer my best, calmer perspective after a few days.  Because we have to be careful not to discover new features never intended in the standard by error, OR fully understand what the errors correction now does.  It seems like not everyone thinks this is even in error. Which is legitimate … but an implementation need never do things this way

[2021-09-13 18:02] wesbland commented on #498
This passed an errata vote on 2021-09-10:

<table>
<tr>
	<td> Yes </td>
	<td> No </td>
	<td> Abstain </td>
<tr>
	<td> 28 </td>
	<td> 0 </td>
	<td> 2 </td>
</table>

[2021-09-13 18:04] wesbland commented on #509
This passed an errata vote on 2021-09-10:

<table>
<tr>
	<td> Yes </td>
	<td> No </td>
	<td> Abstain </td>
<tr>
	<td> 29 </td>
	<td> 0 </td>
	<td> 1 </td>
</table>

[2021-09-13 18:05] wesbland commented on #510
This passed an errata vote on 2021-09-10:

<table>
<tr>
	<td> Yes </td>
	<td> No </td>
	<td> Abstain </td>
<tr>
	<td> 29 </td>
	<td> 0 </td>
	<td> 1 </td>
</table>

[2021-09-13 18:06] wesbland commented on #434
This passed an errata vote on 2021-09-10:

<table>
<tr>
	<td> Yes </td>
	<td> No </td>
	<td> Abstain </td>
<tr>
	<td> 29 </td>
	<td> 0 </td>
	<td> 1 </td>
</table>

[2021-09-13 18:08] wesbland commented on #517
This passed an errata vote on 2021-09-10:

<table>
<tr>
	<td> Yes </td>
	<td> No </td>
	<td> Abstain </td>
<tr>
	<td> 29 </td>
	<td> 0 </td>
	<td> 1 </td>
</table>

[2021-09-13 21:41] #498 closed, assigned to Wee-Free-Scot

[2021-09-14 13:32] #509 closed, assigned to regrant

[2021-09-14 15:00] #510 closed, assigned to wesbland

[2021-09-14 15:18] #517 closed, assigned to jsquyres, martinruefenacht, tonyskjellum, puribangalore, Wee-Free-Scot

[2021-09-17 11:39] p-costa commented on #512
Dear all,

I need to cite the 4.0 MPI standard (thank you for taking care of the large counts issues!). Would the way indicated by the OP be fine:

[code]
or do you have another preferred way?

Thank you in advance.

[2021-09-20 16:09] jdinan commented on #117
Looking again at the original question -- If two threads ensure a particular order of MPI operations using thread synchronization is the MPI library allowed to still treat these operations as "logically concurrent" i.e. unordered? I don't think this is what was intended and this is what I was trying to illustrate with the earlier example. Here it is again with some tweaks to the phrasing based on

[2021-09-20 16:20] hzhou commented on #117
I would say the answer is yes ... depend on your idea of operations. With blocking operations, the operations have to complete before its return, so the order in your case is controlled by the thread synchronization. With non-blocking operations and if your idea of the operation is not just the "posting" part, then I don't think there should be any ordering guarantee in the MPI_THREAD_MULTIPLE cas

[2021-09-20 17:01] garzaran commented on #117
With MPI_THREAD_SERIALIZED you have an order. With MPI_THEAD_MULTIPLE, there is no order as multiple threads can call MPI concurrently.

The way I am interpreting the question is if an application that worked well under the ordering imposed with MPI_THREAD_SERIALIZED should also be correct when this ordering can change due to the MPI_THREAD_MULTIPLE. I think this will depend on the application (fo

[2021-09-21 11:56] Wee-Free-Scot commented on #117
The key point here, IMHO, is "the [MPI] library has no way of observing the [user-imposed] thread synchronization".

MPI can never observe user-imposed synchronisation. In the MPI_THREAD_SERIALIZED thread support level, MPI is still not observing user-imposed synchronisation -- it is relying (as it is permitted to do) on the contract implied by the thread support level and assuming that the user h

[2021-09-21 13:13] hzhou commented on #117
I like that. Maybe we can refine or extend the key point further --

It is expensive for the library to observe thread *in-concurrency* or ordering (and the user is paying the cost). The library can skip this observation by either assume it is always serialized (by the contract of `MPI_THREAD_SERIALIZED`) or assume it is always "logically concurrent". The alternative to "always assume" is to eithe

[2021-09-21 13:25] jprotze commented on #117
In my initial mail, I thought the confusion is the use of _may_.

Now I think the source for the confusion is how _logically concurrent_ is used. Probably the text should avoid this term (because it is understood in a way contrary to the understanding from a threading model perspective) and rather say that MPI does not need to respect ordering enforced by thread synchronization.

[2021-09-21 13:32] schulzm commented on #117
I agree with this interpretation, but I would suggest to formulate it positively - an MPI implementation must only respect ordering as defined by ordering constraints on MPI operations as defined in the standard (or similar)

[2021-09-21 15:43] devreal commented on #117
My reading of the text in §3.5 might be a little different than other people's reading:

The important part is the *may* (as in "is possible"): there may be cases where no relative order is defined. Clearly, this is the case where two threads make concurrent (potentially parallel) calls into MPI procedures. This is what the following sentence alludes to:

In the example at the top of the issue, th

[2021-09-21 16:19] hzhou commented on #117
Logical concurrency is a concept and has nothing to do with how the code is actually concurrent or not. And logical concurrency is not universal and it depends on the perspective -- whether it is from the application's perspective or the library's perspective. @devreal Your modified text only describes the application's perspective and it has nothing to do with MPI ... until the last sentence. The

[2021-09-21 16:23] garzaran commented on #117
I agree with Joseph.

While the MPI library may not know about the external synchronization, if that exists, the user expects MPI to honor that ordering, even if the messages are sent from different threads and using MPI_THREAD_MULTIPLE. This, obviously, has performance implications in the implementation of the MPI library. The OpenMP barrier or thread_barrier() are the typical example used to ill

[2021-09-21 16:29] jprotze commented on #117
A and B are logically concurrent, if neither A before B or B before A.
The thread_barrier says A before B -> they are not logically concurrent.

If you want to have it differently either use a different term or make clear that only MPI synchronization is considered as @schulzm  suggested.

[2021-09-21 16:30] hzhou commented on #117
The trouble is these thread barriers are outside MPI and MPI is ignorant of them. My wish is to have MPI interface to either apply thread barriers or help MPI see these thread barriers. It will keep it simple for both the user and MPI. For example, there won't be so much trouble in crafting the mentioned text to garnish the right amount of implications.

[2021-09-21 16:38] garzaran commented on #117
Having MPI interact with other libraries will allow us to do some optimizations, but this is almost impossible in practice, so I do not think we can take that route.

Whatever we decide we need to be very clear on the MPI standard.

As an application writer, I expect MPI and other libraries to respect what I wrote. If we do not want MPI to honor that expectation, we better make it very crystal cle

[2021-09-21 16:38] hzhou commented on #117
@jprotze You are only looking at the case when the user applies explicit thread barriers and he thinks MPI needs to honor this barrier (ignoring the fact that MPI has no way of seeing this barrier). Also, you are ignoring that having a thread barrier is the corner case. For the most part, when the user runs code in threads, they want them to run in parallel as much as we can. In fact, that is the

[2021-09-21 16:45] jprotze commented on #117
I'm not arguing that MPI should support any unnecessary synchronization.
I just try to point out that the current wording is not sufficient to provide what you want. Also users (especially coming from a multi-threaded background) might not understand, what the intention and implications are.

This is just one of several cases, where MPI is not strict enough in the wording to support correctness ch

[2021-09-21 16:45] hzhou commented on #117
It is only impossible because we keep two run time systems totally opaque to each other -- there isn't OpenMP concept exist in MPI and vice versa. This is obviously a man-made obstacle. When a user is programming OpenMP + MPI, they are obviously thinking of both concepts together and need them to be aware of each other.

This is never true. As an application writer, you always need to understand y

[2021-09-21 16:51] Wee-Free-Scot commented on #117
I would like this group to discuss this code:

[code]

Here, the user program ensures that no MPI calls are executed concurrently, but "the semantics of thread execution" do "not define a relative order between [the] send operations executed by distinct threads. The operations are *logically concurrent*, even [though] one precedes the other. In [this] case, the [four] messages sent can be received

[2021-09-21 16:51] hzhou commented on #117
The true issue is when the user applies explicit thread synchronization, it is not visible to MPI. I don't understand why we don't focus on this, but instead, treat this issue as given and then arguing walkarounds -- me arguing MPI should ignore the thread synchronization because it is invisible, other camp is arguing that MPI should always assume this invisible synchronization because that is use

[2021-09-21 16:53] Wee-Free-Scot commented on #117
I think that MPI should ignore the thread synchronisation (because it cannot verify its existence) and this is fine. If the user wants to enforce an ordering they have the tools available to do that, namely different tags and different communicators.

[2021-09-21 16:57] garzaran commented on #117
@Wee-Free-Scot , I could agree with that, but this is not what we have assumed so far. And if that is the intent, the MPI standard should make it very clear, as some applications may start to break.

[2021-09-21 17:02] Wee-Free-Scot commented on #117
The problem is that you look at what you wrote and think you are instructing the library to do X, but the implementor of the library looks at what you wrote and thinks you are instructing the library to do Y, where X is not the same as Y. Both parties will vehemently argue that they are right, citing exactly the same ambiguous text in the standard, but one will truly believe the library is respect

[2021-09-21 17:02] jprotze commented on #117
@Wee-Free-Scot
Your code example is non-conforming: the Ssend in the master region is concurrent to the other threads entering the critical region.

[2021-09-21 17:04] Wee-Free-Scot commented on #117
I thought that a master region had an implicit thread barrier at the end. Perhaps that is a single region. Please transliterate 's/master/single/' in that line of code.

[2021-09-21 17:23] jprotze commented on #117
Since the code uses Ssend, matching of the individual messages happens before the next Ssend can be posted. So I don't see how the ordering on sender site can be different from the ordering on receiver site.

The code, as is, cannot even observe the non-deterministic ordering on the sender site. The ordering on receiver site is also non-deterministic, but replicating the ordering on sender site.
W

[2021-09-21 17:30] Wee-Free-Scot commented on #117
If the thread with tid==1 executes its MPI_Ssend before the other 3 three threads execute theirs, then its send operation will match the first receive operation at the process with rank 1 in MPI_COMM_WORLD.

If the thread with tid==2 executes its MPI_Ssend before the other 3 three threads execute theirs, then its send operation will match the first receive operation at the process with rank 1 in M

[2021-09-21 17:58] jprotze commented on #117
Ok, then I don't understand what you want to point out with the example: you can propagate multi-threaded non-determinism across processes?
Similarly, the output of the following code is non-deterministic:
[code]
And, surprise: without using fflush, the ordering of the output is not even guaranteed to be consistent with the ordering of the printf calls.

[2021-09-21 18:18] devreal commented on #117
We're not getting anywhere and surely won't find a consensus here. In fact, we don't even seem to agree on basic terminology (undergrad level stuff, really). I suggest we schedule a slot in the hybrid WG to discuss this "in person", if @jdinan agrees to provide a slot or two.

[2021-09-21 21:33] jdinan commented on #117
Yes, I would like to have a meeting to discuss. I don't think I can piece it all together from the thread.

I can formulate my question a little more clearly based on some of the comments that I skimmed. Apologies that it was not more formal from the get go:

Consider an MPI program where two threads each make a call to `MPI_Isend` with different tags, 0 and 1. Both `MPI_Isend` operations have the

[2021-09-21 21:35] jdinan commented on #117
Apologies to those trying to read this via email, I just made a small edit to the question above..

[2021-09-21 21:39] hzhou commented on #117
I don't think even this case is true.

EDIT: Oh, my bad. Both matches, so it is true. (Note, I was overlooking the `MPI_ANY_TAG` part. If there weren't ordering requirements, then even `MPI_THREAD_SERIALIZED` doesn't predict the order.)

EDIT2: Yes, the question is valid. I probably would answer the same (that `MPI_THREAD_MULTIPLE` doesn't change the ordering).

EDIT3: So there is no logical concu

[2021-09-21 21:46] devreal commented on #117
Please consider for the WG meeting whether you are seriously proposing that using `MPI_THREAD_MULTIPLE` instead of `MPI_THREAD_SERIALIZED` at the sender is allowed to change the behavior of the application. Keep in mind that not all codes using MPI have control over how MPI was initialized (libraries, for example).

[2021-09-21 21:56] hzhou commented on #117
They only have control over the behavior that is officially documented by the library or specified by the standards. They never supposed to have control over the undefined or unofficial behavior. We have to be clear on what we are discussing.

[2021-09-21 22:31] devreal commented on #117
Correct, but irrelevant.

I'm really having trouble following your arguments here. You seem to be directly contradicting your previous statements on logical concurrency and your statements here are nonsensical. Let's focus on finding a timeslot for a WG discussion instead of shouting half-baked statements into the world.

[2021-09-21 22:44] hzhou commented on #117
If you define an order, there is no logical concurrency. If you say it is logically concurrent, then there is no order. MPI defines some order, but not others. Logical concurrency only applies to where order is not defined. It is not sensical if we don't define the context clearly. I think @jdinan 's context is clear now, and probably there is not much to discuss there. But I guess it helps identi

[2021-09-22 15:40] jdinan commented on #117
We discussed this topic in the HACC WG today. Here are a few slides from the discussion: https://docs.google.com/presentation/d/1JLoaJqIAGZ93NR7lprDEq_N_NpjmJB6EL0HM2gqt-Kc/edit?usp=sharing

There was consensus on the call that the assertions in this example should hold for both `MPI_THREAD_SERIALIZED` and `MPI_THREAD_MULTIPLE` modes at the sender. We didn't have everyone from this discussion on t

[2021-09-22 15:53] devreal commented on #409
A quick recap of the RMA WG discussion on 9/14/2021 on this:

- There may be memory that MPI implementations cannot register with the NIC on today's systems (e.g., GPU unified memory) in a call to `MPI_Win_create`.
- With active target, the implementation has the guarantee that all targets and origins will end up in collective synchronization calls and operations can be locally accumulated until t

[2021-09-22 16:23] hzhou commented on #117
Sorry for missing the discussion. I join the consensus regarding the assertions. However, I have questions regarding the quoted text in the first slide. Quoted below:

by this process are ordered. On the other hand, if the process is multithreaded, then the
semantics of thread execution may not define a relative order between two send operations
executed by two distinct threads. The operations are

[2021-09-22 16:35] mhoemmen commented on #117
The consensus (that the asserts should hold in `MPI_THREAD_MULTIPLE` mode) calls out for some well-defined language analogous to C++'s [**[intro.multithread]**](https://eel.is/c++draft/intro.multithread), on how `MPI_THREAD_MULTIPLE` implies that sends are executed atomically in some total order.

[2021-09-22 16:57] arakashic commented on #117
After reading the paragraph preceding the one in question, my understand
of this paragraph is:

If a process executes in a serialized fashion, then any two
communications executed by this process are **ordered**. For
point-to-point communications to be deterministic, both participating
processes need to execute in a serialized fashion.

So, how about just getting rid of the "logically concurrent"

[2021-09-22 16:58] yfguo commented on #117
After reading the paragraph preceding the one in question, my understand
of this paragraph is:

If a process executes in a serialized fashion, then any two
communications executed by this process are ordered. For
point-to-point communications to be deterministic, both participating
processes need to execute in a serialized fashion.

So, how about just getting rid of the "logically concurrent" term

[2021-09-22 17:05] mhoemmen commented on #117
I like that -- sends are either ordered or not ordered.  Talk of "logical" vs. "physical" suggests too much that "physical" things always happen in a particular order, which is itself a nonphysical idea.

[2021-09-22 17:06] Wee-Free-Scot commented on #117
The problem with that is not the "if" case but the "else" case.

[2021-09-22 17:16] mhoemmen commented on #117
The slides suggest a consensus that sends should always be ordered.  If this is the case, then sends would still happen in _some_ order (in the same way that atomic updates do), even if the code does not constrain the order.

To me, this suggests removing language about "executing in a serialized fashion."  Sends that would be ordered in the non-threaded case, remain ordered in the threaded case.

[2021-09-22 17:27] yfguo commented on #117
Oh, I think the "serialized fashion" and "ordered" could also be seen as vague. Maybe drop them as well and just say:

For point-to-point communications to be deterministic, both participating
processes need to execute deterministically.

EDIT1: It might be better to say "it is user's responsibility to make both participating processes execute deterministically".

[2021-09-22 17:44] mhoemmen commented on #117
I think the only idea we really need is whether operations are ordered with respect to other operations.  "Nondeterminism" is a symptom of not specifying the order.

The consensus on desired `MPI_THREAD_MULTIPLE` behavior implies a total order on sends from the same process.  It's up to the user's code to specify the order, but MPI isn't doing anything specifically "nondeterministic."

[2021-09-22 18:03] hzhou commented on #117
👍 I agree.

I am quite bothered by this conclusion drawn from the consensus. A total order requires MPI implementations to insert serialization points for every communication, dooms the performance.

Note that people can come to the consensus from very different basis. For example, with @jdinan 's example, I am ignoring the thread model and thread barriers, and only drawing the conclusion based on

[2021-09-22 18:09] hzhou commented on #117
🤦 The entire discipline of computing is built upon logic concepts, so I am deeply disturbed by the suggestion that let's get rid of the "logic" part. -- I probably am partially taking and potentially twisting what @yfguo  meant, but am disturbed nevertheless.

[2021-09-22 18:19] mhoemmen commented on #117
Sorry, I missed the "`Magic_thread_barrier()`" calls in the example.  If those barrier calls were not there, then I would agree that there need not be a total order on the two sends.

[2021-09-22 18:20] wgropp commented on #117
I agree with Hui on this. While I understand the desire for total order, I view it as the same as requiring sequential consistency in shared memory systems. It sounds like a good idea, and there are places where it is the right tradeoff, but in other places the performance consequences are crippling.

Bill

William Gropp
Director, NCSA
Thomas M. Siebel Chair in Computer Science
University of Illin

[2021-09-22 18:23] mhoemmen commented on #117
The issue is wording that contrasts "logical" with "physical," and implies that "physical" execution happens in some order.  "Logical" refers to our model of execution, so it's the only thing that matters in a spec; we shouldn't even have to say "logical."

[2021-09-22 18:23] mhoemmen commented on #117
@wgropp Sorry, I missed the "magic barriers" in the example.

[2021-09-22 18:28] hzhou commented on #117
If by dropping "logical" we understand that we always imply "logical", then I agree. The fact that many people draw logical understanding from physical intuition makes this implied "logical" not given. As such, I think emphasizing "logical concurrency" is useful. "Logical concurrency" promotes parallel performance, so I believe it is good to have.

[2021-09-22 18:45] mhoemmen commented on #117
I just object to the phrase "even if one physically precedes the other."  This may not even be observable (special relativity? lack of timestamps? the very non-atomicity being asserted here?).  Like Wittgenstein says in the Tractatus Logico-Philosophicus, "Whatever you can't speak about, you should keep quiet about."

[2021-09-22 18:56] VictorEijkhout commented on #117
On , 2021Sep22, at 13:45, Mark Hoemmen ***@***.******@***.***>> wrote:

I just object to the phrase "even if one physically precedes the other."

Indeed. What happens physically is a result of how the stars are aligned today. Logical concurrency can be deduced from the program source & current setting of relevant variables.

Put me in the camp of “physical concurrency should not be mentioned and t

[2021-09-22 19:14] jprotze commented on #117
As I understand MPI_Init_thread, an application can ask for (required=) MPI_THREAD_SERIALIZED, but the implementation can nevertheless provide and implement MPI_THREAD_MULTIPLE. Similarly, a PMPI tool can transparently raise the required threading level to cover it's own needs.

As several people argued, for MPI_THREAD_SERIALIZED, the application can expect the messages to be ordered.

I barely se

[2021-09-22 19:19] hzhou commented on #117
The "behavior" that is specified by MPI specification regardless threading model should not change with different threading model. All other "behaviors" may change.

[2021-09-22 19:25] jprotze commented on #117
Do you agree that the assertions on slide 3 hold? For serialized? For multiple?

[2021-09-22 19:26] hzhou commented on #117
Yes. That behavior, that the message matching is ordered, is specified by the MPI specification.

[2021-09-23 13:51] jdinan commented on #117
It seems like we have reached consensus here. Next step is for the working group to propose an update to clarify the existing text. I've seen many good suggestions in this thread. Could folks with ideas draft a proposal (feel free to work together) for us to review in the next HACC WG meeting? If you are not already attending HACC meetings, you can find the info [here](https://github.com/mpiwg-hyb

[2021-09-23 13:52] jdinan commented on #117
PS - If someone can fix my example to use OpenMP, that would be a nice addition to the text.

[2021-09-23 14:17] Wee-Free-Scot commented on #117
I'm not certain that everyone agrees on what the consensus we have reached actually is. Writing replacement text(s) should show this clearly and is a great next step.

[2021-09-23 14:43] hzhou commented on #117
To be clear, I would like to completely delete this paragraph. I am having issues even with the first sentence -- It implies all communications in MPI are (potentially) ordered. If the implementation can not tell the potential condition, then it has no choice but to treat everything as ordered.

[2021-09-23 14:48] hzhou commented on #117
Will two communications in two different communicators be required to be ordered in some situations?

[2021-09-23 15:15] mahermanns commented on #443
@puribangalore @RolfRabenseifner The remaining LIS entries in the MPI_T chapter were not yet fixed, as it was unclear whether they would satisfy the *modified opaque object* rule in Terms 2.3. Could you advise here?

[2021-09-23 15:21] mahermanns commented on #426
This might be a duplicate of #385 or should at least be handled in the same way.

[2021-09-23 15:27] jprotze commented on #117
Please elaborate on the execution model, where calling routines in single-threaded execution is not ordered.

[2021-09-23 15:30] mhoemmen commented on #117
@jprotze I think the objection is that messages from two different communicators are not mutually ordered.  One fix for that would be to say something like, "for communications that would be ordered on a single thread of execution...."

[2021-09-23 15:33] hzhou commented on #117
Even in `MPI_THREAD_MULTIPLE`, the user could call MPI in a single thread for the two communications and MPI library may not be able to tell, right?

I always believed that even in MPI_THREAD_SINGLE, the communications in two different communicators can be executed in any order.

[2021-09-23 15:38] hzhou commented on #117
Right, but I am not sure about the fix. To me, **if the communications are ordered**, it is a logical definition, and they are always ordered regardless of physical execution (e.g. whether is it on a single thread). The application may not be able to tell the order, thus may not have any expectation of the outcome, but the communications are still ordered by definition.

[2021-09-23 15:46] mhoemmen commented on #117
@hzhou I think I get what you're saying.  MPI defines what communications are ordered and what communications are not ordered.  There is only "ordered" and "not ordered."  The only reason to talk about threads is to say whether multiple threads are allowed to call MPI functions.  The existence of multiple threads calling MPI functions does not change the order that MPI imposes on certain communica

[2021-09-23 15:48] mhoemmen commented on #117
If that's right, then the entire paragraph is superfluous, or at best a nonnormative Note.

[2021-09-23 15:56] hzhou commented on #117
Yes, I think that's the best we can do until MPI defines more about threads, for example, a thread id to tell threads apart? -- EDIT: it's whole new can of worms. Maybe it's better not to talk about it in this thread.

[2021-09-23 16:17] wgropp commented on #117
Let me give a different example to illuminate one of the issues.

Assume that you have two *processes* running MPI, and you use some mechanism to ensure that the process with rank 0 in COMM_WORLD performs a send before the process with rank 1 in COMM_WORLD, both to the same destination process. MPI is clear that there is no ordering of the sends in this case, defined as how the destination process

[2021-09-23 16:33] garzaran commented on #117
I do agree that ignoring the ordering imposed by external libraries/synchronization between threads is important by performance, but it worries me that we are not respecting the intent of the programmer. And unfortunately, the MPI standard has never been clear about what happens with threads, so the implicit assumption (at least mine) is that ordering had to be respected.

Something that was discu

[2021-09-23 16:38] hzhou commented on #117
Hmm, in this case, the (matching) order is still logically defined, however, the only physical point that MPI can practically enforce the order is when the messages arrive at the receiving process. This is interesting. Logically, I would argue that the send order is well defined. Without the additional clauses, to fulfill this logical requirement, an implementation may need to go out of its way to

[2021-09-23 16:44] hzhou commented on #117
This is only because by current interpretation of yours, which concurred upon by many, renders `MPI_THREAD_MULTIPLE` useless. `MPI_THREAD_MULTIPLE` when implemented with global critical sections, makes application scale down rather than scale up.

[2021-09-23 16:44] devreal commented on #117
I have to disagree with that in the context of the MPI standard: all operations in MPI have process-scope, not thread-scope. Thus, having two processes send to the same target is not the same as having two threads from the same process send to the same target. Technically, you might be able to implement it that way but in terms of the MPI standard it is not the same.

[2021-09-23 16:49] hzhou commented on #117
MPI has a clear concept (definition) of processes, which makes adding additional text to relax the order based on sending process easy. MPI does not define thread, that makes similar effort ambiguous and difficult. I think you are getting to the core issue -- MPI doesn't have thead-scope is the very reason MPI+threads is in such a mess.

[2021-09-23 17:02] devreal commented on #117
We talked about possible extensions in the WG and we should continue to do so. We should not, however, change existing semantics (backed by all existing implementations and user expectations I am aware of) to create backwards compatibility problems. We need to clarify the existing text to be more precise and to reflect the language in §11.6 ("the fact that a process is multithreaded, rather than s

[2021-09-23 17:09] hzhou commented on #117
Agreed. I think that is this understanding https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-925935867.

The paragraph in question, I believe is an effort to relax the ordering requirement for the thread-multiple case, i.e. an effort of change existing semantics. It fails due to missing thread concepts in MPI and currently misleading, and I think it should be **deleted**.

[2021-09-24 10:59] Wee-Free-Scot commented on #117
There are at least two differences between the two-thread scenario and the two-process scenario, one is the rationale in §11.6.1 referenced by @devreal in https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-925994831, the other is on the next page still in §11.6.1: the first of the two "main requirements for a thread-compliant implementation".

The setup "two concurrently running threa

[2021-09-24 13:09] devreal commented on #117
I lean towards agreeing here. We may want to put a version of the rest of the paragraph into an AtoU to warn users about the pitfalls of concurrent MPI calls.

The example is not wrong but the text of requirement 1 may need some tweaking. As you suggested, it may be better to refer to the stages of an operation (remember that this text was written before there was a concept of stages in the semant

[2021-09-24 13:52] hzhou commented on #117
This part is a crucial factor that affects our opinion. I disagree with the above interpretation: the quoted text, IMO, does not imply *linearisation* of the MPI calls. The quoted text, by grammar, it is only saying "All MPI calls are thread-safe. The `i.e.` clause is intended to state the same and should not mean anything different. Here, I think the key word is *some order*, i.e. it is not a *de

[2021-09-24 14:03] hzhou commented on #117
Can we look at this opposite case of @jdinan 's example and see if we can reach a consensus:

With `MPI_THREAD_SINGLE`, process 0 and process 1 both uses two communicators that are duplicated from `MPI_Comm_world`, thus have the same rank under both communicators.
[code]
Does the assertion hold? I want to argue that nowhere in MPI standard says that `data` can't be `1`, despite the intuition. I.e.

[2021-09-24 14:57] jdinan commented on #117
@hzhou Program order and buffer semantics of `MPI_Send` guarantee that the assertion at the receiver holds.

[2021-09-24 15:12] hzhou commented on #117
@jdinan Could you explain in more detail? Note that the result does not only depend on the order of send side. It also may depend on the network and receiver end, in particular, which message arrives first at the receiver and what's going on inside `MPI_Waitall`.

[2021-09-24 16:03] VictorEijkhout commented on #117
Hope I didn't miss anything.

[ordering.zip](https://github.com/mpi-forum/mpi-issues/files/7227073/ordering.zip)

[2021-09-24 17:01] jprotze commented on #117
From my understanding the last example (https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-926651155) is covered by:

ceive buffer. The receiver should not access any part of the receive buffer after a nonblocking
receive operation is called, until the receive completes.

This is just another place in the standard, where I would wish more explicit language. I would consider this as a

[2021-09-24 18:25] hzhou commented on #117
I agree. Unfortunately, I don't have an example to illustrate the idea that communications can be unordered (or non-deterministically ordered) even in a single-threaded code and it can naturally become logically concurrent in a multi-threaded environment -- as @jprotze noted as data race even in the single-threaded environment. In another word, the logical ordering in MPI is defined or undefined r

[2021-09-24 18:44] jprotze commented on #117
I think, it is important to distinguish communication calls and messages. In a single threaded execution, communication calls will always be ordered, messages are only ordered to the extents that MPI defines (no overtaking of same envelope, unless mpi_assert_allow_overtaking).

Therefore, I suggest the following updated wording to make it more clear:

[2021-09-24 18:55] hzhou commented on #117
This revision reads good to me. -- EDIT: maybe the "two send *operations*" still can be ambiguous. Replace with "two send calls"?

[2021-09-24 19:08] hzhou commented on #117
Also --

"Can" implies the freedom on the implementation, which there isn't, since the implementation cannot see and tell "the semantics of thread execution" and whether it defines a call order or not. The implementation will assume an order and this order may be an arbitrary order due to the logically concurrent nature.

[2021-09-25 12:05] jdinan commented on #117
@hzou I missed that both Irecv operations have the same receiver buffer. This is erroneous.

[2021-09-25 13:53] jprotze commented on #117
Unfortunately not. As I cited in https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-926784215, the standard does not use _erroneous_ for this case.

[2021-09-25 18:35] bosilca commented on #117
What if the application reaches a point in which the content of messages is irrelevant, but communicators need to be drained to progress to the next step ? Thus, the MPI standard could mention data races and the fact that the code has a non-deterministic behavior, but should not declare it erroneous.

That's a fact: communications calls are ordered because communications calls being function calls

[2021-09-26 01:06] jdinan commented on #117
Using the same receive buffer in concurrent `MPI_Irecv` operations is likely to lead to undefined behavior in the networking layer. In the statement referenced, the common understanding I have heard many times is that "the receiver" includes also the MPI library.

[2021-09-27 03:59] hzhou commented on #117
The current text says --
[code]
Note that it doesn't say "calls". In fact, the paragraph in discussion uses "communications", "operations", and "messages". All of these terms are sources of confusion.

[2021-09-27 06:41] bosilca commented on #117
There is a difference between "undefined behavior" and "erroneous". As I said we should point out the undefined behaviors, but we should not declare them erroneous from the MPI point-of-view.

[2021-09-27 07:46] jprotze commented on #117
The MPI standard does not define UB, so I assume the definition from a base language standard:
**undefined behavior** - behavior for which this document imposes no requirements

This means, anything can happen. - The execution might deadlock, or burn down the house.

For erroneous programs, calls, or operations the standard expresses the wish (formerly "high quality"?) that an implementation handl

[2021-09-27 12:12] Wee-Free-Scot commented on #117
The example with two receive operations using the same user buffer introduces an additional type of nondeterminism that distracts from the question at hand.

1. I hope we all agree that the send calls are ordered (IMHO, they are because language semantics).

2. This means the send operations are started in a known/well-defined/deterministic order (IMHO, true but irrelevant).

3. The network (or ot

[2021-09-27 13:18] hzhou commented on #117
I don't disagree. MPI only defines the ordering in the context of matching. My example wants to point out that for communications that are outside the matching context, they can be logically concurrent regardless of the threading execution model. Several arguments seem to be confusing without clarifying this context.

That said, when the context is when the matching order is concerned, it is defin

[2021-09-27 14:14] Wee-Free-Scot commented on #117
This is the central question/ambiguity.

Without this paragraph, the MPI Standard does indeed (IMHO) give an ordering guarantee -- its in the previous paragraph in fact. However, that ordering guarantee is conditional -- "if ... in succession" and specifically limits its statement about "code is deterministic" to the single-threaded case (note: not MPI_THREAD_SINGLE, but just "single-threaded"). I

[2021-09-27 14:29] hzhou commented on #117
The question is incomplete. "If the sender sends two messages NOT in succession, -", what's the question?

EDIT: when the sender sends two messages NOT in succession, there won't be any expectations from the user, right? So users won't be asking this question. There is no way for implementations to tell whether two calls from two threads are concurrent or not, so implementation won't ask this ques

[2021-09-27 14:53] devreal commented on #117
We should try to keep this thread focused on the topic at hand here. Your example, [as written](https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-926651155), is irrelevant to this discussion and let us to discuss an wholly unrelated issue. The issue of whether overlapping receive buffers are UB or erroneous should be discussed in a separate issue.

I believe this sentence has it's pl

[2021-09-27 15:25] Wee-Free-Scot commented on #117
I like this suggestion from @devreal (both AtoU and entirely re-wording). It needs some word-smithing, but that can be done outwith the comments on this issue, e.g. in a WG meeting/call.

Does this suggestion (modulo word-smithing) capture the consensus view of what should be written in the MPI Standard here?

[2021-09-27 15:55] jdinan commented on #117
@devreal Could you capture the proposed changes for discussion this Wednesday?

@hzhou If you'd like to follow up on the ordering example that you posted recently (https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-926651155), could you create another ticket and link here so we can migrate the discussion?

[2021-09-27 16:04] hzhou commented on #117
No. The purpose of the example is to clarify the point that threading execution is not relevant. I think we already have a consensus -- that there is logical concurrency and thus a data race in that example, even it is single-threaded.

[2021-09-27 17:53] schulzm commented on #117
I have not been able to follow the full discussion simply due to its volume, but I think I do understand the intention behind and from a user perspective this does make some sense. However, I also think that this could be very dangerous to add - this requires MPI to guarantee order between threads (or any kind of task) it has no influence over. It would eliminate any kind of optimization in asynch

[2021-09-27 18:25] hzhou commented on #117
Not necessarily. communications from different communicators are logically concurrent because they will never be matched to a single message. If there are additional assertions or hints, logical concurrency may be drawn from tags or sources. There is a burden on the user to express logical concurrency using the semantics that is defined in MPI. Ideally, I think we'll need to bring the endpoints or

[2021-09-27 18:29] devreal commented on #117
@schulzm we have discussed this during the WG call. Personally, I believe the only sane thing to do here is to try and not break existing assumptions on what role threads play within a process and ensure that the matching order follows the order in which operations were posted at the process-scope. The next step is then to identify extensions to MPI that allow applications to relax these constrain

[2021-09-27 18:33] schulzm commented on #117
As I said, I do understand this from the user's point of view, but is a really hard requirement on MPI implementations. Any time an MPI implementation sees two subsequent calls from any thread, task, accelerator, etc. (i.e., with different time stamps) it has to assume that there may have been some kind of user-level synchronization and now has to serialize its execution. This breaks many optimiza

[2021-09-27 20:21] jdinan commented on #117
@schulzm I'm not aware of any MPI implementation today that provides this level of relaxed ordering for `MPI_THREAD_MULTIPLE`. We discussed extending the MPI threading model to add a mode where threads are independent and felt that setting this at the level of a session would be difficult for libraries. A safer option that was suggested is a communicator assertion. E.g., a new assertion like`mpi_a

[2021-09-29 16:28] hzhou commented on #117
There are a few background I think can be helpful to clarify --
1. Whether MPI is required to see the order. I think the answer is yes, because MPI is not order-blind.
2. Whether MPI is required to see order globally. I think the answer is no. It only need to see order within the context of message matching.
3. Means to see order: apply critical sections that serialize threads at those points.
4.

[2021-09-29 16:32] mhoemmen commented on #117
It does need to see order on the sender, no?  I can't imagine how else the non-overtaking rule would work.  (It was a fun exercise to implement point-to-point communication for a single-process "stub" MPI.)

[2021-09-29 16:35] hzhou commented on #117
Matching involves both sender and receiver, so it need to see order on both side. But the context is not just about sender vs receiver, it also is about how many threads are involved.

[2021-09-29 18:14] Wee-Free-Scot commented on #117
I think here, @hzhou, your point about observations in quantum systems affecting the output is important. The question is not so much "whether MPI is required to look for an order" but "how hard must MPI try to observe an order?"

MPI could ask for a timestamp early in each starting procedure for point-to-point communication operations (MPI_Send, MPI_Isend, MPI_Recv, MPI_Irecv, MPI_Start, etc). If

[2021-09-29 18:29] hzhou commented on #117
If the timestamp is *logically* defined in MPI, then I think it is a very valid way of looking. Whether to look and how hard to look is a logical decision or requirement, thus it cannot be defined on any "physical" concept.

Since we don't have a logical timestamp, and order logically defined on top of it, I don't think we need to visit this scenario. But let's say we do and we end up with the sam

[2021-09-29 18:45] hzhou commented on #117
By the way, as far as we are looking at the cost of implementation, it is not just the matching order, but the matching itself. As @Wee-Free-Scot pointed out, even after we see the order, we still need to compare the order during matching. Now let's go one step further, even if we don't care about the order, e.g. `mpi_allow_overtaking`, we still may need thread critical sections in order to match

[2021-09-29 19:06] hppritcha commented on #442
@wesbland i found an example in chap-dynamic that seemed to need the fix @naughtont3 describes here.  so I opened a PR since I didn't see an open one related to it.

[2021-09-30 01:21] devreal commented on #117
I really don't see where this discussion is going here. There has to be an order. Whether the implementation uses the CPU clock or a Lamport clock is an implementation detail and irrelevant. Yes there are overheads for both when using `MPI_THREAD_MULTIPLE` and no we won't fix that without changing the current semantics of message matching (potentially violating assumptions existing applications ar

[2021-09-30 11:36] Wee-Free-Scot commented on #117
IMHO, this latest wording from @devreal is really close to what I would like the MPI Standard to specify here.

Personally, the sticking point is "observable by the user" because MPI has a different point-of-view than the user.

If a user program makes two MPI_Isend calls with identical envelopes one each of two distinct threads, but separates those calls in time by a few cycles (think `{for (int

[2021-09-30 12:30] devreal commented on #117
@Wee-Free-Scot That is a good point. I think we need to go a bit further and require *non-overlapping* MPI procedure calls (I'm not entirely sure where to put the term):

As you pointed out, neither the order of entrance into nor the order of exit from  MPI procedure calls alone are sufficient to ensure deterministic ordering. Any overlapping MPI procedure execution starting operations with identi

[2021-09-30 12:38] jprotze commented on #117
To order function calls within a process, the first function must return, synchronize with the other function call to start. Without such synchronization the calls are not ordered and therefore logically concurrent.
If the calls are ordered, they cannot overlap.

[2021-09-30 12:38] Wee-Free-Scot commented on #117
I don't know how the user could do thread synchronisation partway through an MPI call, except (perhaps) in very special cases (like an attribute callback occurring during the MPI procedure call).

[2021-09-30 12:49] Wee-Free-Scot commented on #117
I think the ordering of exit-from-A happens-before entry-into-B is sufficient.

I agree that entry-into-A happens-before entry-into-B (by itself) carries no useful information about ordering of the starting of the operations.

I agree that exit-from-A happens-before exit-from-B (by itself) carries no useful information about ordering of the starting of the operations.

That is, if the user can/cou

[2021-09-30 13:34] reinh-bader opened #521 "Fortran interface: Update references from TS29113 to Fortran 2018"
# Problem

The MPI standard - for the purpose of defining the modern Fortran interfaces - in many places refers to ISO/IEC TS 29113.
This TS has been retired already some time ago, i.e. formally it is not a valid specification document any more.
This is because all its technical content was subsumed into the Fortran 2018 standard (and indeed some additional corrections
were applied during the inte

[2021-10-05 04:05] simonbyrne opened #522 "MPI_ERROR field in status struct when calling MPI_Test on a null request"
# Problem

When calling `MPI_Test` on a null request, what should the value of the `MPI_ERROR` field of the status struct be set to? For example consider the following:

[code]

The standard has 2 conflicting statements:

Section 3.2.5 (Return Status) states that

status variables. This field may be updated only by the functions in Section 3.7.5 which
return multiple statuses. The field is updated

[2021-10-05 13:31] wgropp commented on #522
It would be odd for MPI_ERROR to be set ONLY when a NULL request is used.  While there is no perfect choice here, I'd define an Empty Status to have MPI_ERROR set to MPI_SUCCESS only if that field would have meaning with a non-null request - i.e., not for MPI_Wait and MPI_Test, which already make an exception for MPI_ERROR for when a status is returned.

Note that the only fields that a user can u

[2021-10-05 15:35] simonbyrne commented on #522
One additional point to consider is if the error field is _not_ set by `MPI_Test`, then accessing it could be undefined behavior in C (which I think is the intent of the warning in section 3.2.5), e.g.
[code]

In this case, the user would need to explicitly zero-initialize the struct
[code]
which, since `MPI_SUCCESS = 0` (section 9.4), would give the desired result.

[2021-10-05 16:08] wgropp opened #523 "Incorrect use of MPI_Get_count_c, MPI_Get_elements_c, and MPI_Status_set_elements_c"
# Problem

A change that we made introduced an error in referring to the C bindings for MPI_Get_count and MPI_Get_elements for MPI_Count parameters. See https://github.com/mpi-forum/mpi-standard/pull/620

# Proposal

Text only - remove MPI_GET_COUNT_C and MPI_GET_ELEMENTS_C from the list of MPI routines (they are not MPI routines), and add a parenthetical comment to remind the user that these C-bi

[2021-10-06 13:41] Wee-Free-Scot commented on #523
This is a superfluous tautology, IMHO. Perhaps, if any text is needed at all, we should give advice to the user?

[code]

[2021-10-06 13:43] wgropp commented on #523
My thinking is that if the Forum got this wrong (and we did by not catching this earlier), we should take some pity on the reader. I'm good with an advice to users, in fact, I find that preferable.

[2021-10-08 17:06] wgropp opened #524 "Enhancing MPI Examples indexing"
# Problem

Indexing of MPI examples is inconsistent and incomplete. For example, many examples are not indexed with any description. In addition, uses of common routines produce so many index entries as to be nearly useless.

# Proposal

An enhanced indexing macro for examples, \Exindex, provides (a) language of example (C, Fortran, or Neutral (language-independent),  (b) short description of exam

[2021-10-21 09:19] cniethammer opened #525 "Add new error class MPI_ERR_ERRHANDLER"
# Problem

There exist error classes to report invalid arguments for nearly every MPI handler and MPI type:
`MPI_ERR_COMM`, `MPI_ERR_FILE`, `MPI_ERR_INFO`, `MPI_ERR_OP`, `MPI_ERR_REQUEST`, `MPI_ERR_SESSION`, ... (see MPI 4.0 Tables 9.1 and 9.2, pp. 471-472)
However, there is missing a corresponding error class for MPI_Errhandler, which can be reported, e.g., in case of calling, e.g., `MPI_Comm_cre

[2021-10-21 12:55] Wee-Free-Scot commented on #117
Materials presented at WG meeting on 20th Oc 2021:

[Logically concurrent sequence.pdf](https://github.com/mpi-forum/mpi-issues/files/7389139/Logically.concurrent.sequence.pdf)
[Permalink to original sequence diagram, not editable](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgTG9naWNhbGx5IGNvbmN1cnJlbnQ_IEV4ZWN1dGlvbiBwYXR0ZXJucyBpbiBhIHNpbmdsZSBNUEkgcHJvY2VzcyBzZW5kaW5nIHR3byBtZXN

[2021-10-21 15:15] mahermanns commented on #519
Tools WG, Oct 21, 2021: Next to the Tools community these functions are also useful for layered libraries that need to query the status of a request without destroying it.

[2021-10-25 08:25] acdemiralp commented on #288
Hello, I implemented a 4.0 wrapper using C++20 (to my best knowledge) here: https://github.com/acdemiralp/mpi

It covers almost all of MPI (see the coverage in readme) but is not thoroughly tested yet. Aside from testing and making sure it is convenient to use, I plan the following improvements: https://github.com/acdemiralp/mpi/projects/1

I'm fully open to feedback.

[2021-11-04 22:10] devreal opened #526 "Attributes are local to windows and datatypes, too"
# Problem

Inconsistent use of window and datatype in the attributes description in Chapter 7.7.1:

There is no reason windows and datatypes should not be mentioned in the second sentence.

# Proposal

Add windows and datatypes to the second sentence:

# Changes to the Text

See above.

# Impact on Implementations

None, they're smart, they do the right thing already.

# Impact on Users

Remove so

[2021-11-10 07:58] martinruefenacht commented on #429
This also affects the DSL as noted by @devreal in #637. I will create a branch for that aspect touching the binding blocks in chap-binding, chap-one-sided and chap-collective.

[2021-11-11 14:30] devreal opened #527 "Typo in MPI_TYPE_DUP"
# Problem

The text in §5.1.10 reads:

Note the `communicator`, which seems to be a typo and should read `datatype` instead.

# Proposal

Exchange `communicator` for `datatype`:

# Changes to the Text

See above.

# Impact on Implementations

None

# Impact on Users

Less consfusion

# References and Pull Requests

[2021-11-11 16:11] #527 closed, assigned to bosilca

[2021-11-23 10:42] jaegerj commented on #429
Collective chapter, in branch mpi-4.x, already contains the change operation -> operators. However, I just found some discrepancies.
With Dan, we have a branch to change "operators" to "\MPI/ Operators". I'll add the correction of the discrepancies in this branch.

[2021-11-23 11:47] RolfRabenseifner commented on #429
Please be careful: We have MPI builtin operators like MPI_SUM and user defined operators defined with MPI_Op_create.
Please be careful that the changed wording does not look like that user defined operators  are in future forbidden where they are currently allowed.

[2021-11-23 13:48] devreal commented on #429
@jaegerj I guess I had found the instances where reduction operation is still used, e.g.,

or

I agree with Rolf. Not sure what problem that would solve.

[2021-11-24 14:57] jaegerj commented on #429
Noted. I'll just fix the missed "operations"->"operators" in a new branch and PR

[2021-11-29 08:54] jeffhammond opened #528 "Fortran: MPI RMA integer interfaces for AINT arguments"
# Problem

RMA absolutely did the right thing with `MPI_Aint` size and displacement arguments.

In C, it is no problem to pass 32b integers to these arguments when AINT is 64b, because C type promotion rules just work.

In Fortran, I cannot do this, because an integer literal is not compatible with an AINT argument.  I find it tedious to have to declare a variable just for this, or to explicitly c

[2021-11-29 09:20] jeffhammond commented on #528
@wgropp made the following comment on email:

[2021-11-29 14:21] wrwilliams commented on #528
@jeffhammond Is the goal here purely high-level syntactic sugar that redirects to one canonical interface and does not broaden the PMPI interface? If so, there should be appropriate language somewhere that specifies this behavior (and a pointer to that language on every relevant function overload, IMO). Otherwise we force tools to err on the side of caution and account for both F08 overloads (prob

[2021-11-29 16:38] jeffhammond commented on #528
Did we add such language for large count or did tools using PMPI figure it out?

[2021-11-30 11:02] wrwilliams commented on #528
We added a great deal of language for large count that specified exactly how the new interfaces, including ones based on Fortran polymorphism, mapped to non-polymorphic names. We also broadened the PMPI interface via the `_c` C interfaces and the `_c_ts` etc. F08 interfaces. I believe we've only ever taken this approach to Fortran overloads in the standard thus far. If your intent here is that we

[2021-12-01 15:24] devreal opened #529 "Adapt Example 11.6 using Issend+Cancel"
# Problem

The standard contains an example (11.6) that demonstrates the use of `MPI_Cancel` with an active send request (`MPI_Issend`). As per https://github.com/mpi-forum/mpi-standard/pull/635#issuecomment-974281657, this example cannot easily be removed since it is used to describe other aspects of MPI. However, cancellation of send requests has been deprecated and will be removed eventually, s

[2021-12-02 16:10] mahermanns commented on #520
Notes Dec 2, 2021: Plan here is to provide the language independent version of https://github.com/mpi-forum/mpi-issues/issues/70 together with an additional function along the lines of [`std::atomic<T>::is_lock_free`](https://en.cppreference.com/w/cpp/atomic/atomic_ref/is_lock_free) for RMA atomics. A branch as the basis for the discussion is in preparation.

[2021-12-02 16:22] mahermanns commented on #426
Tools WG, Dec 2, 2021: We favor to keep the current semantics but maybe make it clearer in the text that MPI_T behaves different than the rest of MPI. The text should rather talk about "MPI_T error codes" to make the difference clear to the user.

[2021-12-02 16:30] mahermanns commented on #414
Tool WG, Dec 2, 2021: We agreed on an Advice to Implementors to always return `MAX_INT` in case of an overflow is detected.

[2021-12-02 16:41] mahermanns commented on #160
Tools WG Dec 2, 2021: Propose text to allow any predefined handle to be passed as a binding argument at any time in the program execution.

[2021-12-07 18:20] Wee-Free-Scot commented on #117
Slides presented at MPI Forum meeting on 7th Dec 2021:

[The “Logically Concurrent” Issue.pdf](https://github.com/mpi-forum/mpi-issues/files/7670702/The.Logically.Concurrent.Issue.pdf)

[2021-12-07 19:00] hzhou commented on #117
A question was raised on the difference between `MPI_THREAD_SERIALIZED` and `MPI_THREAD_MULTIPLE` and the discussion narrowed on the semantic ordering. I think that is a distraction. I think the difference is really on the implementation. Since we have finite hardware resources and need to maintain global states, some serialization is inevitable in any implementation. `MPI_THREAD_SERIALIZED` remov

[2021-12-07 19:18] hzhou commented on #117
In fact, the matching itself requires some serialization. It is necessary to contend on the threads in order to match across threads. While allowing overtake has some benefit, e.g. allowing flexible serialization points, but the bulk of performance penalty is already taken by the matching semantics itself, whether or not ordering is required.

[2021-12-07 20:01] patrickb314 commented on #117
Sorry for joining this discussion late, but listening to Dan’s presentation on the forum today, this strikes me as basically a consistency discussion being held without the benefit of the terminology and models in that field. Let me try to summarize the discussion in that context, and please let me know if my understanding is correct:

What’s basically being considered is this:
Multiple execution

[2021-12-07 20:26] hzhou commented on #117
@patrickb314 What bothers me with your summary is again the loss of context -- the matching. Without the matching context, I am strongly in Camp B. Why insert the ordering requirement when there are no observable effects? Within the matching context, I am strongly in Camp A. The matching context already imposes the bulk of performance penalty, removing the ordering requirement just introduces inco

[2021-12-07 21:31] garzaran commented on #117
I agree with @hzhou that we need to take the context into account. An application that uses different communicators can regain the desired concurrency, even in the presence of a barrier from another library.

[2021-12-07 21:53] patrickb314 commented on #117
﻿Thje forum has also done a lot of work in the last few years to allow implementations and applications to avoid exactly these  synchronization costs with only minimal changes (e.g. hints), not compleletely rewriting the applications’s strategy for use of communicators.

From: garzaran ***@***.***>
Date: Tuesday, December 7, 2021 at 2:31 PM
To: mpi-forum/mpi-issues ***@***.***>
Cc: Patrick Bridges

[2021-12-08 03:48] schulzm commented on #117
After Dan's presentation today I also think that the discussion on the thread levels goes into a wrong direction. Aside from @hzhou comment that thread levels are already confusing and we need fewer not more, they actually have no semantic impact in the discussion we are having. The term that we have in the standard - "logically concurrent" - applies to either thread level, just that under THREAD_

[2021-12-08 07:46] mjklemm commented on #117
I quite frankly believe that this is not the right option either.  That would mean that, for instance, the OpenMP runtime would need to be linked against an MPI library just to make this kind of (corner-case) scenario work.  If we assume for a moment that we somehow can decouple threading runtime and MPI runtime via a function pointer, the check for the function pointer can have a prohibitive cost

[2021-12-08 07:58] schulzm commented on #117
I was hoping you would comment on the OpenMP "responsibilities" - I had the same concern when I wrote this, in that an OpenMP runtime would have to be "MPI aware" and hence also link against it. From a more high-level point of view, though, this is exactly the problem - when we look at the example that Dan had with the OpenMP barrier between the two MPI_Bsend operations, we have exactly the proble

[2021-12-08 09:35] mjklemm commented on #117
Well, what you're asking for is an extension of MPI to let the user tell that it should "flush" the messages.  Not sure if an info object is the right choice, or if a special MPI primitive is needed.  I do not want to resurrect an old discussion, but maybe the solution to this problem is to have an adressing scheme within the process that makes sure that the message is delivered to the right place

[2021-12-08 12:42] devreal commented on #117
It's entirely unclear to me how "logically concurrent" can apply to `MPI_THREAD_SERIALIZED`. There is nothing concurrent in serialized MPI calls, logical or otherwise (whatever otherwise would be).

Asking for inter-runtime integration (MPI->OpenMP, OpenMP->MPI, Argobots->MPI, Qthreadas->MPI, C++, ...) is asking for a shiny dumpster fire, paling the one we have with the ULT integration in some MPI

[2021-12-08 12:51] Wee-Free-Scot commented on #117
The flush idea seems fraught with difficulties to me.

a) As has already been pointed out, attempting to force all possible non-MPI synchronisation mechanisms to include an MPI flush is just not going to happen. This would put the flush into the realm of a language extension that would need to be implemented by the compiler.

b) Attempting to make MPI aware of every possible non-MPI synchronisatio

[2021-12-08 13:02] VictorEijkhout commented on #117
On , 2021Dec7, at 15:01, Patrick Bridges ***@***.******@***.***>> wrote:

Camp A is a sequential consistency – there is a strict happens-before relation between *all* operations on a communicator in a process

That’s not sequential consistency: in sequential consistency the statement order of each thread is preserved in the resulting global order. But that global order is not unique.

Victor.

[2021-12-08 13:31] Wee-Free-Scot commented on #117
I like the analogy to memory consistency terminology, but I don't think it is as simple as @patrickb314 makes out.

IMHO, the issued operations are not just MPI procedure calls and the datastore is not a communicator.

It is clear from the semantics of the OpenMP barrier that one MPI_BSEND procedure will execute completely before the other MPI_BSEND procedure. However, that guarantee is insufficie

[2021-12-08 13:52] jprotze commented on #117
@Wee-Free-Scot I assume, that your examples miss some `if(tid==0)` / `if(tid==1)`?

I would break down sequential consistency to:
If two events (on different threads) are logically ordered, treat then as if they were executed sequentially in this ordering by the same thread. For such execution, MPI behavior is already defined.

-> If two events are not logically ordered, any ordering is valid.

If

[2021-12-08 13:55] devreal commented on #117
This whole argument is fraught because the message order does not depend on the order in which messages are received but in which they were sent. That applies to strictly single-threaded execution as well, think of dynamically routed networks where message can overtake each other. MPI still has to make sure that message A is matched before message B at the receiver if the send of A happened before

[2021-12-08 14:02] patrickb314 commented on #117
Both sequential and fifo/pram consistency preserve per-thread program order and allow multiple ordering of concurrent operations. FIFO consistency just allows different processors to see different orders of concurrent operations in a single execution. The analogy breaks down here, I think.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Victor Eijkhout ***@***.**

[2021-12-08 14:07] Wee-Free-Scot commented on #117
Yes, please forgive my shorthand.

The thread-compliance rules do introduce the notion of interleaved execution of MPI procedures still having an outcome order -- the outcome is as if one executed before the other, even if that is not what actually happened. See §11.6.1 in MPI 4.0

[Channelling camp B] This is only true if the non-overtaking rule requires it, which it does not for operations start

[2021-12-08 15:07] hzhou commented on #117
There are multiple discussions. Some of them shouldn't happen at the same time :)

* The discussion of whether it should *logical concurrent* and the discussion of how the order is determined.

"Single-threadness" is an orthogonal concept to "logical concurrency". Even in a serial program,
[code]
can be logically concurrent if we so decide.

Now, after we decided that two `MPI_Isend` need be "logi

[2021-12-08 15:13] hzhou commented on #117
At this point, I am not sure that everyone is accepting this clause. When we acknowledge Camp B, aren't we directly throwing this clause into the fire?

[2021-12-08 15:24] jprotze commented on #117
MPI is not expected to observe the thread synchronization.
The implementation is just expected to respect the non-overtaking rule. If the calls are ordered among different threads, this ordering should be respected. I agree with @devreal that the strictness could be a property of the communicator. From the perspective of least surprise, strict ordering should be the default.

[2021-12-08 16:13] Wee-Free-Scot commented on #117
Agreed, this issue feels like playing several games of chess simultaneously!

Agreed. The phrase "logically concurrent" is not precisely defined in the MPI Standard, but we all assume we know what it means despite the absence of a written definition.

[code]

I would nitpick and say "the procedure calls are clearly not concurrent here, logically or otherwise; they are in per-thread program order.

[2021-12-08 16:36] hzhou commented on #117
I see. Thanks for the clarification on how camp B can still justify with the thread-compliance rule.

However, since camp B starts with the two operations from two distinct threads are "logically concurrent", that doesn't fit into the "branch" that you quoted. My original point was, the discussion of what is order or how the order is determined, or whether the order is nondeterministic (thx for th

[2021-12-08 16:41] hzhou commented on #117
Actually, I want to broaden this position to include your proposal of additional MPI thread levels. It essentially is a position that takes a default (camp A, but could default to camp B as well) plus additional explicit annotation/instruction of otherwise. The discussions on which default to take and on means of explicit annotation/instruction should be delayed after we all accepted this position

[2021-12-08 17:11] devreal commented on #117
I disagree. I don't think we should focus on agreeing on an interpretation of an obviously flawed text. Instead, we should focus on

a) what implementations currently do; and
b) what user's expectations are

Since the text in question is imprecise it has to change. IMHO, this is a case where the standard has to adapt to reflect the reality of what is out there. Unless, of course, we deliberately w

[2021-12-08 17:37] Wee-Free-Scot commented on #117
[code]
Here, the MPI procedures are ordered (program order) and are not "logically concurrent" (by any sane definition of that phrase).

However, the MPI operations are both active for some interval of time, which (perhaps) means they are "logically concurrent" (depending on the precise definition of that phrase).

[code]
Here, the MPI procedures are ordered (program order) and are not "logically

[2021-12-08 18:01] martinruefenacht commented on #431
Given yesterday's discussion on this in the MPI Forum I will be separating the Python API that I have so far come up with into its own python module hosted on pypi (eventually this might live in the mpiforum repos?). The question of how do we give access to the actual metadata (apis, ...) is still somewhat unclear. Do we want to package it with the pympistandard module and allow external loading w

[2021-12-08 18:11] garzaran commented on #117
Honestly, I agree with @devreal , we need to up-level a bit the thinking process. Once we agree on that, we can go through the details.

1) What is the programmer's intent? Do we want to grant that? I am on the opinion that we MUST, but maybe not everybody is.
2) What is the state of the art? What do users assume today? What do the implementations implement today? Do we want to break that?

Based

[2021-12-08 18:13] wesbland commented on #431
I'd definitely advocate for putting this in https://github.com/mpi-forum/python-api (or some better name).

My personal preference would be to package up the official versions of the API from the MPI Forum and bundle them with the package itself. When the user of the API loads up the module, they can say that they want MPI 4.0 (or 4.1, or whatever) and/or any other files if they want a non-standar

[2021-12-08 18:25] hzhou commented on #117
The so-called "procedure order" is never the subject of MPI discussion, right? The procedure order is decided by the programing language and implemented by compiler, and executed by CPU. The procedure order is below semantic order not vice versa. For example:
[code]
That can be logically concurrent regardless of compiler implementation.

Here we are discussing under MPI semantics, and the semantic

[2021-12-08 18:50] devreal commented on #117
This is fractally wrong. The procedure order is *the only order that matters* in terms of message matching. If on a single thread, I execute:

[code]

then B can overtake A on the way to the receiver but the matching order is still [A, B]. Guaranteed. Always. The operation order is irrelevant. This is basic semantics of MPI, for the last 25 years. The order of messages is defined by the order in w

[2021-12-08 18:50] hzhou commented on #117
Thanks for the feedback and with some afterthought, I realize my original summary (https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-988897110) is still confusing. Let me try again:

First, we need to clarify the context. We are discussing when two operations that will contend on a matching. Since they are contending on a matching, there will be an ordered outcome. So if we broaden t

[2021-12-08 18:59] hzhou commented on #117
For the record, I am from the same position as you since the beginning. However, I am reasoning, which may not be based on the position I am from. What is the semantics of MPI for the last 25 years, whether it is agreed upon or not, is irrelevant to the reasoning. In the example, I am saying it can. I am glad we all agree that it shouldn't. When the calls are issued from different threads, we don'

[2021-12-08 19:20] hzhou commented on #431
Will there be a Github repo? If there is, then we can import it as a submodule. Some users/developers may be reluctant to install an arbitrary package.

[2021-12-08 19:21] devreal commented on #117
Apologies for my harsh reactions but I don't think it is helpful to throw random ideas into the discussion. It's confusing for everybody (see my reply), leads the discussion astray, and wastes a lot of cycles. Let's stay focused on what we reasonably can do in the current situation, not some irrelevant hypotheticals. There is a lot of smoke here, adding to an already complex problem.

[2021-12-08 19:23] jprotze commented on #117
No.

The point during the function call is not relevant.
If the MPI function calls are ordered according to common threading semantics, this will always result in the expected message ordering. If the MPI function calls are not ordered, no ordering of the messages can be expected.

Considering two buffered send, the first one with a large message can happily be ordered after another short message

[2021-12-08 19:38] hzhou commented on #117
I think you are just stating the position of Camp B. I guess there are still subcamps. Camp B1 allows the serialization point as late as the exit of the function call, Camp B2 allows delaying that all the way to the matching point. A characteristic of camp B is the uncertain nature of that serialization point -- it can take place anywhere from the beginning of the call to the end of the call or ev

[2021-12-08 19:56] hzhou commented on #117
If one takes the position of Camp B2, it will break the expectations that two calls issued from a single thread should result in deterministic order. As @devreal strongly argues, that's unacceptable. So hopefully this reasoning will persuade Camp B2.

Note that Camp B1 will not break the expectation of operations issued from multiple threads with additional thread synchronization. In this scenario

[2021-12-08 20:06] jprotze commented on #117
According to @Wee-Free-Scot 's definition of camp A/B (https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-989027836), my last post was fully in camp A. It is just not relevant whether you compare the starting or any point during the procedure call, if the procedure calls are logically concurrent.
The ordering of the start cannot be observed by the application, unless the calls are ord

[2021-12-08 20:18] hzhou commented on #117
I see. I was at a thinking stage that @Wee-Free-Scot 's definition of camp A/B has to be further strengthened.

I see. I guess that means my Camp A and Camp B1 probably can be merged. Here it is (more inline with @Wee-Free-Scot 's definition):

* Camp A: the serialization point occurs before the exit of issuing calls.
* Camp B: the serialization point occurs before the point of matching.

Camp B m

[2021-12-09 06:41] jprotze commented on #117
Let me try to translate the classical textbook example for sequential consistency to MPI:
[code]
After no execution `x==0 && y==0`. Otherwise, the outcome is non-deterministic.

To translate the example to MPI, I use two communicators x, y:
[code]
On receiver side, I post the recv sequentially to avoid confusion:
[code]
Based on sequential consistency, I would expect, that In no execution `a==0 &&

[2021-12-09 07:01] martinruefenacht commented on #431
@wesbland If you make a mpi-forum/pympistandard repo I am happy to push there. Currently I have separated it from mpi-standard into its own personal (private) repo. Would the mpi-forum/pympistandard repo be public?

I am also happy to first do the thing internally on the mpi-forum and then distribute via pypi when we are happy with it. I do think it needs to be open-source so people can trust it t

[2021-12-09 08:38] correaa commented on #288
Hi all,

Sorry I am late to the conversation. Thank you @raffenet for the mention. I am the author of https://gitlab.com/correaa/boost-mpi3.

Please let me know if you have any feedback or feature request on the library. If you are not using the library I would still like to know what feature(s) would you like the library to have in order for you to use it.

The library is also mirrored here https

[2021-12-09 10:43] raffenet commented on #117
No. What we have been telling people is that without thread synchronization, a thread multiple program must account for all possible orderings. Though your example use both x,y and 0,1, so I'm not sure what the data payload is in this case.

[2021-12-09 10:51] jprotze commented on #117
I updated the code to try and make the payload clearer (as stated, x and y are communicators to emulate completely independent memory accesses). I agree with the all orderings part in general. It's just, that you cannot find any ordering in the sender process, so that 0 is sent second in both communicators.

[2021-12-09 11:02] raffenet commented on #117
OK, I agree now that there is no ordering `a==0 && b==0` at the receiver in your example.

[2021-12-09 13:05] hzhou commented on #117
@jprotze Good examples! Way to go to further disturb the water :)

Is this true though? I thought compilers are free to reorder the sequential order unless additional flags or attributes are given. I guess that means the *universal* "sequential consistency" is not well accepted.

Careful now. I tried to narrow down the context and insisted on only talking about orders between two MPI operations th

[2021-12-09 13:14] raffenet commented on #117
Ah, right. I take back my agreement :). @hzhou is right that the independent communicators here *do* make `a==0 && b==0` possible in your example.

[2021-12-09 14:04] wesbland commented on #431
https://github.com/mpi-forum/py-mpi-standard

I've made it public because I prefer things here to be public by default. If someone disagrees, we can discuss and and change it. To seed the pot, I've made @martinruefenacht an admin on the [GitHub team](https://github.com/orgs/mpi-forum/teams/python-writers) that controls write access to that repository.

I don't have a strong opinion here. Happy to

[2021-12-09 14:27] VictorEijkhout commented on #117
On , 2021Dec9, at 07:06, Hui Zhou ***@***.******@***.***>> wrote:

Is this true though? I thought compilers are free to reorder the sequential order unless additional flags or attributes are given. I guess that means the "sequential consistency" is not well accepted.

True and true.

In OpenMP you have to insert a whole bunch of flushes. Here’s a nice and horrifying discussion. I’ve queued it up t

[2021-12-09 15:00] jprotze commented on #117
Again, you derail the discussion. I said, under sequential consistency, this is the outcome. The example is clearly pseudocode. If you insist on syntactic details, just declare the variables as `std::atomic<int> x,y;`.

The point in my example is, that the ordering between the call with different communicators is not relevant. Just by the execution order of the code, only one pair of calls using t

[2021-12-09 15:12] hzhou commented on #117
No. I believe this is a critical detail that we need to bring to the front. Camp A or Camp B will be formed very differently depending on this detail.

If there is no order between calls with different communicators, then both pairs of calls may come into contention because both are contending in a parallel universe (communicator) with no ties between them.

[2021-12-09 15:36] sg0 commented on #288
We recently wrote a paper (in ExaMPI 2021 workshop) about our experiences with MPL and discussed prospects of modern C++ abstractions in the context of MPI-4/5. We extracted a subset from MPL and translated a few benchmarks from OSU and the LULESH miniapp. https://github.com/mpi-advance/mpl-subset

I would like to compare (not necessarily performance) with the implementations of @acdemiralp and @c

[2021-12-09 16:27] wesbland commented on #525
This issue had a "no-no" vote on 2021-12-07, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 29
	<td> 0
	<td> 2
</table>

[2021-12-09 16:29] wesbland commented on #449
This issue had an errata vote on 2021-12-07, which passed:

<table>
<tr>
	<td> Yes
	<td> No
	<td> Abstain
<tr>
	<td> 30
	<td> 0
	<td> 1
</table>

[2021-12-09 18:43] bkmgit commented on #117
The example considers OpenMP, but there are other threading models. In the case of no resolution, maybe one could consider an advice to users describing this problem and suggesting using tags where possible for portable behavior.

[2021-12-09 20:39] devreal commented on #117
Unfortunately, I had issues with my mic today and talked to my screen but couldn't get a word in until the end of the the discussion...

IMO, the whole discussion about external synchronization and/or threading models is a red herring. Whether or not MPI is aware of external synchronization is irrelevant and a distraction. As I said earlier, all MPI has to do is protect its internal data structure

[2021-12-09 20:47] raffenet commented on #117
There seems to be some concern that some of us are saying that MPI *has* to integrate with all known threading runtimes in order to support a camp A interpretation of MPI_THREAD_MULTIPLE. To that I say we *already* have this problem with the progress requirement in 11.6.1.
[code]
Argobots threads are non-preemptive, so in order to support this requirement, Argobots-aware MPICH makes an explicit ca

[2021-12-09 21:15] hzhou commented on #117
A multi-threaded MPI implementation is implemented on top of a threading runtime. For example, it need perform appropriate thread synchronization and yielding on that runtime. Failing that, for example, if mpich is not compiled with argobots, then it simply does not support argobots, at least not fully. This is the same as an implementation may not support ARM or Windows. So I don't think there is

[2021-12-09 21:24] hzhou commented on #117
I think the confusion comes from the difference between OpenMP runtime and e.g. argobots runtime. OpenMP sits on top of argobots runtime, the same as MPI sits on top of argobots runtime. However, MPI does not sit on top of OpenMP, and thus it can be totally ignorant of it.

[2021-12-10 00:19] jprotze commented on #117
I'd like to add another data point: From my perspective the notion of _physically precedes_ is a reference to the 1978 Leslie Lamport paper: _Time, Clocks, and the Ordering of Events in a Distributed System._ (https://amturing.acm.org/p558-lamport.pdf)

With this paper in mind, the standard text does not preclude that there can be a logical ordering between MPI procedure calls, e.g., one call _hap

[2021-12-10 01:02] hzhou commented on #117
@jprotze You are insisting MPI to serialize all communications, in the same vein of disallowing many optimizations current compilers and CPUs do, for what gain? Just so users can rely on:
[code]
that `assert(x==1 || y==1)`?

[2021-12-10 01:14] hzhou commented on #117
I am not sure what you are trying to say. "does not preclude" is the same as "does not say", right?

[2021-12-10 04:10] jprotze commented on #117
Why should this imply serialization of communication? The only thing, that needs serialization is the step _observing the ordering_ within the send operation and the step _reproduce the ordering_ during the matching at the receiver side.
Both steps can be boiled down to an atomic increment, if you care for optimization.

If the interpretation of the paragraph would be as simple as @RolfRabenseifne

[2021-12-10 04:24] hzhou commented on #117
Even atomic contention can be catastrophic if you are aiming for any kind of parallel scaling. Besides, atomic increment just records the ordering, to recover or enforce the ordering, additional contention or much heavier locking has to be introduced.

What is the benefit? We are yet to see an example that keeping the order between communicators is needed other than the example you just provided,

[2021-12-10 05:03] hzhou commented on #117
Also, there are limited network resources and channels. If we do not intelligently sort the communication into these channels, we may have to cross-check all channels in order to find the message to match. Not only that serialize the operation, we can't effectively utilize much of the modern hardware technology, thus is very expensive. With different communicators, in a simple scheme, we can use d

[2021-12-10 09:27] softwaretraff opened #530 "More flexible MPI_Reduce_locals needed"
# Problem

The current MPI_Reduce_local operation (Section 6.9.7 of MPI-4.0) has severely restricted functionality: it "adds" an in-argument to an inout-argument in that order. It is thus not possible to directly "add" two different in-arguments with the result stored in an out-argument, neither is it possible to add two arguments in the order of inout-argument and then in-argument. This limits th

[2021-12-10 12:25] softwaretraff opened #532 "Wrong claim in MPI 4.0 Example 6.35"
# Problem

Example 6.35 claims that collective operations on overlapping communicators are in some cases not possible. The case given is wrong.

# Proposal

The claim that "It is not possible to perform a blocking collective operation on all communicators
because there exists no deadlock-free order to invoke them." is false for the example given. The blocking calls will just serialize in a perhaps

[2021-12-10 14:29] raffenet commented on #117
Using the example from yesterday's discussion, what camp B is saying, I think, is that the MPI_Bsend calls might be reordered across the thread barrier by the thread runtime and so the assertion cannot be expected to hold in all cases. MPI might not have any idea there was a barrier at all.

1. Such a thread model should be deemed incompatible with anything greater than MPI_THREAD_FUNNELED.
2. If

[2021-12-10 17:40] bosilca commented on #117
For the sake of those that follow this discussion but missed the meeting where the Bsend example was presented, can someone post or link to something here.

[2021-12-10 17:52] Wee-Free-Scot commented on #117
I posted the slides I presented (which contains "the BSEND code example" on slide 11).

[code]

[2021-12-10 17:53] Wee-Free-Scot commented on #117
Disclaimer: others have (and continue to) put forward other (dis)similar examples.

[2021-12-10 17:54] bosilca commented on #530
Actually, OMPI does provide a similar capability at a lower level than the MPI API. I mention this in our discussion there, you can find the link above.

[2021-12-10 17:55] Wee-Free-Scot commented on #117
Update/edit: it turns out the strange symbols came from copy&pasting from PowerPoint, sigh.

[2021-12-10 18:13] bosilca commented on #532
The order of operations (and especially the communicators they apply to) is indeed incorrect, but I suspect a typo in the rank 0 case as the example is the textbook example of distributed deadlock.

Staying as close to the current document the rank 0 should change the order of the 2 reductions. The correct order should be:
[code]

Easy fix, patch attached.

[code]

[2021-12-10 18:54] Wee-Free-Scot commented on #117
IMHO, this is not at all what camp B claims -- that violates the language semantics (as extended by the Open MP semantics).

In contrast, I believe Camp B says that, despite the actual execution order obeying the Open MP barrier, it is permitted for MPI to match the two messages in either order because they were started by distinct threads.

Let us follow the example through pedantically, first wi

[2021-12-10 19:01] hzhou commented on #117
+1 to that. I think it is important not to dwell on the end conclusion, but pay more attention to the reasoning.

[2021-12-10 19:16] hzhou commented on #117
To follow up, since there is the matching requirement, a logical order exists. In a stretched analogy, for example, law. Both camps acknowledge the law and agree to follow the law. A person from Camp A will follow the law as long as he is aware of himself. A person from Camp B will follow the law to the knowledge of other people. If he believes other people are not aware, he believes it is okay to

[2021-12-10 19:22] hzhou commented on #117
Of course, @jprotze and I (https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-990598778) were arguing about the existence of the law itself. We agree on how to follow the law.

[2021-12-11 00:16] bosilca commented on #117
I will stay away from the discussion of the intricacies of the threaded ordering, but I would like to clarify something regarding the scapegoat buffered send communication. Because after all these discussion it is still not clear to me why the use of the buffered operation in this example.

The section 3.6.1 in the MPI 4.0 standard, clearly specifies the semantic and requirements of the `MPI_Bsend

[2021-12-11 09:18] softwaretraff commented on #532
Hi George,
the example, as I read it, claims that blocking collective communication on cyclically overlapping communicators is not possible and will always deadlock. This claim is wrong.

I'm not sure about your fix: now rank 0 for instance perform the collective twice on comm1 and comm3 - why? will this work?

Jesper

[2021-12-11 09:23] softwaretraff commented on #530
Hi George,

that's what I assumed. However, this doesn't help the application programmer. Supporting the 3-argument MPI_Reduce_locals operations should come at very little implementation effort.

Jesper

[2021-12-11 09:26] softwaretraff commented on #530
Hi again,

actually, the discussion in your link is great, and seems to support having a 3-argument MPI_Reduce_locals?

Jesper

[2021-12-11 11:49] Wee-Free-Scot commented on #117
I chose buffered mode send because it permits a single thread to move on to a subsequent instruction/procedure call without (necessarily) delivering the first message.
[code]
Here, there is at least a possibility of a single thread pushing the tiny message into the network before all of the huge message is pushed into the network. Thus, we might get some form of "concurrent" or "at the same" or "m

[2021-12-11 11:56] Wee-Free-Scot commented on #117
I should also point out that my examples use buffered mode sends partly because the example (Example 3.6 in §3.5) in the MPI Standard does so.

I suspect that the original authors of the example in the MPI Standard chose buffered mode for similar reasons, with the additional observation that this example appears lexically in the document before any nonblocking operations/procedures are introduced.

[2021-12-11 12:00] Wee-Free-Scot commented on #117
To answer this recurrent point, we must look at the destination MPI process in the same level of pedantic detail. I will try to write another thousand-word essay on that subject soon.

[2021-12-11 12:52] jeffhammond commented on #530
Do we need a new MPI_Op_create for this to comply with the C function type?

[2021-12-11 12:56] jprotze commented on #117
Here an example with receive on different threads (using OpenMP as threading model is just for brevity and easier human readability - the same code could be written with C++11 threads or pthreads):
[code]

For this example, there is no way that the first receive with `rbuf1` could receive something else than the `1` from `sbuf1`, so the program will always print `rbuf1 = 1, rbuf2 = 2`. During the

[2021-12-11 13:13] jprotze commented on #117
I think, the blocking receive example clearly demonstrates, that camp B interpretation of **logically concurrent** is flawed:

This sentence would allow reverse matching even in the presence of the barrier. If the barrier goes away, every one agrees that either matching order is valid.

A more extreme interpretation of the paragraph would actually negate any ordering for multi-threaded code:

by t

[2021-12-11 13:38] jprotze commented on #117
My current interpretation of 3.5:

**Messages are non-overtaking.**

The MPI implementation must preserve the order.

There is an exemption for logically concurrent messages.
Since the implementation cannot observe/prove, whether messages are logically ordered, the implementation must assume logical ordering unless the implementation can observe/prove logically concurrency of messages.
Based on ba

[2021-12-12 17:36] softwaretraff commented on #532
Hi George,
sorry, I misread you fix - yes, something like that is what was probably intended.
It's the same as any other cyclic dependency that can be broken with non-blocking communication - or by explicit symmetry breaking, as in my code. So, the claim in the example is not correct as written; your fix, and better text seems needed
Jesper

[2021-12-12 17:44] softwaretraff commented on #530
Good point. Would be possible to do without, but would then cost for user Op's, so perhaps yes

[2021-12-12 21:18] bosilca commented on #532
I will create a PR for 4.1

[2021-12-13 11:32] cniethammer commented on #532
The changes make the deadlock problem obvious but I am still confused about the text.
The text talks about collectives and that  "... no deadlock free order to invoke them" exists.
So I, looking as a user/reader, on this would think of changing the order of these collective calls for a counter-example - obviously back to what was there before.
So I think the text needs some work as well describing

[2021-12-13 15:11] raffenet commented on #117
The reason I say this is that the discussion often falls back on the fact that MPI has no knowledge of the inter-thread synchronization to know that an order is being specified. So what if MPI *did* know there was synchronization? How would it differ from what we have today? What I am trying to understand, and I agree 100% with @devreal on this, is what is camp B worried we are imposing on MPI imp

[2021-12-13 15:19] hzhou commented on #117
If the implementation can tell 100% of the cases where the user does not or cannot care about the order, then implementation can use more flexibility to optimize *without* breaking users' expectations.

[2021-12-13 15:47] raffenet commented on #117
And this flexibility would come with increased overhead in MPI to track which operations come from which threads in order to maintain per-thread ordering requirements, right? What you say makes sense, just want to understand the whole picture.

[2021-12-13 15:55] Wee-Free-Scot commented on #117
The overhead needed to track and enforce per-thread ordering is necessary in any case (assuming there exists anything between the sending thread and the receiving thread that doesn't obey strict FIFO ordering, e.g. an adaptively routed network, or a preemptive OS kernel).

Two send operations started by a single thread, transmitted by a network that is not a single FIFO stream, must be applied to

[2021-12-13 16:02] hzhou commented on #117
The immediate flexibility is to delay the resolving of ordering until the matching time. For example, if the matching happens at the receiving side, we can simply parallelize the send side. This potentially will increase the burden at the receiving side, but can be a crucial benefit for some applications. But if the user expect a certain order determined at the send side, then we have to honor it

[2021-12-13 16:04] Wee-Free-Scot commented on #117
When MPI_THREAD_SERIALIZED is in effect, MPI *does* know that there must be some synchronisation between MPI procedure calls -- because that is the contract with the user. If the user fails to abide by this contract and two MPI procedure calls overlap in time, then the user code is erroneous and the outcome is not defined by the MPI Standard.

IMHO, this question is equivalent to "how does MPI_THR

[2021-12-13 16:07] hzhou commented on #117
Knowing because of *always* is different from being able to tell when and when not.

[2021-12-13 16:09] raffenet commented on #117
Today, implementations incur this overhead at process scope. Pushing this overhead to per-thread scope would be in addition.

Still, all this discussion of increased flexibility for MPI to optimize doesn't get to what I am trying to understand. Some in camp B are saying that some thread runtimes (task? or transactional?) are going to make is so MPI has to implement some global counter scheme(?) in

[2021-12-13 16:36] Wee-Free-Scot commented on #117
Assertion: there are two possible types of MPI implementation -- one that preserves inter-thread MPI send operation starting order at the receiver MPI process and another that does not.

Camps: camp A requires the first type of MPI implementation and states that the other type of implementation is not valid; camp B is not fussed, both types of implementation are allowed and valid.

Implementors: t

[2021-12-13 16:50] hzhou commented on #117
This reasoning is basing on the principle of minimizing existing impact. A different reasoning may be basing on the principle of maximizing potential benefit. For example, certain revisions that allow MPI applications to scale better with the current and future systems may well be worth the impact of breaking a few legacy applications. Of course I am not saying it has to be one or the other.

[2021-12-13 17:09] patrickb314 commented on #117
I’m by no means firmly in any camp here, but I’ll note a few things here:

On modern HPC hardware, there is a large difference between enforcing per-thread order and global order for all MPI operations on a single communicator. With the increasingly large nodes we’re building, the former is a cheap thread-local counter increment (10s of nanoseconds at worst), while the latter is a cross-core or cr

[2021-12-13 17:13] Wee-Free-Scot commented on #117
This would be the main motivation for the subsequent discussion about offering the "camp A is permitted; camp B Is permitted" semantic (probably as an option the user can request and the MPI library can choose to provide in response to that request), once the existing text has been modified to "camp A is permitted; camp B Is prohibited". Someone would need to demonstrate that an implementation tha

[2021-12-13 17:38] jprotze commented on #117
All arguing about possible (unproven) performance improvement focuses on sender side only. I have a multi-threaded application at hand, where message matching will result in a time (or/and space) complexity nightmare. Think about 1000s of messages with individual tags, which are non-deterministically sent from all threads and similarly randomly received from all available threads.

Another advanta

[2021-12-13 17:38] devreal commented on #117
There is also the principle of least surprise, which is a strong force in designing interfaces these days.

I am aware of the pitfalls of contended atomic counters. My question is whether this is merely a shift in overhead from the sender to the receiver. The matching at the receiver still has to be done globally, i.e., there is only one queue to pick messages from (MPI communication has process-s

[2021-12-13 17:44] hzhou commented on #117
If we simply arrange the messages into multiple queues hashed with tag, that will greatly increase the performance, right?

[2021-12-13 21:30] raffenet commented on #117
I think there is a viewpoint from camp B that is still missing from this thread. I mostly heard @schulzm voicing this during the virtual meeting. I will try to explain to the best I can, and he can jump in to correct me if I misunderstand.

It isn't just that the camp B interpretation is more flexible and therefore gives implementations more opportunity for performance optimization. It is that the

[2021-12-14 00:31] schulzm commented on #117
@raffenet - yes, this was one of my concerns: if we want MPI to obey any possible thread synchronization, we also have to do this for any kind of thread or task system, basically any runtime that provides some form of concurrency - independent of whether there is an actual synchronization by the programming model or not. Especially for models that are based on asynchronous tasks, which likely do n

[2021-12-14 01:49] devreal opened #533 "Is passing NULL as choice argument legal?"
tl/dr: MPI should specify whether passing an invalid pointer (`NULL` in C) as choice argument is valid if zero elements are to be received/sent.

# Problem

Passing null-pointer to `memcpy` is undefined behavior in C [1].  The C standard states (N1570, 7.1.4, 1): [emphasize mine]

We probably all know that UB is among the worst areas of the C language as it allows compilers to do all kinds of opti

[2021-12-14 02:58] hzhou commented on #117
The user runtime model (e.g. OpenMP) and MPI runtime model have to both independently define its logical order or (lack of i.e. logical concurrency). Both need to implement their logical order requirement using more lower layer systems, e.g. pthreads. So at some layer, there is a common language -- which we can call it the physical layer. We can go even lower to the OS layer or even CPU architectu

[2021-12-14 06:59] schulzm commented on #117
MPI defines its local concurrency solely on primitives in the MPI standard, not based on any other system (except for the base language). It stays system agnostic with this choice.

OpenMP defines its own requirements based on synchronization and a memory model, the latter posing requirements on the system (which, btw., is not in relation to pthreads, which is stricter). With that it does impose m

[2021-12-14 07:08] schulzm commented on #117
On a more general note, I would like to come back on expectations on the synchronization primitives and the roles of the different programming models.

I still think we are placing the responsibility on the wrong layer: The user places an >>OpenMP<< barrier and with that expects a certain ordering. It should not be the problem of MPI to ensure the OpenMP semantics.

Similarly, when the user places

[2021-12-14 07:17] jprotze commented on #117
MPI does not define concurrency

The concept of concurrent execution is independent from an implementation. If two calls are logically concurrent, they might accidentally execute at the same time. If two calls are logically ordered, they never will never execute at the same time.

MPI can observe logically concurrent, of two threads execute two calls at the same time. This is the only case, where

[2021-12-14 07:24] jprotze commented on #117
MPI does not need to observe the synchronization. MPI just needs to be prepared that there might be no synchronization and make the best out of it.

MPI needs to preserve the order.
Even in multi-threaded execution.
Unless there is no order, which is when things are logically concurrent. In this case, MPI does not need to preserve a non-ordered order.

Or phrasing it the other way arround: If two

[2021-12-14 08:29] jprotze commented on #117
Besides the effects of preemptive thread scheduling might have to an actual execution order, I think the _logically concurrent_ exemption leaves another important wiggling space for an implementation:
[code]
In this example, the receives are logically concurrent and MPI could observe the concurrent execution of the two receives. Both receives try to match with an incoming receive. To avoid deadloc

[2021-12-14 12:06] raffenet commented on #117
Thanks for expanding on this position. What I have been trying to understand is, in your opinion, should the OpenMP Bsend example assertion hold in a MPI_THREAD_SERIALIZED environment? Or is even that an issue because of the barrier being invisible to MPI?

[2021-12-14 15:09] hzhou commented on #117
MPI ultimately will be implemented on a physical system and its logical concept will be *translated* into physical behavior. All abstract models ultimately will be translated into the physical behavior of a physical system, thus even when two abstract systems do not share primitives, they ultimately will share some bases. We should note that this "physical system" is still an abstract "logical sys

[2021-12-14 15:46] hzhou commented on #117
@jprotze I don't disagree with your comments on clocks. But I have different take on the concept of concurrency and order. Read below.

Admittedly this is true. But MPI does not define logical order everywhere. Where there is no logical order defined, there can be concurrency. Since we only have very few places explicitly stating order, e.g. before and after or a serial execution, concurrency is a

[2021-12-14 18:08] VictorEijkhout commented on #533
Similar problem with Fortran: if the buffer is allocatable, but not allocated. Is that legal if the buffer is not referenced?

This may be a more subtle case.

Victor.

[2021-12-14 21:56] jeffhammond commented on #533
I've been passing null and count=0 for years. If count is zero, buffer should not be referenced at all. I do not want to force programmers to pass valid buffers for zero count. That's just going to make code ugly.

[2021-12-15 09:36] RolfRabenseifner commented on #530
Current MPI_OP_CREATE defines callbacks only for (invec,inoutvec) with elementwise inoutvec[i] = invec[i] o inoutvec[i].
The proposed MPI_REDUCE_LOCALS without MPI_INPLACE therefore always requires
  inoutbuf = argbuf ;  user_defined_operation(inbuf, inoutbuf )
which is in contradiction to the performance goals of MPI.
May be resolved by providing this new API only for predefinded operations.
But

[2021-12-15 15:50] jprotze commented on #117
[code]
Does everybody agree that this program can only output `rbuf1 = 1, rbuf2 = 2, rbuf3 = 3`. Considering the 3.5 paragraphs about order, how does camp B justify this outcome?

PS: please note that sbuf3/rbuf3 uses a separate tag and is only there to highlight the multi-threaded application communication (`MPI_THREAD_MULTIPLE`).

[2021-12-15 16:57] Wee-Free-Scot commented on #117
IMHO, both camps agree: this program can only output rbuf1 = 1, rbuf2 = 2, rbuf3 = 3.

The messages containing "1" and "2" cannot be distinguished by the matching rules alone (because same comm, same, source, same dest, same tag) so any receive that matches either one could match the other one. This situation is covered by the first paragraph in §3.5 and the first sentence in the second paragraph

[2021-12-15 17:16] jprotze commented on #117
If you read the first sentence more carefully, you will realize, that the case is not covered by this sentence. The process has clearly multiple threads of execution and MPI can actually observe multiple communication calls from different threads at the same time.

The point I'm trying to make with this example: strictly reading the paragraph with case B glasses, the second paragraph does not defi

[2021-12-15 17:20] garzaran commented on #117
I agree with @jprotze, about the expected behavior of the program.

However, I assume that based on the discussion in the MPI Forum some folks have to see other outcomes as possible. IMO, this example is just one more of how difficult it will become to write MPI + X programs if we allow to have something different interpretations from the programmer's intent.

If the receiver is multithreaded, wha

[2021-12-15 17:56] Wee-Free-Scot commented on #117
Okay, that is an even more extreme reading than the one I was presenting as camp B, we might call that camp C?

Camp C says: the existence of multiple threads that call into MPI results in behaviour that is equivalent to setting the "mpi_assert_allow_overtaking" info assertion for all communicators.

Does that capture this reading of the §3.5 text?

If so, I might ask "how does MPI know/discover t

[2021-12-15 20:15] schulzm commented on #117
In the hope not to kick up a storm, but I think there is actually some merit to what is now called Camp C (I do not agree with the consequences, though, see below) - and again for the same argument that we cannot deal with something in the MPI standard that MPI cannot control.

In MPI we define a library API with bindings for C and Fortran, i.e., we inherit their base semantics. In their basic for

[2021-12-15 20:34] hzhou commented on #117
I disagree. OpenMP is not a base language and not a base layer of MPI. OpenMP, IMHO, is simply a convenience layer for muti-threaded code. I believe, correct me if I am wrong, that all OpenMP code can be translated into an equivallent source code in C and e.g. pthreads which may contain MPI calls. Then MPI do not need to be aware of OpenMP because the latter equivalent doesn't have OpenMP at all.

[2021-12-15 20:45] devreal commented on #117
Allow me to make a radical proposal in response to that: we should deprecate and remove `MPI_THREAD_MULTIPLE`. Last time I checked, multi-threaded execution is not part of any officially supported base language. Plus, the community cannot even agree on what a "thread" actually is, which got us the integration of multiple "thread" models in implementations. That already creates an ecosystem of non-

[2021-12-15 20:47] schulzm commented on #117
OpenMP is just an example - the same problems exist in pthread codes (or with any other threading system/language with its own synchronization. The logically concurrent would also apply to a manually implemented barrier using atomic read and writes.

Same problem: it may ordered from a global point of view, it is still logically concurrent from an MPI point of view: no order is imposed by MPI or b

[2021-12-15 20:51] hzhou commented on #117
I have to admit that It has merit. In our research, we have yet to be convinced that there is any fundamental design that prevents an MPI_THREAD_MULTIPLE application to be rewritten into MPI_THREAD_SINGLE with multiple process-per-node.  But before that, MPI probably needs provide more convenience for user to express their shared-memory need (before users abandon MPI altogether).

[2021-12-15 20:56] schulzm commented on #117
Perhaps that is the crux of it all - I think we are over-evaluating MPI_THREAD_MULTIPLE. It does not define orders or message or calls - it simply allows there to be multiple threads and says MPI will not overlap calls, but act as if it would be executed in some order, nothing more. It is simply a convenience of not having to put locks around the calls yourself. That's it - there is no other conse

[2021-12-15 21:02] devreal commented on #117
For the record: that is Camp A :) there is only "a process" in MPI and the standard defines that messages should be matched in the order they were sent by a process. If two threads send messages in a particular order then that process has sent messages in that order and they have to be matched in that order at the receiver. MPI only makes sure that there is some form of internal safety in case thr

[2021-12-15 21:04] hzhou commented on #117
MPI inherits the language semantics, but I argue that is not the same as MPI *defines* that semantics. This is the same as, for example
[code]
MPI inherits the function call semantics, but it does not *define* the function call, which includes how parameter is passed and value is returned.

More critically, in
[code]
If MPI defines that these two messages need to be ordered, then MPI need to obtai

[2021-12-15 21:11] hzhou commented on #117
One direct consequence is OpenMP applications cannot use MPI anymore. So MPI adoption probably will receive a big blow in the short term. Until MPI improves sufficiently so programmers can replace most of the current OpenMP patterns with similar programming ease in MPI.

[2021-12-15 21:17] garzaran commented on #117
I agree with some of the statements that have been made recently.

MPI does not need (it does not actually know) about whether the MPI calls inside a MPI rank are concurrent or not. But MPI does observe an order, which can be recorded with critical sections or atomics. Obviously, if the program uses a single communicator and multiple threads use the same communicator, there will be contention on t

[2021-12-15 21:18] hzhou commented on #117
What is saying here is **all** MPI calls need to be globally serialized. I really want to see a poll that how many here actually want this.

[2021-12-15 21:20] schulzm commented on #117
I disagree: it may be what we want or what the user expects, but the standard does not suggest an MPI process-wide order as it is written now. It explicitly says, if you have multiple threads (execution elements with a process of some kind) then that order may not exist (that's what it this discussion is coming from).

If this is what we want, this would certainly make the system more predictable,

[2021-12-15 21:37] mhoemmen commented on #117
Please don't break 1-sided with multiple threads, but otherwise OK.

[2021-12-15 21:39] jprotze commented on #117
@schulzm I posted an example earlier, where the logical ordering of one pair of send only relies on base language and MPI semantics:
https://github.com/mpi-forum/mpi-issues/issues/117#issuecomment-989560775

Even for this example, I could not convince everyone, that at least one of the buffers must be 1.

[2021-12-15 21:43] raffenet commented on #117
Issues already exist between MPI+OpenMP today. Of course if the OMP runtime is pthreads-based everything will probably be fine for you program. However, if you swap the OMP runtime for a ULT-based runtime, you may encounter issues unless your MPI is ULT-aware.

To bring up Argobots as example one more time, there is an ABI compatible Argobots runtime for OpenMP, which if used without an Argobots-a

[2021-12-15 21:48] schulzm commented on #117
@jprotze Sure, there can be situations in this example where both are 0 - while the base language guarantees that the first send in each call is executed before the second, MPI makes explicitly no guarantees on separate communicators or even tags. We could also add that, but then we really have to serialize ALL MPI calls.

[2021-12-15 21:55] schulzm commented on #117
Commenting on @raffenet last addition: I agree, there has to be some cooperation between the models. On way is to explicitly include OpenMP and its semantics into the MPI standard (and Argobots, and ...) the other is, we enable the other models to influence MPI's behavior and with that ensure their own semantics. As there is one MPI, but many "X", the latter seems like the easier approach to me, b

[2021-12-15 22:02] jprotze commented on #117
@schulzm my example needs no ordering between different communicators. The example is designed,  that you cannot find an interleaving, were both pair of send calls execute at the same time. Based on base language semantics, either the first send(a) must finish before the second send(a) is even reached, or the first send(b) is finished before the second send(b) is even reached. The other pair is co

[2021-12-15 22:05] raffenet commented on #117
Perhaps I am being optimistic, but I think if we change the document so everyone agrees that is says what camp A says it does, we can still extend MPI to work well with other models. Maybe we standardize the camp A interpretation at the same time we deprecate it 😄. Then we get to work on `MPI_INIT_THREAD2` or whatever the sessions equivalent.

[2021-12-15 22:09] schulzm commented on #117
@jprotze MPI is allowed to buffer the messages as needed - there is no ordering guarantee if the message envelope is not the same and hence, if there is no order promised, it could actively reorder the messages and it would still be legal (independent of the order of the send calls).

Your second point I do agree with - if we still had C++ support in the standard, than the discussion would be a di

[2021-12-15 22:16] devreal commented on #117
Removing `MPI_THREAD_MULTIPLE` would neatly solve this issue: applications simply cannot use blocking operations that risk "threads" getting stuck in MPI because it's clear that only one thread can ever be in MPI at once :man_shrugging:

[2021-12-15 22:23] jprotze commented on #117
My example does not question the random ordering of messages with different envelope. Based on base language semantics, for one pair of send with the same envelope, the first send happens before the other send on the other thread. Based on base language semantics, either send(0) on the first thread happens before send(1) on the other thread, or the other way around. Therefore one of the buffers mu

[2021-12-15 22:24] devreal commented on #117
Don't get me wrong, I care about performance (counting cycles on contended atomics in another project). However, correctness concerns IMO beat performance, esp in HPC where slightly non-deterministic behavior can have tremendous consequences. No one is helped if they get their wrong results faster because MPI does not behave as they expect it to behave in order to save a couple of cycles ("but hey

[2021-12-15 22:31] schulzm commented on #117
I am fully in sync with you on this - correctness first and then performance. However, a global ordering requirement will force order in many/most cases where it is not needed/wanted, just to satisfy the rare case where we need it. Hence we slow everybody down (in the worst case a synchronizing global atomic across an entire machine for every MPI call, as there could be another on some other threa

[2021-12-15 22:35] hzhou commented on #117
Just to be clear, what are these rare cases and special cases that require global ordering?

PS: to clarify my question, the requirement of ordering between two messages that potentially can contend in a matching is not *global* ordering.

[2021-12-15 22:41] devreal commented on #117
I'm sure the OpenMP committee will be thrilled to integrate MPI support, and UCX, OpenSHMEM, GASnet, ... while they are at it. Or if we turn it around, will you accept a patch for my PhD student's XYZ runtime system that he just came up with and that is super cool and that will probably be abandoned in a few months but for which the MPI standard says it should be supported because it is X?

The po

[2021-12-15 22:42] jprotze commented on #117
An uncontended atomic update shouldn't cost more than a local update. So, for the cases without a conflict it does not add cost. The cost for the atomic arises from multiple threads updating the same value.
If a code suffers from such updates and doesn't need the ordering, it better should tell mpi.

[2021-12-15 22:45] jprotze commented on #117
If I recall correctly, there was something like Finepoints on the table a while ago ;)

[2021-12-15 22:55] devreal commented on #117
Valid point. We should survey whether the necessary time-stamping of messages leads to contention for non-conflicting messages (different tag/communicator) in current implementations. I saw hash tables being mentioned somewhere here. Maybe the load of non-conflicting messages is spread out in implementations to avoid unnecessary contention?

[2021-12-15 23:06] besnardjb commented on #117
Sorry for jumping in but I am possibly frustrated and certainly lost trying to digest all these arguments. Node parallelism *is increasing*; I do not see why messages with different matching could not travel in parallel. MPI, to my understanding, is implementing FIFOs between MPI processes given simple matching rules (COMM, RANK, TAG); if matching is different between communicating entities: all i

[2021-12-15 23:09] schulzm commented on #117
@devreal I don't think it is a standards question per se - standards need to provide the mechanisms. It is an implementation issue - if you want to provide an OpenMP implementation that behaves nicely with MPI, you ensure that a barrier also ensures message ordering. Similar for other runtimes.

Also @jprotze and @devreal : a global counter cannot be implemented locally - you have to assume the co

[2021-12-15 23:14] jprotze commented on #117
As long as no other thread accesses the atomic, the value can stay in cache. In cc-numa systems, you will not even observe a difference between atomic/non-atomic variable other than some limits wrt instruction reordering. That's why I say, if the atomic is not contended for the common application, there is no difference between a local counter or an atomic counter.

[2021-12-15 23:32] jprotze commented on #117
As an alternative to a global counter, I guess you have a thread-local counter in mind.

Other than the access to a global variable, which the compiler might optimize to a memory access with a fixed offset to the PC, a thread-local memory access is more tricky and needs more cycles. Although contention-free by design, the base cost for such access is higher.

Btw TLS is a threading feature, which

[2021-12-15 23:42] devreal commented on #117
This is calling for massive mayhem and madness for users. How am I supposed to ever write portable code if an implementation of a *standard* may or may not support my use-case (maybe because my OpenMP library wasn't built with the right headers available)? Standards are there to facilitate the development of portable systems and are a contract between an implementation and a user on what exactly t

[2021-12-16 08:32] mjklemm commented on #117
@raffenet Can you provide me with some pointer to what has been done?  I vaguely recall that it was something that was useful beyond MPI, but I lack the details.

Quite frankly, the OpenMP ARB would have to be convinced to include OpenMP-language for MPI.  The OpenMP API would then face the same issue that the MPI Forum is debating now: what kind of messaging feature should be part of the OpenMP l

[2021-12-16 14:47] raffenet commented on #117
I'm sure there's better information someone from the Fortran WG can provide, but I think this email thread contains the basic change (ASYNC variable attribute) that was made: https://lists.mpi-forum.org/pipermail/mpiwg-fortran/2009-May/000447.html.

[2021-12-19 20:28] jeffhammond commented on #117
If you’re going to go big, deprecate mpif.h.

ISO C11 has threads in the language. Are we not based on C11 now?

Jeff Hammond
***@***.***
http://jeffhammond.github.io/

[2021-12-19 20:33] jeffhammond commented on #117
Please read
https://www.mpi-forum.org/docs/mpi-3.1/mpi31-report/node413.htm

TS 29113 is the important bit.
--
Jeff Hammond
***@***.***
http://jeffhammond.github.io/

[2021-12-19 20:40] jeffhammond commented on #117
This is a naive understanding of how hardware works. An uncontended atomic
update doesn’t know it’s uncontested, otherwise it wouldn’t need to be
atomic. Because it doesn’t know it isn’t uncontended, it must use coherence
flows that assume contention is possible, and those flows have a cost.

The only reason you might not see this cost in the real world is that x86
TSO makes all writes sequentiall

[2021-12-20 00:06] devreal commented on #117
I don't care enough about Fortran to spend time on that, and I don't see how this is relevant here.

The standard does not require a certain version of C (implementations might require a newer version but the standard API is ANSI/ISO C compliant). Neither ANSI/ISO C nor C99 have any mention of threads. I consider ANSI/ISO C the base language for the purpose of this discussion.

[2021-12-20 06:17] jeffhammond commented on #117
Sent from my iPhone

Because if you want break a bunch of codes, you must have an alternative to use. The mpif.h header can be replaced by mpi.mod. If you remove MPI_THREAD_MULTIPLE, you have nothing better to offer.

C11 *is* ISO C. C99 was ISO C. C89 was ISO C before that.

Thank you for confirming that ISO C11 is our base language. As Threads are part of that, MPI_THREAD_MULTIPLE cannot be depr

[2021-12-20 17:58] #449 closed, assigned to cniethammer

[2022-01-08 18:20] devreal commented on #533
From the discussion in the Languages WG: @martinruefenacht seems to be working on contracts as part of the semantic terms chapter. The issue of passing NULL seems to fit there. I don't see any harm in stating this explicitly in one place in the standard, even if it's obvious for people here.

[2022-01-12 10:15] jeffhammond commented on #528
@RolfRabenseifner @hritzdorf could one of you look at this and let me know if there are any reasons why we should not continue working on it?

[2022-01-12 16:15] RolfRabenseifner commented on #528
The proposal does not tell, wether it is for mpi_f08, mpi or mpif.h?

I expect, it is only for mpi_f08, because it is only a proposal for new software and that should use mpi_f08.

The proposal is technically wrong, because it does not include a concept for new specific procedure names, see MPI-4.0 Sect. 19.1.5, Table 19.1 on page 799 plus the "_c" specific name portions for large count versions a

[2022-01-12 16:26] VictorEijkhout commented on #528
Maybe not needed, but “sorely wanted”.

I’d have to see what my compiler says about a literal zero, but I seem to recall that it took me quite a bit of searching the first time I ran into this. Fortran users may indeed know, but I fear they may not. So why not make life a little more logical for them?

Looking at it purely from a user perspective.

Victor.

[2022-01-12 17:03] RolfRabenseifner commented on #528
It would be cheaper to add nice examples at prominent places, for example on MPI_Put.

Or/and you may add two Advice to users in 2.6.2 (mentioning the 0_MPI_ADDRESS_KIND notation) and 2.6.3 (mentioning the automatic cast for call-by-value-arguments).

You may look at my MPI course,
Slide 357 "MPI–One-sided Exercise 2: additional hints"
at https://www.hlrs.de/training/par-prog-ws/MPI-course-materia

[2022-01-18 16:43] cniethammer opened #534 "Clarify/fix description and usage of MPI_GROUP_NULL"
# Problem

MPI 4.0 Section 7.2.1 on page 314 defines the invalid group handle `MPI_GROUP_NULL`. It includes the following advice to users stating:

The sessions model introduced the new function `MPI_Group_from_session_pset` that returns `MPI_GROUP_NULL` if a passed pset name is not known. Example 11.9 shows its usage. In this example the variable `wgroup` is initialized with the value `MPI_GROUP_

[2022-01-21 14:19] wrwilliams commented on #519
As I attempt to write up a PR for this, it occurs to me that the `Test[any|some|all]` cases and the `Wait[any|some|all]` cases are not analogous in a tool's ability to benefit from `get_status_[any|some|all]`. For the `Test*` cases, what we have in the issue description is correct and useful regardless of whether `get_status_*` make progress or not. For the `Wait*` cases, however, we are looking a

[2022-01-21 14:28] wgropp commented on #519
I would say no. We already have MPI_Testall that makes progress and provides information on request state, and that is how examples like this are typically written. If Request_get_status does guarantee progress, what routine should I use for a lighter weight access to the status in a request?

[2022-01-21 15:01] jprotze commented on #519
If request_get_status_all does not make progress, the MPI_Testall function in the issue is not correct, as it does not make progress.
In this case, I suggest to not use the request_get_status family, but add new functions similar to the test family, which does not free the request.

[2022-01-21 15:05] wrwilliams commented on #519
The problem with MPI_Testall here is that after a successful test, we are guaranteed that each element of `req` is freed and overwritten, though. So there is no window where a tool can say "Now I know that the wait condition has been met, *and* I can use the request objects to update internal data".

I fear this is the crux of the issue: we seem to want the get_status interface(s) to serve two pur

[2022-01-21 15:09] jprotze commented on #519
The idea of all the examples is to call MPI_Test* only on success with the requests completed according to the get_status function to finally release these requests. So, no this function does not help to make progress on non-completed requests.

[2022-01-21 15:16] wrwilliams commented on #519
...right. It has been a little while since we wrote those examples. And if the function is going to make progress it has to do so on all possible execution paths, doesn't it?

[2022-01-21 16:55] devreal commented on #519
The problem here is that MPI does not make progress explicit. If it did, tools would have control over triggering progress and performing a non-destructive non-progressing test. I agree with @wgropp that adding progress to `PMPI_Request_get_status` defeats the purpose of having a lightweight status query function.

I wonder whether you could simply chop up the input array and test/wait on the chun

[2022-01-24 16:26] hppritcha opened #535 "Language bindings chapter needs updating for Sessions model"
The subsection of the language bindings chapter concerning initialization - section 19.3.3 of the MPI 4 standard - needs to be updated to cover cases where the Sessions model is used to allocate MPI resources.  Ideally these changes should make it in to the MPI 4.1 standard.